{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER XI. Who Stole the Tarts? - Part 1</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>The King and Queen of Hearts were seated on their throne when they
        arrived, with a great crowd assembled about them—all sorts of little
        birds and beasts, as well as the whole pack of cards: the Knave was
        standing before them, in chains, with a soldier on each side to guard
        him; and near the King was the White Rabbit, with a trumpet in one
        hand, and a scroll of parchment in the other. In the very middle of the
        court was a table, with a large dish of tarts upon it: they looked so
        good, that it made Alice quite hungry to look at them—“I wish they’d
        get the trial done,” she thought, “and hand round the refreshments!”
        But there seemed to be no chance of this, so she began looking at
        everything about her, to pass away the time.</p>
        <p>Alice had never been in a court of justice before, but she had read
        about them in books, and she was quite pleased to find that she knew
        the name of nearly everything there. “That’s the judge,” she said to
        herself, “because of his great wig.”</p>
        <p>The judge, by the way, was the King; and as he wore his crown over the
        wig, (look at the frontispiece if you want to see how he did it,) he
        did not look at all comfortable, and it was certainly not becoming.</p>
        <p>“And that’s the jury-box,” thought Alice, “and those twelve creatures,”
        (she was obliged to say “creatures,” you see, because some of them were
        animals, and some were birds,) “I suppose they are the jurors.” She
        said this last word two or three times over to herself, being rather
        proud of it: for she thought, and rightly too, that very few little
        girls of her age knew the meaning of it at all. However, “jury-men”
        would have done just as well.</p>
        <p>The twelve jurors were all writing very busily on slates. “What are
        they doing?” Alice whispered to the Gryphon. “They can’t have anything
        to put down yet, before the trial’s begun.”</p>
        <p>“They’re putting down their names,” the Gryphon whispered in reply,
        “for fear they should forget them before the end of the trial.”</p>
        <p>“Stupid things!” Alice began in a loud, indignant voice, but she
        stopped hastily, for the White Rabbit cried out, “Silence in the
        court!” and the King put on his spectacles and looked anxiously round,
        to make out who was talking.</p>
        <p>Alice could see, as well as if she were looking over their shoulders,
        that all the jurors were writing down “stupid things!” on their slates,
        and she could even make out that one of them didn’t know how to spell
        “stupid,” and that he had to ask his neighbour to tell him. “A nice
        muddle their slates’ll be in before the trial’s over!” thought Alice.</p>
        <p>One of the jurors had a pencil that squeaked. This of course, Alice
        could _not_ stand, and she went round the court and got behind him, and
        very soon found an opportunity of taking it away. She did it so quickly
        that the poor little juror (it was Bill, the Lizard) could not make out
        at all what had become of it; so, after hunting all about for it, he
        was obliged to write with one finger for the rest of the day; and this
        was of very little use, as it left no mark on the slate.</p>
        <p>“Herald, read the accusation!” said the King.</p>
        <p>On this the White Rabbit blew three blasts on the trumpet, and then
        unrolled the parchment scroll, and read as follows:—</p>
        <p>“The Queen of Hearts, she made some tarts,
            All on a summer day:
        The Knave of Hearts, he stole those tarts,
            And took them quite away!”</p>
        <p>“Consider your verdict,” the King said to the jury.</p>
        <p>“Not yet, not yet!” the Rabbit hastily interrupted. “There’s a great
        deal to come before that!”</p>
        <p>“Call the first witness,” said the King; and the White Rabbit blew
        three blasts on the trumpet, and called out, “First witness!”</p>
        <p>The first witness was the Hatter. He came in with a teacup in one hand
        and a piece of bread-and-butter in the other. “I beg pardon, your
        Majesty,” he began, “for bringing these in: but I hadn’t quite finished
        my tea when I was sent for.”</p>
        <p>“You ought to have finished,” said the King. “When did you begin?”</p>
        <p>The Hatter looked at the March Hare, who had followed him into the
        court, arm-in-arm with the Dormouse. “Fourteenth of March, I _think_ it
        was,” he said.</p>
        <p>“Fifteenth,” said the March Hare.</p>
        <p>“Sixteenth,” added the Dormouse.</p>
    </div>
    <p class="w3-large"id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What is ‘slate’?</p>
        <p>2. What assembly was Alice in?</p>
        <p>3. What was so funny about the jurors?</p>
        <p>4. What was so funny about Bill, the Lizard?</p>
        <p>5. What crime did the Knave of heart commit?</p>
        <p>6. Who was the first witness?</p>
        <p>7. What do you think did Alice think about this trial so far?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. In this context, 'slate' refers to a flat piece of stone or other material used for writing or drawing on.</p>
        <p>2. Alice was in a court of justice.</p>
        <p>3. The jurors were writing their names on slates, but Alice could see that some of them were writing "stupid things!" on their slates, and one of them didn't know how to spell "stupid" and had to ask his neighbor to tell him. Alice thought it would be a nice muddle by the end of the trial.</p>
        <p>4. Alice found it funny that Bill, the Lizard, had a pencil that squeaked, and she quickly took it away from him, leaving him to write with one finger for the rest of the day.</p>
        <p>5. The Knave of Hearts stole some tarts that were made by the Queen of Hearts on a summer day.</p>
        <p>6. The first witness was the Hatter, who came into the court holding a teacup and a piece of bread-and-butter.</p>
        <p>7. Alice thought that the trial was a mess and that the jurors were writing down stupid things on their slates. She also predicted that their slates would be in a nice muddle before the trial was over.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER XI. Who Stole the Tarts? - Part 2</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>“Write that down,” the King said to the jury, and the jury eagerly
        wrote down all three dates on their slates, and then added them up, and
        reduced the answer to shillings and pence.</p>
        <p>“Take off your hat,” the King said to the Hatter.</p>
        <p>“It isn’t mine,” said the Hatter.</p>
        <p>“<em>Stolen!</em>” the King exclaimed, turning to the jury, who instantly made
        a memorandum of the fact.</p>
        <p>“I keep them to sell,” the Hatter added as an explanation; “I’ve none
        of my own. I’m a hatter.”</p>
        <p>Here the Queen put on her spectacles, and began staring at the Hatter,
        who turned pale and fidgeted.</p>
        <p>“Give your evidence,” said the King; “and don’t be nervous, or I’ll
        have you executed on the spot.”</p>
        <p>This did not seem to encourage the witness at all: he kept shifting
        from one foot to the other, looking uneasily at the Queen, and in his
        confusion he bit a large piece out of his teacup instead of the
        bread-and-butter.</p>
        <p>Just at this moment Alice felt a very curious sensation, which puzzled
        her a good deal until she made out what it was: she was beginning to
        grow larger again, and she thought at first she would get up and leave
        the court; but on second thoughts she decided to remain where she was
        as long as there was room for her.</p>
        <p>“I wish you wouldn’t squeeze so.” said the Dormouse, who was sitting
        next to her. “I can hardly breathe.”</p>
        <p>“I can’t help it,” said Alice very meekly: “I’m growing.”</p>
        <p>“You’ve no right to grow <em>here</em>,” said the Dormouse.</p>
        <p>“Don’t talk nonsense,” said Alice more boldly: “you know you’re growing
        too.”</p>
        <p>“Yes, but <em>I</em> grow at a reasonable pace,” said the Dormouse: “not in
        that ridiculous fashion.” And he got up very sulkily and crossed over
        to the other side of the court.</p>
        <p>All this time the Queen had never left off staring at the Hatter, and,
        just as the Dormouse crossed the court, she said to one of the officers
        of the court, “Bring me the list of the singers in the last concert!”
        on which the wretched Hatter trembled so, that he shook both his shoes
        off.</p>
        <p>“Give your evidence,” the King repeated angrily, “or I’ll have you
        executed, whether you’re nervous or not.”</p>
        <p>“I’m a poor man, your Majesty,” the Hatter began, in a trembling voice,
        “—and I hadn’t begun my tea—not above a week or so—and what with the
        bread-and-butter getting so thin—and the twinkling of the tea—”</p>
                <p>“The twinkling of the _what?_” said the King.</p>
        <p>“It _began_ with the tea,” the Hatter replied.</p>
        <p>“Of course twinkling begins with a T!” said the King sharply. “Do you
        take me for a dunce? Go on!”</p>
        <p>“I’m a poor man,” the Hatter went on, “and most things twinkled after
        that—only the March Hare said—”</p>
        <p>“I didn’t!” the March Hare interrupted in a great hurry.</p>
        <p>“You did!” said the Hatter.</p>
        <p>“I deny it!” said the March Hare.</p>
        <p>“He denies it,” said the King: “leave out that part.”</p>
        <p>“Well, at any rate, the Dormouse said—” the Hatter went on, looking
        anxiously round to see if he would deny it too: but the Dormouse denied
        nothing, being fast asleep.</p>
        <p>“After that,” continued the Hatter, “I cut some more bread-and-butter—”</p>
        <p>“But what did the Dormouse say?” one of the jury asked.</p>
        <p>“That I can’t remember,” said the Hatter.</p>
        <p>“You _must_ remember,” remarked the King, “or I’ll have you executed.”</p>
        <p>The miserable Hatter dropped his teacup and bread-and-butter, and went
        down on one knee. “I’m a poor man, your Majesty,” he began.</p>
        <p>“You’re a _very_ poor _speaker_,” said the King.</p>
        <p>Here one of the guinea-pigs cheered, and was immediately suppressed by
        the officers of the court. (As that is rather a hard word, I will just
        explain to you how it was done. They had a large canvas bag, which tied
        up at the mouth with strings: into this they slipped the guinea-pig,
        head first, and then sat upon it.)</p>
        <p>“I’m glad I’ve seen that done,” thought Alice. “I’ve so often read in
        the newspapers, at the end of trials, “There was some attempts at
        applause, which was immediately suppressed by the officers of the
        court,” and I never understood what it meant till now.”</p>
        <p>“If that’s all you know about it, you may stand down,” continued the
        King.</p>
        <p>“I can’t go no lower,” said the Hatter: “I’m on the floor, as it is.”</p>
        <p>“Then you may _sit_ down,” the King replied.</p>
        <p>Here the other guinea-pig cheered, and was suppressed.</p>
        <p>“Come, that finished the guinea-pigs!” thought Alice. “Now we shall get
        on better.”</p>
        <p>“I’d rather finish my tea,” said the Hatter, with an anxious look at
        the Queen, who was reading the list of singers.</p>
        <p>“You may go,” said the King, and the Hatter hurriedly left the court,
        without even waiting to put his shoes on.</p>
                <p>“—and just take his head off outside,” the Queen added to one of the
        officers: but the Hatter was out of sight before the officer could get
        to the door.</p>
        <p>“Call the next witness!” said the King.</p>
        <p>The next witness was the Duchess’s cook. She carried the pepper-box in
        her hand, and Alice guessed who it was, even before she got into the
        court, by the way the people near the door began sneezing all at once.</p>
        <p>“Give your evidence,” said the King.</p>
        <p>“Shan’t,” said the cook.</p>
        <p>The King looked anxiously at the White Rabbit, who said in a low voice,
        “Your Majesty must cross-examine _this_ witness.”</p>
        <p>“Well, if I must, I must,” the King said, with a melancholy air, and,
        after folding his arms and frowning at the cook till his eyes were
        nearly out of sight, he said in a deep voice, “What are tarts made of?”</p>
        <p>“Pepper, mostly,” said the cook.</p>
        <p>“Treacle,” said a sleepy voice behind her.</p>
        <p>“Collar that Dormouse,” the Queen shrieked out. “Behead that Dormouse!
        Turn that Dormouse out of court! Suppress him! Pinch him! Off with his
        whiskers!”</p>
        <p>For some minutes the whole court was in confusion, getting the Dormouse
        turned out, and, by the time they had settled down again, the cook had
        disappeared.</p>
        <p>“Never mind!” said the King, with an air of great relief. “Call the
        next witness.” And he added in an undertone to the Queen, “Really, my
        dear, _you_ must cross-examine the next witness. It quite makes my
        forehead ache!”</p>
        <p>Alice watched the White Rabbit as he fumbled over the list, feeling
        very curious to see what the next witness would be like, “—for they
        haven’t got much evidence _yet_,” she said to herself. Imagine her
        surprise, when the White Rabbit read out, at the top of his shrill
        little voice, the name “Alice!”</p>
    </div>
    <p class="w3-large"id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. In what way did the king not encourage the witness?</p>
        <p>2. Usually, what happens after the end of a trial?</p>
        <p>3. What do you think the Hatter felt when the king said 'you may go'?</p>
        <p>4. Who is the next witness after the Hatter? Why did Alice know who she is before she enters the court?</p>
        <p>5. Why was the queen angry at the Dormouse?</p>
        <p>6. By now, you should know when the queen is fury, what did she like to do?</p>
        <p>7. What do you think will happen next?</p>
        <p>8. Can you find a funny part in the passage?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The king did not encourage the witness by asking her to give her evidence.</p>
        <p>2. After the end of a trial, the next witness is called.</p>
        <p>3. The text does not provide a clear indication of what the Hatter felt when the king said 'you may go'.</p>
        <p>4. The next witness after the Hatter is the Duchess's cook. Alice knew who she was before she entered the court because the people near the door began sneezing all at once, indicating that the cook was carrying the pepper-box in her hand.</p>
        <p>5. The queen was angry at the Dormouse because he interrupted the trial by contradicting the cook's testimony.</p>
        <p>6. When the queen is furious, she likes to call for the execution of the offending party, such as "beheading" or "suppressing" them.</p>
        <p>7. It is unclear what will happen next, as the text does not provide any further information about the trial.</p>
        <p>8. One funny part in the passage is when the King asks the cook, "What are tarts made of?" and the Dormouse interrupts with "Treacle," causing the Queen to demand that he be punished and creating chaos in the court.</p>
    </div>
</div>


<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}
</script>
{% endblock %}