{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 26. How it Ended</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
It must have been nearly midnight when I heard at a great distance the<br>
sound of a horse's feet. Sometimes the sound died away, then it grew<br>
clearer again and nearer. The road to Earlshall led through woods that<br>
belonged to the earl; the sound came in that direction, and I hoped it<br>
might be some one coming in search of us. As the sound came nearer and<br>
nearer I was almost sure I could distinguish Ginger's step; a little<br>
nearer still, and I could tell she was in the <span class="GramE">dog-cart</span>.
I neighed<br>
<span class="GramE">loudly, and</span> was overjoyed to hear an answering neigh
from Ginger, and<br>
men's voices. They came slowly over the <span class="GramE">stones, and</span>
stopped at the dark<br>
figure that lay upon the ground.<br>
<br>
One of the men jumped out, and stooped down over it. "It is Reuben,"
he<br>
said, "and he does not stir!"<br>
<br>
The other man <span class="GramE">followed, and</span> bent over him. "He's
dead," he said; "feel<br>
how cold his hands are."<br>
<br>
They raised him up, but there was no life, and his hair was soaked with<br>
blood. They laid him down <span class="GramE">again, and</span> came and looked
at me. They soon<br>
saw my cut knees.<br>
<br>
"Why, the horse has been down and thrown him! Who would have thought the<br>
black horse would have done that? Nobody thought he could fall. Reuben<br>
must have been lying here for hours! Odd, too, that the horse has not<br>
moved from the place."<br>
<br>
Robert then attempted to lead me forward. I made a step, but almost fell<br>
again.<br>
<br>
"Halloo! he's bad in his foot as well as his knees. Look here--his hoof<br>
is cut all to pieces; he might well come down, poor fellow! I tell you<br>
what, Ned, I'm afraid it hasn't been all right with Reuben. Just think<br>
of his riding a horse over these stones without a shoe! Why, if he had<br>
been in his right senses he would just as soon have tried to ride him<br>
over the moon. I'm afraid it has been the old thing over again. Poor<br>
Susan! she looked awfully pale when she came to my house to ask if<br>
he had not come home. She made believe she was not a bit anxious, and<br>
talked of a lot of things that might have kept him. But for all that she<br>
begged me to go and meet him. But what must we do? There's the horse to<br>
get home as well as the body, and that will be no easy matter."<br>
<br>
Then followed a conversation between them, till it was agreed that<br>
Robert, as the groom, should lead me, and that Ned must take the body.<br>
It was a hard job to get it into the dog-cart, for there was no one to<br>
hold Ginger; but she knew as well as I did what was going on, and stood<br>
as still as a stone. I noticed that, because, if she had a fault, it was<br>
that she was impatient in standing.<br>
<br>
Ned started off very slowly with his sad load, and Robert came and<br>
looked at my foot again; then he took his handkerchief and bound it<br>
closely round, and so he led me home. I shall never forget that night<br>
walk; it was more than three miles. Robert led me on very slowly, and I<br>
limped and hobbled on as well as I could with great pain. I am sure he<br>
was sorry for me, for he often patted and encouraged me, talking to me<br>
in a pleasant voice.<br>
<br>
At last I reached my own box, and had some corn; and after Robert<br>
had wrapped up my knees in wet cloths, he tied up my foot in a bran<br>
poultice, to draw out the heat and cleanse it before the horse-doctor<br>
saw it in the morning, and I managed to get myself down on the straw,<br>
and slept in spite of the pain.<br>
<br>
The next day after the farrier had examined my wounds, he said he hoped<br>
the joint was not injured; and if so, I should not be spoiled for work,<br>
but I should never lose the blemish. I believe they did the best to make<br>
a good cure, but it was a long and painful one. Proud flesh, as they<br>
called it, came up in my knees, and was burned out with caustic; and<br>
when at last it was healed, they put a blistering fluid over the front<br>
of both knees to bring all the hair off; they had some reason for this,<br>
and I suppose it was all right.<br>
<br>
As Smith's death had been so sudden, and no one was there to see it,<br>
there was an inquest held. The landlord and hostler at the White Lion,<br>
with several other people, gave evidence that he was intoxicated when he<br>
started from the inn. The keeper of the <span class="GramE">toll-gate</span> said
he rode at a hard<br>
gallop through the gate; and my shoe was picked up among the stones, so<br>
that the case was quite plain to them, and I was cleared of all blame.<br>
<br>
Everybody pitied Susan. She was nearly out of her mind; she kept saying<br>
<span class="GramE">over and over again</span>, "Oh! he was so good--so
good! It was all that<br>
cursed drink; why will they sell that cursed drink? Oh Reuben, Reuben!"<br>
So she went on till after he was buried; and then, as she had no home or<br>
relations, she, with her six little children, was obliged once more to<br>
leave the pleasant home by the tall oak-trees, and go into that great<br>
gloomy Union House.<br>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. How did Black Auster react when he heard Ginger approaching, and what did the men discover when they reached the dark figure on the ground?</p>
        <p>2. What challenges did Robert face while leading Black Auster and accompanying Ned, who carried Reuben's body, on the way back home?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Black Auster neighed loudly upon hearing Ginger approaching. When the men reached the dark figure on the ground, they discovered that it was Reuben, who was motionless and had a soaked hair with blood, indicating a serious injury.</p>
        <p>2. Robert faced the challenge of leading Black Auster, who was injured and limping, while accompanying Ned, who carried Reuben's body. Additionally, they needed to load the body into the dog-cart, and the absence of someone to hold Ginger made it a difficult task.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 27. Ruined and Going Downhill</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
      <p><br>
As soon as my knees were sufficiently <span class="GramE">healed</span> I was
turned into a small<br>
meadow for a month or two; no other creature was there; and though I<br>
enjoyed the liberty and the sweet grass, yet I had been so long used to<br>
society that I felt very lonely. Ginger and I had become fast friends,<br>
and now I missed her company extremely. I often neighed when I heard<br>
horses' feet passing in the road, but I seldom got an answer; till one<br>
morning the gate was opened, and who should come in but dear old Ginger.<br>
The man slipped off her <span class="GramE">halter, and</span> left her there.
With a joyful whinny<br>
I trotted up to her; we were both glad to meet, but I soon found that it<br>
was not for our pleasure that she was brought to be with me. Her story<br>
would be too long to tell, but the end of it was that she had been<br>
ruined by hard <span class="GramE">riding, and</span> was now turned off to see
what rest would do.<br>
<br>
Lord George was young and would take no warning; he was a hard rider,<br>
and would hunt whenever he could get the chance, quite careless of his<br>
horse. Soon after I left the stable there was a steeplechase, and he<br>
determined to ride. Though the groom told him she was a little strained,<br>
and was not fit for the race, he did not believe it, and on the day of<br>
the race urged Ginger to keep up with the foremost riders. With her high<br>
spirit, she strained herself to the utmost; she came in with the first<br>
three horses, but her wind was touched, besides which he was too heavy<br>
for her, and her back was strained. "And so," she said, "here we
are,<br>
ruined in the prime of our youth and strength, you by a drunkard, and I<br>
by a fool; it is very hard." We both felt in ourselves that we were not<br>
what we had been. However, that did not spoil the pleasure we had in<br>
each other's company; we did not gallop about as we once did, but we<br>
used to feed, and lie down together, and stand for hours under one<br>
of the shady lime-trees with our heads close to each other; and so we<br>
passed our time till the family returned from town.<br>
<br>
One day we saw the earl come into the meadow, and York was with him.<br>
Seeing who it was, we stood still under our lime-tree, and let them come<br>
up to us. They examined us carefully. The earl seemed much annoyed.<br>
<br>
"There is three hundred pounds flung away for no earthly use," said
he;<br>
"but what I care most for is that these horses of my old friend, who<br>
thought they would find a good home with me, are ruined. The mare shall<br>
have a twelve-month's run, and we shall see what that will do for her;<br>
but the black one, he must be sold; 'tis a great pity, but I could not<br>
have knees like these in my stables."<br>
<br>
"No, my lord, of course not," said York; "but he might get a
place where<br>
appearance is not of much consequence, and still be well treated. I know<br>
a man in Bath, the master of some livery stables, who often wants a<br>
good horse at a low figure; I know he looks well after his horses.<br>
The inquest cleared the horse's character, and your lordship's<br>
recommendation, or mine, would be sufficient warrant for him."<br>
<br>
"You had better write to him, York. I should be more particular about<br>
the place than the money he would fetch."<br>
<br>
After this they left us.<br>
<br>
"They'll soon take you away," said Ginger, "and I shall lose the
only<br>
friend I have, and most likely we shall never see each other again. 'Tis<br>
a hard world!"<br>
<br>
About a week after this Robert came into the field with a halter, which<br>
he slipped over my head, and led me away. There was no leave-taking<br>
of Ginger; we neighed to each other as I was led off, and she trotted<br>
anxiously along by the hedge, calling to me <span class="GramE">as long as</span>
she could hear<br>
the sound of my feet.<br>
<br>
Through the recommendation of York, I was bought by the master of the<br>
livery stables. I had to go by train, which was new to me, and required<br>
a good deal of courage the first time; but as I found the puffing,<br>
rushing, whistling, and, more than all, the trembling of the horse-box<br>
in which I stood did me no real harm, I soon took it quietly.<br>
<br>
When I reached the end of my journey I found myself in a tolerably<br>
comfortable stable, and well attended to. These stables were not so<br>
airy and pleasant as those I had been used to. The stalls were laid on<br>
a slope instead of being level, and as my head was kept tied to the<br>
manger, I was obliged always to stand on the slope, which was very<br>
fatiguing. Men do not seem to know yet that horses can do more work if<br>
they can stand comfortably and can turn about; however, I was well fed<br>
and well cleaned, and, <span class="GramE">on the whole</span>, I think our
master took as much<br>
care of us as he could. He kept a good many horses and carriages of<br>
different kinds for hire. Sometimes his own men drove them; at<br>
others, the horse and chaise were let to gentlemen or ladies who drove<br>
themselves.<br>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did Ginger come to stay with Black Auster in the small meadow, and what had happened to her?</p>
        <p>2. What was the Earl's reaction when he saw Black Auster and Ginger in the meadow, and what decision did he make about Black Auster's future?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Ginger came to stay with Black Auster in the small meadow because she had been ruined by hard riding, particularly in a steeplechase where she was urged to keep up with the foremost riders despite being strained and unfit. She was now turned off to rest and recover.</p>
        <p>2. The Earl was annoyed when he saw Black Auster and Ginger in the meadow, realizing that the horses were ruined. He decided that Ginger would have a twelve-month's run to recover, but Black Auster, due to his knees, had to be sold. York suggested a man in Bath who might buy him for livery stables, and the Earl agreed, expressing concern more about the horse's well-being than the money he would fetch.</p>
    </div>
</div>

<!-- Reading Section 3 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 28. A Job Horse and His Drivers</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
Hitherto I had always been driven by people who at least knew how to<br>
drive; but in this place I was to get my experience of all the different<br>
kinds of bad and ignorant driving to which we horses are subjected; for<br>
I was a "job horse", and was let out to all sorts of people who
wished<br>
to hire me; and as I was good-tempered and gentle, I think I was oftener<br>
let out to the ignorant drivers than some of the other horses, because<br>
I could be depended upon. It would take a long time to tell of all the<br>
different styles in which I was driven, but I will mention a few of<br>
them.<br>
<br>
First, there were the tight-rein drivers--men who seemed to think that<br>
all depended on holding the reins as hard as they could, never relaxing<br>
the pull on the horse's mouth, or giving him the least liberty of<br>
movement. They are always talking about "keeping the horse well in<br>
hand", and "holding a horse up", just as if a horse was not made
to hold<br>
himself up.<br>
<br>
Some poor, broken-down horses, whose mouths have been made hard and<br>
insensible by just such drivers as these, may, perhaps, find some<br>
support in it; but for a horse who can depend upon his own legs, and who<br>
has a tender mouth and is easily guided, it is not only tormenting, but<br>
it is stupid.<br>
<br>
Then there are the loose-rein drivers, who let the reins lie easily on<br>
our backs, and their own hand rest lazily on their knees. Of course,<br>
such gentlemen have no control over a <span class="GramE">horse, if</span>
anything happens<br>
suddenly. If a horse shies, or starts, or stumbles, they are nowhere,<br>
and cannot help the horse or themselves till the mischief is done. Of<br>
course, for myself I had no objection to it, as I was not in the habit<br>
either of starting or <span class="GramE">stumbling, and</span> had only been
used to depend on my<br>
driver for guidance and encouragement. Still, one likes to feel the rein<br>
a little in going <span class="GramE">downhill, and</span> likes to know that
one's driver is not<br>
gone to sleep.<br>
<br>
Besides, a slovenly way of driving gets a horse into bad and often lazy<br>
habits, and when he changes hands he has to be whipped out of them with<br>
more or less pain and trouble. Squire Gordon always kept us to our best<br>
paces and our best manners. He said that spoiling a horse and letting<br>
him get into bad habits was just as cruel as spoiling a child, and both<br>
had to suffer for it afterward.<br>
<br>
Besides, these drivers are often careless altogether, and will attend to<br>
anything else more than their horses. I went out in the phaeton one day<br>
with one of them; he had a lady and two children behind. He flopped the<br>
reins about as we started, and of course gave me several unmeaning cuts<br>
with the whip, though I was <span class="GramE">fairly off</span>. There had been
a good deal of<br>
road-mending going on, and even where the stones were not freshly laid<br>
down there were a great many loose ones about. My driver was laughing<br>
and joking with the lady and the children, and talking about the country<br>
to the right and the left; but he never thought it worth while to keep<br>
an eye on his horse or to drive on the smoothest parts of the road; and<br>
so it easily happened that I got a stone in one of my fore feet.<br>
<br>
Now, if Mr. Gordon or John, or in fact any good driver, had been there,<br>
he would have seen that something was wrong before I had gone three<br>
paces. Or even if it had been <span class="GramE">dark</span> a practiced hand
would have felt by<br>
the rein that there was something wrong in the step, and they would have<br>
got down and picked out the stone. But this man went on laughing and<br>
talking, while at every step the stone became more firmly wedged between<br>
my shoe and the frog of my foot. The stone was sharp on the inside and<br>
round on the outside, which, as every one knows, is the most dangerous<br>
kind that a horse can pick up, at the same time cutting his foot and<br>
making him most liable to stumble and fall.<br>
<br>
Whether the man was partly blind or only very careless I can't say, but<br>
he drove me with that stone in my foot for a good half-mile before he<br>
saw anything. By that <span class="GramE">time</span> I was going so lame with
the pain that at<br>
last he saw it, and called out, "Well, here's a go! Why, they have sent<br>
us out with a lame horse! What a shame!"<br>
<br>
He then chucked the reins and flipped about with the whip, saying, "Now,<br>
then, it's no use playing the old soldier with me; there's the journey<br>
to go, and it's no use turning lame and lazy."<br>
<br>
Just at this time a farmer came riding up on a brown cob. He lifted his<br>
hat and pulled up.<br>
<br>
"I beg your pardon, sir," he said, "but I think there is
something the<br>
matter with your horse; he goes very much as if he had a stone in<br>
his shoe. If you <span class="GramE">will allow</span> me I will look at his
feet; these loose<br>
scattered stones are confounded dangerous things for the horses."<br>
<br>
"He's a hired horse," said my driver. "I don't know what's the
matter<br>
with him, but it is a great shame to send out a lame beast like this."<br>
<br>
The farmer dismounted, and slipping his rein over his arm at once took<br>
up my near foot.<br>
<br>
"Bless me, there's a stone! Lame! I should think so!"<br>
<br>
At <span class="GramE">first</span> he tried to dislodge it with his hand, but as
it was now<br>
very tightly wedged he drew a stone-pick out of his pocket, and very<br>
carefully and with some trouble got it out. Then holding it up he said,<br>
"There, that's the stone your horse had picked up. It is a wonder he did<br>
not <span class="GramE">fall down</span> and break his knees into the
bargain!"<br>
<br>
"Well, to be sure!" said my driver; "that is a queer thing! I
never knew<br>
that horses picked up stones before."<br>
<br>
"Didn't you?" said the farmer rather contemptuously; "but they
do,<br>
though, and the best of them will do it, and can't help it sometimes on<br>
such roads as these. And if you don't want to lame your horse you must<br>
look sharp and get them out quickly. This foot is very much bruised,"<br>
he said, setting it gently down and patting me. "If I might advise,<br>
sir, you had better drive him gently for awhile; the foot is a good deal<br>
hurt, and the lameness will not go off directly."<br>
<br>
Then mounting his cob and raising his hat to the lady he trotted off.<br>
<br>
When he was gone my driver began to flop the reins about and whip the<br>
harness, by which I understood that I was to go on, which of course I<br>
did, glad that the stone was gone, but still in a good deal of pain.<br>
<br>
This was the sort of experience we job horses often came in for.<br>
    </div>
    <p class="w3-large" id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why was Black Beauty often let out to ignorant drivers, and what was his advantage in such situations?</p>
        <p>2. Describe two types of bad driving mentioned in the text and explain why they are not suitable for horses.</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Black Beauty was often let out to ignorant drivers because he was a "job horse" available for hire. His advantage in such situations was that he was good-tempered and gentle, making him dependable for drivers who were not skilled or experienced.</p>
        <p>2. Two types of bad driving mentioned are tight-rein driving and loose-rein driving. Tight-rein driving involves holding the reins too hard, causing discomfort to the horse, while loose-rein driving allows too much freedom and lacks control, making it dangerous for sudden events. Both approaches are unsuitable as they can lead to bad habits in horses, compromise their safety, and result in pain and injury.</p>
    </div>
</div>

<!-- Reading Section 4 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 29. Cockneys</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
Then there is the steam-engine style of driving; these drivers were<br>
mostly people from towns, who never had a horse of their own and<br>
generally traveled by rail.<br>
<br>
They always seemed to think that a horse was something like a<br>
steam-engine, only smaller. At any rate, they think that if only they<br>
pay for it a horse is bound to go just as far and just as fast and with<br>
just as heavy a load as they please. And be the roads heavy and muddy,<br>
or dry and good; be they stony or smooth, uphill or downhill, it is all<br>
the same--on, on, on, one <span class="GramE">must go,</span> at the same pace,
with no relief and<br>
no consideration.<br>
<br>
These people never think of getting out to walk up a steep hill. Oh, no,<br>
they have paid to ride, and ride they will! The horse? Oh, he's used<br>
to it! What were horses made for, if not to drag people uphill? Walk! A<br>
good joke indeed! And <span class="GramE">so</span> the whip is plied and the
rein is chucked and<br>
often a rough, scolding voice cries out, "Go along, you lazy beast!"
And<br>
then another slash of the whip, when all the time we are doing our<br>
very best to get along, uncomplaining and obedient, though often sorely<br>
harassed and down-hearted.<br>
<br>
This steam-engine style of driving wears us up faster than any other<br>
kind. I would far rather go twenty miles with a good considerate driver<br>
than I would go ten with some of these; it would take less out of me.<br>
<br>
Another thing, they scarcely ever put on the brake, however steep the<br>
downhill may be, and thus bad accidents sometimes happen; or if they do<br>
put it on, they often forget to take it off at the bottom of the hill,<br>
and more than once I have had to pull halfway up the next hill, with one<br>
of the wheels held by the brake, before my driver chose to think about<br>
it; and that is a terrible strain on a horse.<br>
<br>
Then these cockneys, instead of starting at an easy pace, as a gentleman<br>
would do, generally set off at full speed from the very stable-yard; and<br>
when they want to stop, they first whip us, and then pull up so suddenly<br>
that we are nearly thrown on our haunches, and our mouths jagged with<br>
the bit--they call that pulling up with a dash; and when they turn a<br>
corner they do it as sharply as if there were no right side or wrong<br>
side of the road.<br>
<br>
I well remember one spring evening I and Rory had been out for the day.<br>
(Rory was the horse that mostly went with me when a pair was ordered,<br>
and a good honest fellow he was.) We had our own driver, and as he was<br>
always considerate and gentle with us, we had a very pleasant day. We<br>
were coming home at a good smart pace, about twilight. Our road turned<br>
sharp to the left; but as we were close to the hedge on our own side,<br>
and there was plenty of room to pass, our driver did not pull us in. As<br>
we neared the corner I heard a horse and two wheels coming rapidly down<br>
the hill toward us. The hedge was high, and I could see nothing, but the<br>
next moment we were upon each other. <span class="GramE">Happily</span> for me, I
was on the side<br>
next the hedge. Rory was on the left side of the <span class="GramE">pole, and</span>
had not even<br>
a shaft to protect him. The man who was driving was making straight for<br>
the corner, and when he came in sight of <span class="GramE">us</span> he had no
time to pull over<br>
to his own side. The whole shock came upon Rory. The gig shaft ran right<br>
into the chest, making him stagger back with a cry that I shall never<br>
forget. The other horse was thrown upon his haunches and one shaft<br>
broken. It turned out that it was a horse from our own stables, with the<br>
high-wheeled gig that the young men were so fond of.<br>
<br>
The driver was one of those random, ignorant fellows, who don't even<br>
know which is their own side of the road, or, if they know, don't care.<br>
And there was poor Rory with his flesh torn open and bleeding, and the<br>
blood streaming down. They said if it had been a little more to one side<br>
it would have killed him; and a good thing for him, poor fellow, if it<br>
had.<br>
<br>
As it was, it was a long time before the wound healed, and then he was<br>
sold for coal-carting; and what that is, up and down those steep hills,<br>
only horses know. Some of the sights I saw there, where a horse had to<br>
come downhill with a heavily loaded two-wheel cart behind him, on which<br>
no brake could be placed, make me sad even now to think of.<br>
<br>
After Rory was <span class="GramE">disabled</span> I often went in the carriage
with a mare named<br>
Peggy, who stood in the next stall to mine. She was a strong, well-made<br>
animal, of a bright dun color, beautifully dappled, and with a<br>
dark-brown mane and tail. There was no high breeding about her, but she<br>
was very pretty and remarkably sweet-tempered and willing. Still, there<br>
was an anxious look about her eye, by which I knew that she had some<br>
trouble. The first time we went out together I thought she had a very<br>
odd pace; she seemed to go partly a trot, partly a canter, three or four<br>
paces, and then a little jump forward.<br>
<br>
It was very unpleasant for any horse who pulled with <span class="GramE">her, and</span>
made me<br>
quite fidgety. When we got <span class="GramE">home</span> I asked her what made
her go in that<br>
odd, awkward way.<br>
<br>
"Ah," she said in a troubled manner, "I know my paces are very
bad, but<br>
what can I do? It really is not my fault; it is just because my legs are<br>
so short. I stand nearly as high as you, but your legs are a good three<br>
inches longer above your knee than mine, and of course you can take a<br>
much longer step and go much faster. You see I did not make myself.<br>
I wish I could have done so; I would have had long legs then. All my<br>
troubles come from my short legs," said Peggy, in a desponding tone.<br>
<br>
"But how is it," I said, "when you are so strong and
good-tempered and<br>
willing?"<br>
<br>
"Why, you see," said she, "men will go so fast, and if one can't
keep up<br>
to other horses it is nothing but whip, whip, whip, all the time. And so<br>
I have had to keep up as I <span class="GramE">could, and</span> have got into
this ugly shuffling<br>
pace. It was not always so; when I lived with my first master I always<br>
went a good regular trot, but then he was not in such a hurry. He was a<br>
young clergyman in the country, and a good, kind master he was. He had<br>
two churches a good way apart, and a great deal of work, but he never<br>
scolded or whipped me for not going faster. He was very fond of me.<br>
I only wish I was with him now; but he had to leave and go to a large<br>
town, and then I was sold to a farmer.<br>
<br>
"Some farmers, you know, are capital masters; but I think this one was a<br>
low sort of man. He cared nothing about good horses or good driving; he<br>
only cared for going fast. I went as fast as I could, but that would<br>
not do, and he was always whipping; <span class="GramE">so</span> I got into this
way of making a<br>
spring forward to keep up. On market nights he used to stay very late at<br>
the inn, and then drive home at a gallop.<br>
<br>
"One dark night he was galloping home as usual, when all of a <span class="GramE">sudden</span> the<br>
wheel came against some great heavy thing in the road, and turned the<br>
gig over in a minute. He was thrown out and his arm broken, and some of<br>
his ribs, I think. At any rate, it was the end of my living with him,<br>
and I was not sorry. But you see it will be the same everywhere for me,<br>
if men must go so fast. I wish my legs were longer!"<br>
<br>
Poor Peggy! I was very sorry for her, and I could not comfort her, for<br>
I knew how hard it was upon slow-paced horses to be put with fast ones;<br>
all the whipping comes to their share, and they can't help it.<br>
<br>
She was often used in the phaeton, and was very much liked by some of<br>
the ladies, because she was so gentle; and some time after this she was<br>
sold to two ladies who drove themselves, and wanted a safe, good horse.<br>
<br>
I met her several times out in the country, going a good steady pace,<br>
and looking as gay and contented as a horse could be. I was very glad to<br>
see her, for she deserved a good place.<br>
<br>
After she left us another horse came in her stead. He was <span class="GramE">young,
and</span> had<br>
a bad name for shying and starting, by which he had lost a good place. I<br>
asked him what made him shy.<br>
<br>
"Well, I hardly know," he said. "I was timid when I was young,
and was a<br>
good deal frightened several times, and if I saw anything strange I<br>
used to turn and look at it--you see, with our blinkers one can't see<br>
or understand what a thing is unless one looks round--and then my master<br>
always gave me a whipping, which of course made me start on, and did not<br>
make me less afraid. I think if he would have let me just look at things<br>
quietly, and see that there was nothing to hurt me, it would have been<br>
all right, and I should have got used to them. One day an old gentleman<br>
was riding with him, and a large piece of white paper or rag blew across<br>
just on one side of me. I shied and started forward. My master as usual<br>
whipped me smartly, but the old man cried out, 'You're wrong! you're<br>
wrong! You should never whip a horse for shying; he shies because he is<br>
frightened, and you only frighten him more and make the habit worse.'<br>
So I suppose all men don't do so. I am sure I don't want to shy for the<br>
sake of it; but how should one know what is dangerous and what is not,<br>
if one is never allowed to get used to anything? I am never afraid of<br>
what I know. Now I was brought up in a park where there were deer; of<br>
course I knew them as well as I did a sheep or a cow, but they are not<br>
common, and I know many sensible horses who are frightened at them, and<br>
who kick up quite a shindy before they will pass a paddock where there<br>
are deer."<br>
<br>
I knew what my companion said was true, and I wished that every young<br>
horse had as good masters as Farmer Grey and Squire Gordon.<br>
<br>
Of course we sometimes came in for good driving here. I remember one<br>
morning I was put into the light <span class="GramE">gig, and</span> taken to a
house in Pulteney<br>
Street. Two gentlemen came out; the taller of them came round to my<br>
head; he looked at the bit and bridle, and just shifted the collar with<br>
his hand, to see if it fitted comfortably.<br>
<br>
"Do you consider this horse wants a curb?" he said to the hostler.<br>
<br>
"Well," said the man, "I should say he would go just as well
without;<br>
he has an uncommon good mouth, and though he has a fine spirit he has no<br>
vice; but we generally find people like the curb."<br>
<br>
"I don't like it," said the gentleman; "be so good as to take it
off,<br>
and put the rein in at the cheek. An easy mouth is a great thing on a<br>
long journey, is it not, old fellow?" he said, patting my neck.<br>
<br>
Then he took the reins, and they both got up. I can remember now how<br>
quietly he turned me round, and then with a light feel of the rein, and<br>
drawing the whip gently across my back, we were off.<br>
<br>
I arched my neck and set off at my best pace. I found I had some one<br>
behind me who knew how a good horse ought to be driven. It seemed like<br>
old times <span class="GramE">again, and</span> made me feel quite gay.<br>
<br>
This gentleman took a great liking to me, and after trying me several<br>
times with the saddle he prevailed upon my master to sell me to a friend<br>
of his, who wanted a safe, pleasant horse for riding. And <span class="GramE">so</span>
it came to<br>
pass that in the summer I was sold to Mr. Barry.<br>
    </div>
    <p class="w3-large" id="questions4">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe the steam-engine style of driving. What do these drivers expect from horses, and why is it challenging for the horses?</p>
        <p>2. Explain Peggy's experience and why she developed an awkward pace. How did her owner's preference for speed affect her?</p>
    </div>
    <p><a href="#" onclick="show_answer4();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message4" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The steam-engine style of driving involves people from towns, unfamiliar with horses, who treat them as if they were steam-engines. These drivers expect horses to go at a constant pace, regardless of the road conditions or the horse's well-being. It is challenging for horses because they are expected to maintain the same speed without any consideration for the terrain, resulting in fatigue and potential accidents.</p>
        <p>2. Peggy, a horse with short legs, developed an awkward pace because her owner, who cared only for speed, would whip her if she couldn't keep up with faster horses. Her owner's preference for speed led her to make a spring forward to maintain pace, resulting in the odd gait. Despite her strength and good temperament, the pressure to keep up with faster horses affected Peggy's natural way of moving.</p>
    </div>
</div>

<!-- Reading Section 5 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 30. A Thief</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
My new master was an unmarried man. He lived at <span class="GramE">Bath, and</span>
was much<br>
engaged in business. His doctor advised him to take horse exercise, and<br>
for this purpose he bought me. He hired a stable a short distance from<br>
his lodgings, and engaged a man named Filcher as groom. My master knew<br>
very little about horses, but he treated me well, and I should have had<br>
a good and easy place but for circumstances of which he was ignorant. He<br>
ordered the best hay with plenty of oats, crushed beans, and bran,<br>
with vetches, or rye grass, as the man might think needful. I heard the<br>
master give the order, so I knew there was plenty of good food, and I<br>
thought I was well off.<br>
<br>
For a few days all went on well. I found that my groom understood<br>
his business. He kept the stable clean and airy, and he groomed me<br>
thoroughly; and was never otherwise than gentle. He had been <span class="GramE">an</span>
hostler<br>
in one of the great hotels in Bath. He had given that up, and now<br>
cultivated fruit and vegetables for the market, and his wife bred and<br>
fattened poultry and rabbits for sale. After awhile it seemed to me that<br>
my oats came very short; I had the beans, but bran was mixed with them<br>
instead of oats, of which there were very few; certainly not more than a<br>
quarter of what there should have been. In two or three weeks this began<br>
to tell upon my strength and spirits. The grass food, though very good,<br>
was not the thing to keep up my condition without corn. However, I<br>
could not complain, nor make known my wants. <span class="GramE">So</span> it
went on for about two<br>
months; and I wondered that my master did not see that something was<br>
the matter. However, one afternoon he rode out into the country to see a<br>
friend of his, a gentleman farmer, who lived on the road to Wells.<br>
<br>
This gentleman had a very quick eye for horses; and after he had<br>
welcomed his friend he said, casting his eye over me:<br>
<br>
"It seems to me, Barry, that your horse does not look so well as he did<br>
when you first had him; has he been well?"<br>
<br>
"Yes, I believe so," said my master; "but he is not nearly so
lively as<br>
he was; my groom tells me that horses are always dull and weak in the<br>
autumn, and that I must expect it."<br>
<br>
"Autumn, fiddlesticks!" said the farmer. "Why, this is only
August; and<br>
with your light work and good food he ought not to go down like this,<br>
even if it was autumn. How do you feed him?"<br>
<br>
My master told him. The other shook his head <span class="GramE">slowly, and</span>
began to feel<br>
me over.<br>
<br>
"I can't say who eats your corn, my dear fellow, but I am much mistaken<br>
if your horse gets it. Have you ridden very fast?"<br>
<br>
"No, very gently."<br>
<br>
"Then just put your hand here," said he, passing his hand over my
neck<br>
and shoulder; "he is as warm and damp as a horse just come up from<br>
grass. I advise you to <span class="GramE">look into</span> your stable a little
more. I hate to be<br>
suspicious, <span class="GramE">and,</span> thank heaven, I have no cause to be,
for I can trust my<br>
men, present or absent; but there are mean scoundrels, wicked enough to<br>
rob a dumb beast of his food. You must look into it." And turning to<br>
his man, who had come to take me, "Give this horse a right good feed of<br>
bruised oats, and don't stint him."<br>
<br>
"Dumb beasts!" Yes, we <span class="GramE">are;</span> but if I could
have spoken I could have told<br>
my master where his oats went to. My groom used to come every morning<br>
about six o'clock, and with him a little boy, who always had a covered<br>
basket with him. He used to go with his father into the harness-room,<br>
where the corn was kept, and I could see them, when the door stood ajar,<br>
fill a little bag with oats out of the bin, and then he used to be off.<br>
<br>
Five or six mornings after this, just as the boy had left the stable,<br>
the door was pushed open, and a policeman walked in, holding the child<br>
tight by the arm; another policeman followed, and locked the door on the<br>
inside, saying, "Show me the place where your father keeps his rabbits'<br>
food."<br>
<br>
The boy looked very frightened and began to cry; but there was no<br>
escape, and he led the way to the corn-bin. Here the policeman found<br>
another empty bag like that which was found full of oats in the boy's<br>
basket.<br>
<br>
Filcher was cleaning my feet at the time, but they soon saw him, and<br>
though he blustered a good deal they walked him off to the "lock-up",<br>
and his boy with him. I heard afterward that the boy was not held to be<br>
guilty, but the man was sentenced to prison for two months.<br>
    </div>
    <p class="w3-large" id="questions5">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did the horse's condition deteriorate, and what did the farmer suspect when he examined the horse?</p>
        <p>2. How did the farmer discover the theft, and what happened to the groom as a consequence?</p>
    </div>
    <p><a href="#" onclick="show_answer5();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message5" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The horse's condition deteriorated because his groom was stealing his oats, substituting them with bran. When the farmer examined the horse, he felt that the horse was warm and damp, indicating recent exercise, and suspected that the horse was not receiving the proper amount of food.</p>
        <p>2. The farmer discovered the theft when he felt the horse and realized it was warm and damp, indicating recent exercise. He advised the master to investigate the stable more closely. Later, the farmer, along with the police, caught the groom's son leaving the stable with a covered basket that contained stolen oats. The groom was arrested and sentenced to prison for two months.</p>
    </div>
</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}

function show_answer4() {
    event.preventDefault();
    document.querySelector('#answer_message4').style.display = "block";
    document.querySelector('#questions4').scrollIntoView();

}
function show_answer5() {
    event.preventDefault();
    document.querySelector('#answer_message5').style.display = "block";
    document.querySelector('#questions5').scrollIntoView();

}

</script>
{% endblock %}