{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 46. Jakes and the Lady</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
I was sold to a corn dealer and baker, whom Jerry knew, and with him he<br>
thought I should have good food and fair work. In the first he was quite<br>
right, and if my master had always been on the <span class="GramE">premises</span>
I do not think<br>
I should have been overloaded, but there was a foreman who was always<br>
hurrying and driving every one, and frequently when I had quite a full<br>
load he would order something else to be taken on. My carter, whose name<br>
was Jakes, often said it was more than I ought to take, but the other<br>
always overruled him. "'Twas no use going twice when once would do, and<br>
he chose to get business forward."<br>
<br>
Jakes, like the other carters, always had the check-rein up, which<br>
prevented me from drawing easily, and by the time I had been there three<br>
or four months I found the work telling very much on my strength.<br>
<br>
One day I was loaded more than usual, and part of the road was a steep<br>
uphill. I used all my strength, but I could not get on, and was obliged<br>
continually to stop. This did not please my driver, and he laid his whip<br>
on badly. "Get on, you lazy fellow," he said, "or I'll make
you."<br>
<br>
Again I started the heavy <span class="GramE">load, and</span> struggled on a few
yards; again the<br>
whip came down, and again I struggled forward. The pain of that great<br>
cart whip was sharp, but my mind was hurt quite as much as my poor<br>
sides. To be punished and abused when I was doing my very best was<br>
so hard it took the heart out of me. A third time he was flogging me<br>
cruelly, when a lady stepped quickly up to him, and said in a sweet,<br>
earnest voice:<br>
<br>
"Oh! pray do not whip your good horse any more; I am sure he is doing<br>
all he can, and the road is very steep; I am sure he is doing his best."<br>
<br>
"If doing his best won't get this load up he must do something more than<br>
his best; that's all I know, ma'am," said Jakes.<br>
<br>
"But is it not a heavy load?" she said.<br>
<br>
"Yes, yes, too heavy," he said; "but that's not my fault; the
foreman<br>
came just as we were starting, and would have three hundredweight more<br>
put on to save him trouble, and I must get on with it as well as I can."<br>
<br>
He was raising the whip again, when the lady said:<br>
<br>
"Pray, stop; I think I can help you if you will let me."<br>
<br>
The man laughed.<br>
<br>
"You see," she said, "you do not give him a fair chance; he
cannot use<br>
all his power with his head held back as it is with that check-rein; if<br>
you would take it off I am sure he would do better--do try it," she said<br>
persuasively, "I should be very glad if you would."<br>
<br>
"Well, well," said Jakes, with a short laugh, "anything to
please a<br>
lady, of course. How far would you wish it down, ma'am?"<br>
<br>
"Quite down, give him his head altogether."<br>
<br>
The rein was taken off, and in a <span class="GramE">moment</span> I put my head
down to my very<br>
knees. What a comfort it was! Then I tossed it up and down several times<br>
to get the aching stiffness out of my neck.<br>
<br>
"Poor fellow! that is what you wanted," said she, patting and
stroking<br>
me with her gentle hand; "and now if you will speak kindly to him and<br>
lead him on I believe he will be able to do better."<br>
<br>
Jakes took the rein. "Come on, Blackie." I put down my <span class="GramE">head, and</span> threw<br>
my whole weight against the collar; I spared no strength; the load<br>
moved on, and I pulled it steadily up the hill, and then stopped to take<br>
breath.<br>
<br>
The lady had walked along the footpath, and now came across into the<br>
road. She stroked and patted my neck, as I had not been patted for many<br>
a long day.<br>
<br>
"You see he was quite willing when you gave him the chance; I am sure he<br>
is a fine-tempered creature, and I dare say has known better days. You<br>
won't put that rein on again, will you?" for he was just going to hitch<br>
it up on the old plan.<br>
<br>
"Well, ma'am, I can't deny that having his head has helped him up the<br>
hill, and I'll remember it another time, and thank you, ma'am; but if<br>
he went without a check-rein I should be the laughing-stock of all the<br>
carters; it is the fashion, you see."<br>
<br>
"Is it not better," she said, "to lead a good fashion than to
follow a<br>
bad one? A great many gentlemen do not use check-reins now; our carriage<br>
horses have not worn them for fifteen years, and work with much less<br>
fatigue than those who have them; besides," she added in a very serious<br>
voice, "we have no right to distress any of God's creatures without a<br>
very good reason; we call them dumb animals, and so they are, for they<br>
cannot tell us how they feel, but they do not suffer less because they<br>
have no words. But I must not detain you now; I thank you for trying<br>
my plan with your good horse, and I am sure you will find it far better<br>
than the whip. Good-day," and with another soft pat on my neck she<br>
stepped lightly across the path, and I saw her no more.<br>
<br>
"That was a real lady, I'll be bound for it," said Jakes to himself;<br>
"she spoke just as polite as if I was a gentleman, and I'll try her<br>
plan, uphill, at any rate;" and I must do him the justice to say that<br>
he let my rein out several holes, and going uphill after that, he always<br>
gave me my head; but the heavy loads went on. Good feed and fair rest<br>
will keep up one's strength under full work, but no horse can stand<br>
against overloading; and I was getting so thoroughly pulled down from<br>
this cause that a younger horse was bought in my place. I may as well<br>
mention here what I suffered at this time from another cause. I had<br>
heard horses speak of it, but had never myself had experience of the<br>
evil; this was a badly-lighted stable; there was only one very small<br>
window at the end, and the consequence was that the stalls were almost<br>
dark.<br>
<br>
Besides the depressing effect this had on my spirits, it very much<br>
weakened my sight, and when I was suddenly brought out of the darkness<br>
into the glare of daylight it was very painful to my eyes. Several times<br>
I stumbled over the threshold, and could scarcely see where I was going.<br>
<br>
I believe, had I stayed there very long, I should have become purblind,<br>
and that would have been a great misfortune, for I have heard men say<br>
that a stone-blind horse was safer to drive than one which had imperfect<br>
sight, as it generally makes them very timid. However, I escaped without<br>
any permanent injury to my <span class="GramE">sight, and</span> was sold to a
large cab owner.<br>
    </div>
    <p class="w3-large"id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did Jakes, the carter, often have the check-rein up, and how did it affect the horse?</p>
        <p>2. What did the lady suggest to Jakes to help the horse pull the heavy load uphill, and how did it work?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Jakes and the other carters had the check-rein up because it was the fashion, even though it prevented the horse from drawing easily. The check-rein made it difficult for the horse to use all its power and caused pain and discomfort.</p>
        <p>2. The lady suggested taking off the check-rein to give the horse its head altogether. After removing the check-rein, the horse was able to use its full strength, and with the lady's encouragement and a kind approach, the horse pulled the heavy load uphill more easily.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 47. Hard Times</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
    <p><br>
My new master I shall never forget; he had black eyes and a hooked nose,<br>
his mouth was as full of teeth as a <span class="GramE">bull-dog's</span>, and
his voice was as<br>
harsh as the grinding of cart wheels over graveled stones. His name was<br>
Nicholas Skinner, and I believe he was the man that poor Seedy Sam drove<br>
for.<br>
<br>
I have heard men say that seeing is believing; but I should say that<br>
feeling is believing; for much as I had seen before, I never knew till<br>
now the utter misery of a cab-horse's life.<br>
<br>
Skinner had a low set of cabs and a low set of drivers; he was hard on<br>
the men, and the men were hard on the horses. In this place we had no<br>
Sunday rest, and it was in the heat of summer.<br>
<br>
Sometimes on a Sunday morning a party of fast men would hire the cab for<br>
the day; four of them inside and another with the driver, and I had to<br>
take them ten or fifteen miles out into the country, and back again;<br>
never would any of them get down to walk up a hill, let it be ever<br>
so steep, or the day ever so hot--unless, indeed, when the driver was<br>
afraid I should not manage it, and sometimes I was so fevered and worn<br>
that I could hardly touch my food. How I used to long for the nice bran<br>
mash with niter in it that Jerry used to give us on Saturday nights in<br>
hot weather, that used to cool us down and make us so comfortable.<br>
Then we had two nights and a whole day for unbroken rest, and on Monday<br>
morning we were as fresh as young horses again; but here there was no<br>
rest, and my driver was just as hard as his master. He had a cruel whip<br>
with something so sharp at the end that it sometimes drew blood, and he<br>
would even whip me under the belly, and flip the lash out at my head.<br>
Indignities like these took the heart out of me terribly, but still I<br>
did my best and never hung back; for, as poor Ginger said, it was no<br>
use; men are the strongest.<br>
<br>
My life was now so utterly wretched that I wished I might, like Ginger,<br>
drop down dead at my work and be out of my misery, and one day my wish<br>
very nearly came to pass.<br>
<br>
I went on the stand at eight in the morning, and had done a good share<br>
of work, when we had to take a fare to the railway. A long train was<br>
just expected in, so my driver pulled up at the back of some of the<br>
outside cabs to take the chance of a return fare. It was a very heavy<br>
train, and as all the cabs were soon engaged ours was called for. There<br>
was a party of four; a noisy, blustering man with a lady, a little boy<br>
and a young girl, and a great deal of luggage. The lady and the boy got<br>
into the cab, and while the man ordered about the luggage the young girl<br>
came and looked at me.<br>
<br>
"Papa," she said, "I am sure this poor horse cannot take us and
all our<br>
luggage so far, he is so very weak and worn up. Do look at him."<br>
<br>
"Oh! he's all right, miss," said my driver, "he's strong
enough."<br>
<br>
The porter, who was pulling about some heavy boxes, suggested to the<br>
gentleman, as there was so much luggage, whether he would not take a<br>
second cab.<br>
<br>
"Can your horse do it, or can't he?" said the blustering man.<br>
<br>
"Oh! he can do it all right, sir; send up the boxes, porter; he could<br>
take more than that;" and he helped to haul up a box so heavy that I<br>
could feel the springs go down.<br>
<br>
"Papa, papa, do take a second cab," said the young girl in a
beseeching<br>
tone. "I am sure we are wrong, I am sure it is very cruel."<br>
<br>
"Nonsense, Grace, get in at once, and don't make all this fuss; a pretty<br>
thing it would be if a man of business had to examine every cab-horse<br>
before he hired it--the man knows his own business of course; there, get<br>
in and hold your tongue!"<br>
<br>
My gentle friend had to obey, and box after box was dragged up and<br>
lodged on the top of the cab or settled by the side of the driver. At<br>
last all was ready, and with his usual jerk at the rein and slash of the<br>
whip he drove out of the station.<br>
<br>
The load was very heavy and I had had neither food nor rest since<br>
morning; but I did my best, as I always had done, in spite of cruelty<br>
and injustice.<br>
<br>
I got along fairly till we came to Ludgate Hill; but there the heavy<br>
load and my own exhaustion were too much. I was struggling to keep on,<br>
goaded by constant chucks of the rein and use of the whip, when in a<br>
single moment--I cannot tell how--my feet slipped from under me, and I<br>
fell heavily to the ground on my side; the suddenness and the force<br>
with which I fell seemed to beat all the breath out of my body. I lay<br>
perfectly still; indeed, I had no power to move, and I thought now I was<br>
going to die. I heard a sort of confusion round me, loud, angry voices,<br>
and the getting down of the luggage, but it was all like a dream. I<br>
thought I heard that sweet, pitiful voice saying, "Oh! that poor horse!<br>
it is all our fault." Some one came and loosened the throat strap of<br>
my <span class="GramE">bridle, and</span> undid the traces which kept the collar
so tight upon me.<br>
Some one said, "He's dead, he'll never get up again." Then I could
hear<br>
a policeman giving orders, but I did not even open my eyes; I could only<br>
draw a gasping breath now and then. Some cold water was thrown over<br>
my head, and some cordial was poured into my mouth, and something was<br>
covered over me. I cannot tell how long I lay there, but I found my life<br>
coming back, and a kind-voiced man was patting me and encouraging me to<br>
rise. After some more cordial had been given me, and after one or two<br>
attempts, I staggered to my feet, and was gently led to some stables<br>
which were close by. Here I was put into a well-littered stall, and some<br>
warm gruel was brought to me, which I drank thankfully.<br>
<br>
In the evening I was sufficiently recovered to be led back to Skinner's<br>
stables, where I think they did the best for me they could. In the<br>
morning Skinner came with a farrier to look at me. He examined me very<br>
closely and said:<br>
<br>
"This is a case of overwork more than disease, and if you could give him<br>
a <span class="GramE">run off</span> for six months he would be able to work
again; but now there<br>
is not an ounce of strength left in him."<br>
<br>
"Then he must just go to the dogs," said Skinner. "I have no
meadows to<br>
nurse sick horses in--he might get well or he might not; that sort of<br>
thing don't suit my business; my plan is to work 'em as long as they'll<br>
go, and then sell 'em for what they'll fetch, at the knacker's or<br>
elsewhere."<br>
<br>
"If he was broken-winded," said the farrier, "you had better
have him<br>
killed out of hand, but he is not; there is a sale of horses coming off<br>
in about ten days; if you rest him and feed him up he may pick up, and<br>
you may get more than his skin is worth, at any rate."<br>
<br>
Upon this advice Skinner, rather unwillingly, I think, gave orders that<br>
I should be well fed and cared for, and the stable man, happily for me,<br>
carried out the orders with a much better will than his master had in<br>
giving them. Ten days of perfect rest, plenty of good oats, hay,<br>
bran mashes, with boiled linseed mixed in them, did more to get up my<br>
condition than anything else could have done; those linseed mashes were<br>
delicious, and I began to think, after all, it might be better to live<br>
than go to the dogs. When the twelfth day after the accident came, I<br>
was taken to the sale, a few miles out of London. I felt that any change<br>
from my present place must be an improvement, so I held up my head, and<br>
hoped for the best.<br>

    </div>
    <p class="w3-large"id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe the treatment the horse received from its new master, Nicholas Skinner.</p>
        <p>2. What happened to the horse on Ludgate Hill, and how did it affect the horse?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The new master, Nicholas Skinner, was harsh and cruel. He had a low set of cabs and drivers, and the horses were mistreated. There was no Sunday rest, and the horses had to work in the heat of summer. The drivers were hard on the horses, using a cruel whip with something sharp at the end. The horses were overworked and received no proper care.</p>
        <p>2. On Ludgate Hill, the heavy load and the horse's exhaustion became too much. The horse struggled to keep on, but its feet slipped, and it fell heavily to the ground. The fall was sudden and forceful, causing the horse to lose its breath. It felt like it was going to die. The horse heard voices and commotion but couldn't move. A kind-voiced person helped by loosening the bridle and traces. The horse received some care and revived, but it was clear that it had been pushed to the brink of collapse due to overwork.</p>
    </div>
</div>

<!-- Reading Section 3 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 48. Farmer Thoroughgood and His Grandson Willie</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
At this sale, of course I found myself in company with the old<br>
broken-down horses--some lame, some broken-winded, some old, and some<br>
that I am sure it would have been merciful to shoot.<br>
<br>
The buyers and sellers, too, many of them, looked not much better off<br>
than the poor beasts they were bargaining about. There were poor old<br>
men, trying to get a horse or a pony for a few pounds, that might drag<br>
about some little wood or coal cart. There were poor men trying to sell<br>
a worn-out beast for two or three pounds, rather than have the greater<br>
loss of killing him. Some of them looked as if poverty and hard times<br>
had hardened them all over; but there were others that I would have<br>
willingly used the last of my strength in serving; poor and shabby, but<br>
kind and human, with voices that I could trust. There was one tottering<br>
old man who took a great fancy to me, and I to him, but I was not strong<br>
enough--it was an anxious time! Coming from the better part of the fair,<br>
I noticed a man who looked like a gentleman farmer, with a young boy by<br>
his side; he had a broad back and round shoulders, a kind, ruddy face,<br>
and he wore a broad-brimmed hat. When he came up to me and my companions<br>
he stood still and gave a pitiful look round upon us. I saw his eye<br>
rest on me; I had still a good mane and tail, which did something for my<br>
appearance. I pricked my ears and looked at him.<br>
<br>
"There's a horse, Willie, that has known better days."<br>
<br>
"Poor old fellow!" said the boy, "do you think, grandpapa, he
was ever a<br>
carriage horse?"<br>
<br>
"Oh, yes! my boy," said the farmer, coming closer, "he might
have been<br>
anything when he was young; look at his nostrils and his ears, the shape<br>
of his neck and shoulder; there's a deal of breeding about that horse."<br>
He put out his hand and gave me a kind pat on the neck. I put out my<br>
nose in answer to his kindness; the boy stroked my face.<br>
<br>
"Poor old fellow! see, grandpapa, how well he understands kindness.<br>
Could not you buy him and make him young again as you did with<br>
Ladybird?"<br>
<br>
"My dear boy, I can't make all old horses young; besides, Ladybird was<br>
not so very old, as she was run down and badly used."<br>
<br>
"Well, grandpapa, I don't believe that this one is old; look at his mane<br>
and tail. I wish you would look into his mouth, and then you could tell;<br>
though he is so very thin, his eyes are not sunk like some old horses'."<br>
<br>
The old gentleman laughed. "Bless the boy! he is as horsey as his old<br>
grandfather."<br>
<br>
"But do look at his mouth, grandpapa, and ask the price; I am sure he<br>
would grow young in our meadows."<br>
<br>
The man who had brought me for sale now put in his word.<br>
<br>
"The young gentleman's a real knowing one, sir. Now the fact is, this<br>
'ere hoss is just pulled down with overwork in the cabs; he's not an old<br>
one, and I heerd as how the vetenary should say, that a six months' run<br>
off would set him right up, being as how his wind was not broken.<br>
I've had the tending of him these ten days past, and a gratefuller,<br>
pleasanter animal I never met with, and 'twould be worth a gentleman's<br>
while to give a five-pound note for him, and let him have a chance. I'll<br>
be bound he'd be worth twenty pounds next spring."<br>
<br>
The old gentleman laughed, and the little boy looked up eagerly.<br>
<br>
"Oh, grandpapa, did you not say the colt sold for five pounds more than<br>
you expected? You would not be poorer if you did buy this one."<br>
<br>
The farmer slowly felt my legs, which were much swelled and strained;<br>
then he looked at my mouth. "Thirteen or fourteen, I should say; just<br>
trot him out, will you?"<br>
<br>
I arched my poor thin neck, raised my tail a little, and threw out my<br>
legs as well as I could, for they were very stiff.<br>
<br>
"What is the lowest you will take for him?" said the farmer as I came<br>
back.<br>
<br>
"Five pounds, sir; that was the lowest price my master set."<br>
<br>
"'Tis a speculation," said the old gentleman, shaking his head, but
at<br>
the same time slowly drawing out his purse, "quite a speculation! Have<br>
you any more business here?" he said, counting the sovereigns into his<br>
hand.<br>
<br>
"No, sir, I can take him for you to the inn, if you please."<br>
<br>
"Do so, I am now going there."<br>
<br>
They walked forward, and I was led behind. The boy could hardly control<br>
his delight, and the old gentleman seemed to enjoy his pleasure. I had a<br>
good feed at the inn, and was then gently ridden home by a servant of my<br>
new master's, and turned into a large meadow with a shed in one corner<br>
of it.<br>
<br>
Mr. Thoroughgood, for that was the name of my benefactor, gave orders<br>
that I should have hay and oats every night and morning, and the run of<br>
the meadow during the day, and, "you, Willie," said he, "must
take the<br>
oversight of him; I give him in charge to you."<br>
<br>
The boy was proud of his charge, and undertook it in all seriousness.<br>
There was not a day when he did not pay me a visit; sometimes picking<br>
me out from among the other horses, and giving me a bit of carrot, or<br>
something good, or sometimes standing by me while I ate my oats. He<br>
always came with kind words and caresses, and of course I grew very fond<br>
of him. He called me Old Crony, as I used to come to him in the field<br>
and follow him about. Sometimes he brought his grandfather, who always<br>
looked closely at my legs.<br>
<br>
"This is our point, Willie," he would say; "but he is improving
so<br>
steadily that I think we shall see a change for the better in the<br>
spring."<br>
<br>
The perfect rest, the good food, the soft turf, and gentle exercise,<br>
soon began to tell on my condition and my spirits. I had a good<br>
constitution from my mother, and I was never strained when I was young,<br>
so that I had a better chance than many horses who have been worked<br>
before they came to their full strength. During the winter my legs<br>
improved so much that I began to feel quite young again. The spring came<br>
round, and one day in March Mr. Thoroughgood determined that he would<br>
try me in the phaeton. I was well pleased, and he and Willie drove me a<br>
few miles. My legs were not stiff now, and I did the work with perfect<br>
ease.<br>
<br>
"He's growing young, Willie; we must give him a little gentle work now,<br>
and by mid-summer he will be as good as Ladybird. He has a beautiful<br>
mouth and good paces; they can't be better."<br>
<br>
"Oh, grandpapa, how glad I am you bought him!"<br>
<br>
"So am I, my boy; but he has to thank you more than me; we must now<br>
be looking out for a quiet, genteel place for him, where he will be<br>
valued."<br>
    </div>
    <p class="w3-large"id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe the initial condition of the horse when it was brought to the sale.</p>
        <p>2. How did Willie, the boy, convince his grandfather to buy the horse?</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The horse was in poor condition and surrounded by old, broken-down horses at the sale. Some were lame, others were broken-winded or old, and a few seemed beyond mercy and might have been better off if they were put down. The buyers and sellers also appeared to be struggling financially.</p>
        <p>2. Willie observed the horse closely, pointing out its good qualities like the well-preserved mane and tail. He urged his grandfather to look into the horse's mouth to determine its age. The old gentleman, recognizing the horse's breeding and potential, decided to buy it. Willie's enthusiasm and observation skills played a significant role in convincing his grandfather to make the purchase. </p>
    </div>
</div>

<!-- Reading Section 4 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 49. My Last Home</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
One day during this summer the groom cleaned and dressed me with such<br>
extraordinary care that I thought some new change must be at hand; he<br>
trimmed my fetlocks and legs, passed the tarbrush over my hoofs, and<br>
even parted my forelock. I think the harness had an extra polish. Willie<br>
seemed half-anxious, half-merry, as he got into the chaise with his<br>
grandfather.<br>
<br>
"If the ladies take to him," said the old gentleman, "they'll be
suited<br>
and he'll be suited. We can but try."<br>
<br>
At the distance of a mile or two from the village we came to a pretty,<br>
low house, with a lawn and shrubbery at the front and a drive up to the<br>
door. Willie rang the <span class="GramE">bell, and</span> asked if Miss
Blomefield or Miss Ellen<br>
was at home. Yes, they were. So, while Willie stayed with me, Mr.<br>
Thoroughgood went into the house. In about ten minutes he returned,<br>
followed by three ladies; one tall, pale lady, wrapped in a white shawl,<br>
leaned on a younger lady, with dark eyes and a merry face; the other,<br>
a very stately-looking person, was Miss Blomefield. They all came<br>
and looked at me and asked questions. The younger lady--that was Miss<br>
Ellen--took to me very much; she said she was sure she should like me, I<br>
had such a good face. The tall, pale lady said that she should always<br>
be nervous in riding behind a horse that had once been down, as I might<br>
come down again, and if I did she should never get over the fright.<br>
<br>
"You see, ladies," said Mr. Thoroughgood, "many first-rate
horses have<br>
had their knees broken through the carelessness of their drivers without<br>
any fault of their own, and from what I see of this horse I should say<br>
that is his case; but of course I do not wish to influence you. If you<br>
incline you can have him on trial, and then your coachman will see what<br>
he thinks of him."<br>
<br>
"You have always been such a good adviser to us about our horses,"
said<br>
the stately lady, "that your recommendation would go a long way with me,<br>
and if my sister Lavinia sees no objection we will accept your offer of<br>
a trial, with thanks."<br>
<br>
It was then arranged that I should be sent for the next day.<br>
<br>
In the morning a smart-looking young man came for me. At first he looked<br>
pleased; but when he saw my knees he said in a disappointed voice:<br>
<br>
"I didn't think, sir, you would have recommended my ladies a blemished<br>
horse like that."<br>
<br>
"'Handsome is that handsome does'," said my master; "you are
only taking<br>
him on trial, and I am sure you will do fairly by him, young man. If he<br>
is not as safe as any horse you ever drove send him back."<br>
<br>
I was led to my new home, placed in a comfortable stable, fed, and left<br>
to myself. The next day, when the groom was cleaning my face, he said:<br>
<br>
"That is just like the star that 'Black Beauty' had; he is much the same<br>
height, too. I wonder where he is now."<br>
<br>
A little further on he came to the place in my neck where I was bled and<br>
where a little knot was left in the skin. He almost started, and began<br>
to look me over carefully, talking to himself.<br>
<br>
"White star in the forehead, one white foot on the off side, this little<br>
knot just in that place;" then looking at the middle of my
back--"and,<br>
as I am alive, there is that little patch of white hair that John used<br>
to call 'Beauty's three-penny bit'. It must be 'Black Beauty'! Why,<br>
Beauty! Beauty! do you know <span class="GramE">me?--</span>little Joe Green,
that almost killed<br>
you?" And he began patting and patting me as if he was quite overjoyed.<br>
<br>
I could not say that I remembered him, for now he was a fine grown young<br>
fellow, with black whiskers and a man's voice, but I was sure he knew<br>
me, and that he was Joe Green, and I was very glad. I put my nose up<br>
to <span class="GramE">him, and</span> tried to say that we were friends. I never
saw a man so<br>
pleased.<br>
<br>
"Give you a fair trial! I should think so indeed! I wonder who the<br>
rascal was that broke your knees, my old Beauty! you must have been<br>
badly served out somewhere; well, well, it won't be my fault if you<br>
haven't good times of it now. I wish John Manly was here to see you."<br>
<br>
In the afternoon I was put into a low park chair and brought to the<br>
door. Miss Ellen was going to try me, and Green went with her. I soon<br>
found that she was a good driver, and she seemed pleased with my paces.<br>
I heard Joe telling her about me, and that he was sure I was Squire<br>
Gordon's old "Black Beauty".<br>
<br>
When we returned the other sisters came out to hear how I had behaved<br>
myself. She told them what she had just <span class="GramE">heard, and</span>
said:<br>
<br>
"I shall certainly write to Mrs. Gordon, and tell her that her favorite<br>
horse has come to us. How pleased she will be!"<br>
<br>
After this I was driven every day for a week or so, and as I appeared<br>
to be quite safe, Miss Lavinia at last ventured out in the small close<br>
carriage. After this it was quite decided to keep me and call me by my<br>
old name of "Black Beauty".<br>
<br>
I have now lived in this happy place a whole year. Joe is the best and<br>
kindest of grooms. My work is easy and pleasant, and I feel my strength<br>
and spirits all coming back again. Mr. Thoroughgood said to Joe the<br>
other day:<br>
<br>
"In your place he will last till he is twenty years old--perhaps
more."<br>
<br>
Willie always speaks to me when he <span class="GramE">can, and</span> treats me
as his special<br>
friend. My ladies have promised that I shall never be sold, and so I<br>
have nothing to <span class="GramE">fear;</span> and here my story ends. My
troubles are all over,<br>
and I am at home; and often before I am quite awake, I fancy I am still<br>
in the orchard at Birtwick, standing with my old friends under the<br>
apple-trees.<br>

    </div>
    <p class="w3-large"id="questions4">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What did Mr. Thoroughgood suggest the ladies do to decide if they wanted to keep the horse?</p>
        <p>2. How did Joe Green react when he recognized Black Beauty at the new home?</p>
        <p>3. What is your favourite part of the book?</p>
    </div>
    <p><a href="#" onclick="show_answer4();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message4" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Mr. Thoroughgood suggested that the ladies take the horse on trial, allowing their coachman to assess whether he would be suitable for their needs.</p>
        <p>2. Joe Green was overjoyed and pleased when he recognized Black Beauty at the new home. He was excited to see his old friend and expressed his wish that John Manly, another person who knew Black Beauty, could see him too.</p>
    </div>
</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}

function show_answer4() {
    event.preventDefault();
    document.querySelector('#answer_message4').style.display = "block";
    document.querySelector('#questions4').scrollIntoView();

}


</script>
{% endblock %}