{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 11. Plain Speaking</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
The longer I lived at Birtwick the <span class="GramE">more proud and happy</span>
I felt at having<br>
such a place. Our master and mistress were respected and beloved by all<br>
who knew them; they were good and kind to everybody and everything; not<br>
only men and women, but horses and donkeys, dogs and cats, cattle and<br>
birds; there was no oppressed or ill-used creature that had not a friend<br>
in them, and their servants took the same tone. If any of the village<br>
children were known to treat any creature cruelly they soon heard about<br>
it from the Hall.<br>
<br>
The squire and Farmer Grey had worked together, as they said, for more<br>
than twenty years to get check-reins on the cart-horses done away with,<br>
and in our parts you seldom saw them; and sometimes, if mistress met<br>
a heavily laden horse with his head strained up she would stop the<br>
carriage and get out, and reason with the driver in her sweet serious<br>
voice, and try to show him how foolish and cruel it was.<br>
<br>
I don't think any man could withstand our mistress. I wish all ladies<br>
were like her. Our master, too, used to come down very heavy sometimes.<br>
I remember he was riding me toward home one morning when we saw a<br>
powerful man driving toward us in a light pony chaise, with a beautiful<br>
little bay pony, with slender legs and a high-bred sensitive head and<br>
face. Just as he came to the park gates the little thing turned toward<br>
them; the man, without word or warning, wrenched the creature's head<br>
round with such a force and suddenness that he nearly threw it on its<br>
haunches. Recovering itself it was going <span class="GramE">on, when</span> he
began to lash it<br>
furiously. The pony plunged forward, but the strong, heavy <span class="GramE">hand
held</span> the<br>
pretty creature back with force almost enough to break its jaw, while<br>
the whip still cut into him. It was a dreadful sight to me, for I knew<br>
what fearful pain it gave that delicate little mouth; but master gave me<br>
the word, and we were up with him in a second.<br>
<br>
"Sawyer," he cried in a stern voice, "is that pony made of flesh
and<br>
blood?"<br>
<br>
"Flesh and blood and temper," he said; "he's too fond of his own
will,<br>
and that won't suit me." He spoke as if he was in a strong passion. He<br>
was a builder who had often been to the park on business.<br>
<br>
"And do you think," said master sternly, "that treatment like
this will<br>
make him fond of your will?"<br>
<br>
"He had no business to make that turn; his road was straight on!"
said<br>
the man roughly.<br>
<br>
"You have often driven that pony up to my place," said master;
"it only<br>
shows the creature's memory and intelligence; how did he know that you<br>
were not going there again? But that has little to do with it. I must<br>
say, Mr. Sawyer, that a more unmanly, brutal treatment of a little<br>
pony it was never my painful lot to witness, and by giving way to such<br>
passion you injure your own character as much, nay more, than you injure<br>
your horse; and remember, we shall all have to be judged according to<br>
our works, whether they be toward man or toward beast."<br>
<br>
Master rode me home slowly, and I could tell by his voice how the thing<br>
had grieved him. He was just as free to speak to gentlemen of his own<br>
rank as to those below him; for another day, when we were out, we met<br>
a Captain Langley, a friend of our master's; he was driving a splendid<br>
pair of grays in a kind of break. After a little conversation the<br>
captain said:<br>
<br>
"What do you think of my new team, Mr. Douglas? You know, you are the<br>
judge of horses in these parts, and I should like your opinion."<br>
<br>
The master backed me a little, <span class="GramE">so as to</span> get a good
view of them. "They<br>
are an uncommonly handsome pair," he said, "and if they are as good
as<br>
they look I am sure you need not wish for anything better; but I see<br>
you still hold that pet scheme of yours for worrying your horses and<br>
lessening their power."<br>
<br>
"What do you mean," said the other, "the check-reins? Oh, ah! I
know<br>
that's a hobby of yours; well, the fact is, I like to see my horses hold<br>
their heads up."<br>
<br>
"So do I," said master, "as well as any man, but I don't like to<br>
see them held up; that takes all the shine out of it. Now, you are a<br>
military man, Langley, and no doubt like to see your regiment look well<br>
on parade, 'heads up', and all that; but you would not take much credit<br>
for your drill if all your men had their heads tied to a backboard! It<br>
might not be much harm on parade, except to worry and fatigue them; but<br>
how would it be in a bayonet charge against the enemy, when they want<br>
the free use of every muscle, and all their strength thrown forward? I<br>
would not give much for their chance of victory. And it is just the same<br>
with horses: you fret and worry their <span class="GramE">tempers, and</span>
decrease their power;<br>
you will not let them throw their weight against their work, and so<br>
they have to do too much with their joints and muscles, and of course<br>
it wears them up faster. You may depend upon it, horses were intended<br>
to have their heads free, as free as men's are; and if we could act a<br>
little more according to common sense, and a good deal less according<br>
to fashion, we should find many things work easier; besides, you know as<br>
well as I that if a horse makes a false step, he has much less chance<br>
of recovering himself if his head and neck are fastened back. And now,"<br>
said the master, laughing, "I have given my hobby a good trot out, can't<br>
you make up your mind to mount him, too, captain? Your example would go<br>
a long way."<br>
<br>
"I believe you are right in theory," said the other, "and that's
rather<br>
a hard hit about the soldiers; but--well--I'll think about it," and so
they parted.<br>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What did the master do when he witnessed the man mistreating the little pony?</p>
        <p>2. According to the master, why does using check-reins on horses lessen their power?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The master rode toward the man mistreating the little pony, questioned his cruel treatment, and expressed his disapproval in a stern voice.</p>
        <p>2. According to the master, using check-reins on horses lessens their power because it restricts their ability to throw their weight against their work, causing them to rely more on joints and muscles, which wears them out faster.</p>
     </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 12.  A Stormy Day</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
One day late in the autumn my master had a long journey to go on<br>
business. I was put into the <span class="GramE">dog-cart</span>, and John went
with his master. I<br>
always liked to go in the <span class="GramE">dog-cart</span>, it was so light
and the high wheels<br>
ran along so pleasantly. There had been a great deal of rain, and now<br>
the wind was very high and blew the dry leaves across the road in a<br>
shower. We went along merrily till we came to the <span class="GramE">toll-bar</span>
and the low<br>
wooden bridge. The river banks were rather high, and the bridge, instead<br>
of rising, went across just level, so that in the middle, if the river<br>
was full, the water would be nearly up to the woodwork and planks; but<br>
as there were good substantial rails on each side, people did not mind<br>
it.<br>
<br>
The man at the gate said the river was rising fast, and he feared it<br>
would be a bad night. Many of the meadows were under water, and in one<br>
low part of the road the water was halfway up to my knees; the bottom<br>
was good, and master drove gently, so it was no matter.<br>
<br>
When we got to the town of course I had a good bait, but as the master's<br>
business engaged him a long time we did not start for home till rather<br>
late in the afternoon. The wind was then much higher, and I heard the<br>
master say to John that he had never been out in such a storm; and so I<br>
thought, as we went along the skirts of a wood, where the great branches<br>
were swaying about like twigs, and the rushing sound was terrible.<br>
<br>
"I wish we were well out of this wood," said my master.<br>
<br>
"Yes, sir," said John, "it would be rather awkward if one of
these<br>
branches came down upon us."<br>
<br>
The words were scarcely out of his mouth when there was a groan, and a<br>
crack, and a splitting sound, and tearing, crashing down among the other<br>
trees came an oak, torn up by the roots, and it fell right across the<br>
road just before us. I will never say I was not frightened, for I was. I<br>
stopped still, and I believe I trembled; <span class="GramE">of course</span> I
did not turn round<br>
or run away; I was not brought up to that. John jumped out and was in a<br>
moment at my head.<br>
<br>
"That was a very near touch," said my master. "What's to be done
now?"<br>
<br>
"Well, sir, we can't drive over that tree, nor yet get round it; there<br>
will be nothing for it, but to go back to the four crossways, and that<br>
will be a good six miles before we get round to the wooden bridge again;<br>
it will make us late, but the horse is fresh."<br>
<br>
So back we went and round by the crossroads, but by the time we got to<br>
the bridge it was very nearly dark; we could just see that the water was<br>
over the middle of it; but as that happened sometimes when the floods<br>
were out, master did not stop. We were going along at a good pace, but<br>
the moment my feet touched the first part of the bridge I felt sure<br>
there was something wrong. I dare not go forward, and I made a dead<br>
stop. "Go on, Beauty," said my master, and he gave me a touch with
the<br>
whip, but I dare not stir; he gave me a sharp cut; I jumped, but I dare<br>
not go forward.<br>
<br>
"There's something wrong, sir," said John, and he sprang out of the<br>
dog-cart and came to my head and looked all about. He tried to lead me<br>
forward. "Come on, Beauty, what's the matter?" Of course I could not<br>
tell him, but I knew very well that the bridge was not safe.<br>
<br>
Just then the man at the toll-gate on the other side ran out of the<br>
house, tossing a torch about like one mad.<br>
<br>
"Hoy, hoy, hoy! halloo! stop!" he cried.<br>
<br>
"What's the matter?" shouted my master.<br>
<br>
"The bridge is broken in the middle, and part of it is carried away; if<br>
you come on you'll be into the river."<br>
<br>
"Thank God!" said my master. "You Beauty!" said <span class="GramE">John, and</span> took the<br>
bridle and gently turned me round to the right-hand road by the river<br>
side. The sun had set some time; the wind seemed to have lulled off<br>
after that furious blast which tore up the tree. It grew darker and<br>
darker, <span class="GramE">stiller</span> and stiller. I trotted quietly along,
the wheels hardly<br>
making a sound on the soft road. For a good while neither master nor<br>
John spoke, and then master began in a serious voice. I could not<br>
understand much of what they said, but I found they thought, if I had<br>
gone on as the master wanted me, most likely the bridge would have given<br>
way under us, and horse, chaise, master, and man would have fallen into<br>
the river; and as the current was flowing very strongly, and there was<br>
no light and no help at hand, it was more than likely we should all have<br>
been drowned. Master said, God had given men reason, by which they could<br>
find out things for themselves; but he had given animals knowledge which<br>
did not depend on reason, and which was much <span class="GramE">more prompt and
perfect</span> in<br>
its way, and by which they had often saved the lives of men. John had<br>
many stories to tell of dogs and horses, and the wonderful things they<br>
had done; he thought people did not value their <span class="GramE">animals</span>
half enough nor<br>
make friends of them as they ought to do. I am sure he makes friends of<br>
them if ever a man did.<br>
<br>
At last we came to the park gates and found the gardener looking out for<br>
us. He said that mistress had been in a dreadful way ever since dark,<br>
fearing some accident had happened, and that she had sent James off on<br>
Justice, the roan cob, toward the wooden bridge to make inquiry after<br>
us.<br>
<br>
We saw a light at the hall-door and at the upper windows, and as we came<br>
up mistress ran out, saying, "Are you really safe, my dear? Oh! I<br>
have been so anxious, fancying all sorts of things. Have you had no<br>
accident?"<br>
<br>
"No, my dear; but if your Black Beauty had not been wiser than we were<br>
we should all have been carried down the river at the wooden bridge."<br>
I heard no more, as they went into the house, and John took me to the<br>
stable. Oh, what a good supper he gave me that night, a good bran mash<br>
and some crushed beans with my oats, and such a thick bed of straw! and<br>
I was glad of it, for I was tired.<br>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did Beauty refuse to move when approaching the wooden bridge?
            2. How did the man at the toll-gate inform the master about the broken bridge?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Beauty refused to move because the bridge was broken in the middle, and part of it was carried away, making it unsafe to cross.</p>
        <p>2. The man at the toll-gate ran out of the house, tossing a torch about, and shouted, "Hoy, hoy, hoy! halloo! stop!" to inform the master that the bridge was broken in the middle and part of it was carried away.</p>
    </div>
</div>


<!-- Reading Section 3 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 13. The Devil's Trade Mark</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
One day when John and I had been out on some business of our master's,<br>
and were returning gently on a long, straight road, at some distance we<br>
saw a boy trying to leap a pony over a gate; the pony would not take the<br>
leap, and the boy cut him with the whip, but he only turned off on one<br>
side. He whipped him again, but the pony turned off on the other side.<br>
Then the boy got off and gave him a hard thrashing, and knocked him<br>
about the head; then he got up again and tried to make him leap the<br>
gate, kicking him all the time shamefully, but still the pony refused.<br>
When we were nearly at the spot the pony put down his head and threw up<br>
his heels, and sent the boy neatly over into a broad quickset hedge, and<br>
with the rein dangling from his head he set off home at a full gallop.<br>
John laughed out quite loud. "Served him right," he said.<br>
<br>
"Oh, oh, oh!" cried the boy as he struggled about among the thorns;
"I<br>
say, come and help me out."<br>
<br>
"Thank ye," said John, "I think you are quite in the right
place, and<br>
maybe a little scratching will teach you not to leap a pony over a gate<br>
that is too high for him," and so with that John rode off. "It may
be,"<br>
said he to himself, "that young fellow is a liar as well as a cruel one;<br>
we'll just go home by Farmer Bushby's, Beauty, and then if anybody wants<br>
to know you and I can tell 'em, ye see." <span class="GramE">So</span> we
turned off to the right,<br>
and soon came up to the stack-yard, and within sight of the house. The<br>
farmer was hurrying out into the road, and his wife was standing at the<br>
gate, looking very frightened.<br>
<br>
"Have you seen my boy?" said Mr. Bushby as we came up; "he went
out an<br>
hour ago on my black pony, and the creature is just come back without a<br>
rider."<br>
<br>
"I should think, sir," said John, "he had better be without a
rider,<br>
unless he can be ridden properly."<br>
<br>
"What do you mean?" said the farmer.<br>
<br>
"Well, sir, I saw your son whipping, and kicking, and knocking that good<br>
little pony about shamefully because he would not leap a gate that was<br>
too high for him. The pony behaved well, sir, and showed no vice; but at<br>
last he just threw up his heels and tipped the young gentleman into the<br>
thorn hedge. He wanted me to help him out, but I hope you will excuse<br>
me, sir, I did not feel inclined to do so. <span class="GramE">There's</span> no
bones broken, sir;<br>
he'll only get a few scratches. I love horses, and it riles me to see<br>
them badly used; it is a bad plan to aggravate an animal till he uses<br>
his heels; the first time is not always the last."<br>
<br>
During this time the mother began to cry, "Oh, my poor Bill, I must go<br>
and meet him; he must be hurt."<br>
<br>
"You had better go into the house, wife," said the farmer; "Bill
wants a<br>
lesson about this, and I must see that he gets it; this is not the first<br>
time, nor the second, that he has ill-used that pony, and I shall stop<br>
it. I am much obliged to you, Manly. <span class="GramE">Good-evening</span>."<br>
<br>
So we went on, John chuckling all the way home; then he told James about<br>
it, who laughed and said, "Serve him right. I knew that boy at school;<br>
he took great airs on himself because he was a farmer's son; he used to<br>
swagger about and bully the little boys. Of course, we elder ones would<br>
not have any of that <span class="GramE">nonsense, and</span> let him know that
in the school and<br>
the playground farmers' sons and laborers' sons were all alike. I well<br>
remember one day, just before afternoon school, I found him at the large<br>
window catching flies and pulling off their wings. He did not see me and<br>
I gave him a box on the ears that laid him sprawling on the floor. Well,<br>
angry as I was, I was almost frightened, he roared and bellowed in such<br>
a style. The boys rushed in from the playground, and the master ran in<br>
from the road to see who was being murdered. <span class="GramE">Of course</span>
I said fair and<br>
square at once what I had done, and why; then I showed the master the<br>
flies, some crushed and some crawling about helpless, and I showed him<br>
the wings on the window sill. I never saw him so angry before; but as<br>
Bill was still howling and whining, like the coward that he was, he did<br>
not give him any more punishment of that <span class="GramE">kind, but</span> set
him up on a stool<br>
for the rest of the afternoon, and said that he should not go out to<br>
play for that week. Then he talked to all the boys very seriously about<br>
cruelty, and said how hard-hearted and cowardly it was to hurt the<br>
weak and the helpless; but what stuck in my mind was this, he said that<br>
cruelty was the devil's own trade-mark, and if we saw any one who took<br>
pleasure in cruelty we might know who he belonged to, for the devil was<br>
a murderer from the beginning, and a tormentor to the end. On the other<br>
hand, where we saw people who loved their neighbors, and were kind to<br>
man and beast, we might know that was God's mark."<br>
<br>
"Your master never taught you a truer thing," said John; "there
is no<br>
religion without love, and people may talk as much as they like about<br>
their religion, but if it does not teach them to be good and kind to man<br>
and beast it is all a sham--all a sham, James, and it won't stand when<br>
things come to be turned inside out."<br>

    </div>
    <p class="w3-large" id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did the boy struggle among the thorns in the hedge?</p>
        <p>2. What lesson did James learn from the master about cruelty?</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The boy struggled among the thorns in the hedge because the pony threw him off while trying to leap over a gate, and he ended up in the thorny hedge.</p>
        <p>2. James learned from the master that cruelty is the devil's own trade-mark, and those who take pleasure in cruelty belong to the devil. The master emphasized the importance of kindness to both humans and animals as a sign of true religion.</p>
    </div>
</div>

<!-- Reading Section 4 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 14.  James Howard</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
Early one morning in December John had just led me into my box after my<br>
daily <span class="GramE">exercise, and</span> was strapping my cloth on and
James was coming in<br>
from the corn chamber with some oats, when the master came into the<br>
stable. He looked rather <span class="GramE">serious, and</span> held an open
letter in his hand.<br>
John fastened the door of my box, touched his cap, and waited for<br>
orders.<br>
<br>
"Good-morning, John," said the master. "I want to know if you
have any<br>
complaint to make of James."<br>
<br>
"Complaint, sir? No, sir."<br>
<br>
"Is he industrious at his work and respectful to you?"<br>
<br>
"Yes, sir, always."<br>
<br>
"You never find he slights his work when your back is turned?"<br>
<br>
"Never, sir."<br>
<br>
"That's well; but I must put another question. Have you no reason to<br>
suspect, when he goes out with the horses to exercise them or to take a<br>
message, that he stops about talking to his acquaintances, or goes into<br>
houses where he has no business, leaving the horses outside?"<br>
<br>
"No, sir, certainly not; and if anybody has been saying that about<br>
James, I don't believe it, and I don't mean to believe it unless I have<br>
it fairly proved before witnesses; it's not for me to say who has been<br>
trying to take away James' character, but I will say this, sir, that a<br>
steadier, pleasanter, honester, smarter young fellow I never had in this<br>
stable. I can trust his word and I can trust his work; he is gentle and<br>
clever with the horses, and I would rather have them in charge with him<br>
than with half the young fellows I know of in laced hats and liveries;<br>
and whoever wants a character of James Howard," said John, with a<br>
decided jerk of his head, "let them come to John Manly."<br>
<br>
The master stood all this time grave and attentive, but as John finished<br>
his speech a broad smile spread over his face, and looking kindly<br>
across at James, who all this time had stood still at the door, he said,<br>
"James, my lad, set down the oats and come here; I am very glad to find<br>
that John's opinion of your character agrees so exactly with my own.<br>
John is a cautious man," he said, with a droll smile, "and it is not<br>
always easy to get his opinion about people, so I thought if I beat the<br>
bush on this side the birds would fly out, and I should learn what I<br>
wanted to know quickly; so now we will come to business. I have a letter<br>
from my brother-in-law, Sir Clifford Williams, of Clifford Hall.<br>
He wants me to find him a trustworthy young groom, about twenty or<br>
twenty-one, who knows his business. His old coachman, who has lived with<br>
him thirty years, is getting feeble, and he wants a man to work with him<br>
and get into his ways, who would be able, when the old man was pensioned<br>
off, to step into his place. He would have eighteen shillings a week at<br>
first, a stable suit, a driving suit, a bedroom over the coachhouse, and<br>
a boy under him. Sir Clifford is a good master, and if you could get the<br>
place it would be a good start for you. I don't want to part with you,<br>
and if you left us I know John would lose his right hand."<br>
<br>
"That I should, sir," said John, "but I would not stand in his
light for<br>
the world."<br>
<br>
"How old are you, James?" said master.<br>
<br>
"Nineteen next May, sir."<br>
<br>
"That's young; what do you think, John?"<br>
<br>
"Well, sir, it is young; but he is as steady as a man, and is strong,<br>
and well grown, and though he has not had much experience in driving, he<br>
has a light firm hand and a quick eye, and he is very careful, and I am<br>
quite sure no horse of his will be ruined for want of having his feet<br>
and shoes looked after."<br>
<br>
"Your word will go the furthest, John," said the master, "for
Sir<br>
Clifford adds in a postscript, 'If I could find a man trained by your<br>
John I should like him better than any other;' so, James, lad, think it<br>
over, talk to your mother at dinner-time, and then let me know what you<br>
wish."<br>
<br>
In a few days after this conversation it was fully settled that James<br>
should go to Clifford Hall, in a month or six weeks, as it suited his<br>
master, and in the meantime he was to get all the practice in driving<br>
that could be given to him. I never knew the carriage to go out so often<br>
before; when the mistress did not go out the master drove himself in the<br>
two-wheeled chaise; but now, whether it was master or the young ladies,<br>
or only an errand, Ginger and I were put in the carriage and James drove<br>
us. At the first John rode with him on the box, telling him this and<br>
that, and after that James drove alone.<br>
<br>
Then it was wonderful what <span class="GramE">a number of</span> places the
master would go to in<br>
the city on Saturday, and what queer streets we were driven through. He<br>
was sure to go to the railway station just as the train was coming in,<br>
and cabs and carriages, carts and omnibuses were all trying to get over<br>
the bridge together; that bridge wanted good horses and good drivers<br>
when the railway bell was ringing, for it was narrow, and there was a<br>
very sharp turn up to the station, where it would not have been at all<br>
difficult for people to run into each other, if they did not look sharp<br>
and keep their wits about them.<br>

    </div>
    <p class="w3-large" id="questions4">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What is the job opportunity James is offered, and who is offering it?</p>
        <p>2. How does John Manly, the master's coachman, feel about James taking the job, and what does he say about James' character?</p>
    </div>
    <p><a href="#" onclick="show_answer4();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message4" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. James is offered a job as a groom by Sir Clifford Williams of Clifford Hall. He would work with Sir Clifford's old coachman, eventually taking over his position.</p>
        <p>2. John Manly is supportive of James taking the job, even though he would be sad to lose him. He speaks highly of James' character, describing him as steady, strong, well-grown, careful, and having a light and firm hand with horses.</p>
    </div>
</div>

<!-- Reading Section 5 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 15.  The Old Hostler</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
After this it was decided by my master and mistress to pay a visit to<br>
some friends who lived about forty-six miles from our home, and James<br>
was to drive them. The first day we traveled thirty-two miles.<br>
There were some long, heavy hills, but James drove so carefully and<br>
thoughtfully that we were not at all harassed. He never forgot to put on<br>
the brake as we went downhill, nor to take it off at the right place. He<br>
kept our feet on the smoothest part of the road, and if the uphill was<br>
very long, he set the carriage wheels a little across the road, so as<br>
not to run back, and gave us a breathing. All these little things help a<br>
horse very much, particularly if he gets kind words into the bargain.<br>
<br>
We stopped once or twice on the road, and just as the sun was going down<br>
we reached the town where we were to spend the night. We stopped at the<br>
principal hotel, which was in the <span class="GramE">market-place</span>; it was
a very large one;<br>
we drove under an archway into a long yard, at the further end of which<br>
were the stables and coachhouses. Two hostlers came to take us out. The<br>
head hostler was a pleasant, active little man, with a crooked leg,<br>
and a yellow striped waistcoat. I never saw a man unbuckle harness so<br>
quickly as he did, and with a pat and a good word he led me to a long<br>
stable, with six or eight stalls in it, and two or three horses. The<br>
other man brought Ginger; James stood by while we were rubbed down and<br>
cleaned.<br>
<br>
I never was cleaned so lightly and quickly as by that little old man.<br>
When he had done James stepped up and felt me over, as if he thought I<br>
could not be thoroughly done, but he found my coat as clean and smooth<br>
as silk.<br>
<br>
"Well," he said, "I thought I was pretty quick, and our John
quicker<br>
still, but you do beat all I ever saw for being quick and thorough at<br>
the same time."<br>
<br>
"Practice makes perfect," said the crooked little hostler, "and
'twould<br>
be a pity if it didn't; forty years' practice, and not perfect! ha, ha!<br>
that would be a pity; and as to being quick, why, bless you! that is<br>
only a matter of habit; if you get into the habit of being quick it is<br>
just as easy as being slow; easier, I should say; in fact it don't agree<br>
with my health to be hulking about over a job twice as long as it need<br>
take. Bless you! I couldn't whistle if I crawled over my work as some<br>
folks do! You see, I have been about horses ever since I was twelve<br>
years old, in hunting stables, and racing stables; and being small, ye<br>
see, I was jockey for several years; but at the Goodwood, ye see, the<br>
turf was very slippery and my poor Larkspur got a fall, and I broke my<br>
knee, and so of course I was of no more use there. But I could not live<br>
without horses, of course I couldn't, so I took to the hotels. And I<br>
can tell ye it is a downright pleasure to handle an animal like this,<br>
well-bred, well-mannered, well-cared-for; bless ye! I can tell how a<br>
horse is treated. Give me the handling of a horse for twenty minutes,<br>
and I'll tell you what sort of a groom he has had. Look at this one,<br>
pleasant, quiet, turns about just as you want him, holds up his feet to<br>
be cleaned out, or anything else you please to wish; then you'll find<br>
another fidgety, fretty, won't move the right way, or starts across the<br>
stall, tosses up his head as soon as you come near him, lays his ears,<br>
and seems afraid of you; or else squares about at you with his heels.<br>
Poor things! I know what sort of treatment they have had. If they are<br>
timid it makes them start or shy; if they are high-mettled it makes them<br>
vicious or dangerous; their tempers are mostly made when they are young.<br>
Bless you! they are like children, train 'em up in the way they should<br>
go, as the good book says, and when they are old they will not depart<br>
from it, if they have a chance."<br>
<br>
"I like to hear you talk," said James, "that's the way we lay it
down at<br>
home, at our master's."<br>
<br>
"Who is your master, young man? if it be a proper question. I should<br>
judge he is a good one, from what I see."<br>
<br>
"He is Squire Gordon, of Birtwick Park, the other side the Beacon<br>
Hills," said James.<br>
<br>
"Ah! so, so, I have heard tell of him; fine judge of horses, ain't he?<br>
the best rider in the county."<br>
<br>
"I believe he is," said James, "but he rides very little now,
since the<br>
poor young master was killed."<br>
<br>
"Ah! poor gentleman; I read all about it in the paper at the time. A<br>
fine horse killed, too, wasn't there?"<br>
<br>
"Yes," said James; "he was a splendid creature, brother to this
one, and<br>
just like him."<br>
<br>
"Pity! pity!" said the old man; "'twas a bad place to leap, if I<br>
remember; a thin fence at top, a steep bank down to the stream, wasn't<br>
it? No chance for a horse to see where he is going. Now, I am for bold<br>
riding as much as any man, but still there are some leaps that only<br>
a very knowing old huntsman has any right to take. A man's life and a<br>
horse's life are worth more than a fox's tail; at least, I should say<br>
they ought to be."<br>
<br>
During this time the other man had finished Ginger and had brought our<br>
corn, and James and the old man left the stable together.<br>

    </div>
    <p class="w3-large" id="questions5">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What job opportunity does James get offered, and what skills make him suitable for the job?</p>
        <p>2. How does the old hostler describe his expertise in handling horses, and what does he say about the importance of a horse's early training?</p>
    </div>
    <p><a href="#" onclick="show_answer5();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message5" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. James is offered a job as a groom by Sir Clifford Williams of Clifford Hall. He is considered suitable for the job because of his careful and thoughtful driving skills and his ability to handle horses well.</p>
        <p>2. The old hostler describes himself as quick and thorough in handling horses, attributing it to his forty years of practice. He emphasizes the significance of a horse's early training, comparing it to children, stating that their temperaments are mostly formed when they are young, and proper training shapes their behavior.</p>
    </div>
</div>
<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}

function show_answer4() {
    event.preventDefault();
    document.querySelector('#answer_message4').style.display = "block";
    document.querySelector('#questions4').scrollIntoView();

}

function show_answer5() {
    event.preventDefault();
    document.querySelector('#answer_message5').style.display = "block";
    document.querySelector('#questions5').scrollIntoView();

}
</script>
{% endblock %}