{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 31. A Humbug</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
My master was not immediately suited, but in a few days my new groom<br>
came. He was a tall, good-looking fellow enough; but if ever there was<br>
a humbug in the shape of a groom Alfred Smirk was the man. He was very<br>
civil to me, and never used me ill; in fact, he did a great deal of<br>
stroking and patting when his master was there to see it. He always<br>
brushed my mane and tail with water and my hoofs with oil before he<br>
brought me to the door, to make me look smart; but as to cleaning my<br>
feet or looking to my shoes, or grooming me thoroughly, he thought no<br>
more of that than if I had been a cow. He left my bit rusty, my saddle<br>
damp, and my crupper stiff.<br>
<br>
Alfred Smirk considered himself very handsome; he spent a great deal of<br>
time about his hair, <span class="GramE">whiskers</span> and necktie, before a
little looking-glass<br>
in the harness-room. When his master was speaking to him it was always,<br>
"Yes, sir; yes, sir"--touching his hat at every word; and <span class="GramE">every one</span><br>
thought he was a very nice young man and that Mr. Barry was very<br>
fortunate to meet with him. I should say he was the laziest, most<br>
conceited fellow I ever came near. Of course, it was a great thing not<br>
to be ill-used, but then a horse wants more than that. I had a loose<br>
<span class="GramE">box, and</span> might have been very comfortable if he had
not been too<br>
indolent to clean it out. He never took all the straw away, and the<br>
smell from what lay underneath was very bad; while the strong vapors<br>
that rose made my eyes smart and inflame, and I did not feel the same<br>
appetite for my food.<br>
<br>
One day his master came in and said, "Alfred, the stable smells rather<br>
strong; should not you give that stall a good scrub and throw down<br>
plenty of water?"<br>
<br>
"Well, sir," he said, touching his cap, "I'll do so if you
please, sir;<br>
but it is rather dangerous, sir, throwing down water in a horse's box;<br>
they are very apt to take cold, sir. I should not like to do him an<br>
injury, but I'll do it if you please, sir."<br>
<br>
"Well," said his master, "I should not like him to take cold;
but I<br>
don't like the smell of this stable. Do you think the drains are all<br>
right?"<br>
<br>
"Well, sir, now you mention it, I think the drain does sometimes send<br>
back a smell; there may be something wrong, sir."<br>
<br>
"Then send for the bricklayer and have it seen to," said his master.<br>
<br>
"Yes, sir, I will."<br>
<br>
The bricklayer came and pulled up a great many bricks, but found nothing<br>
amiss; so he put down some lime and charged the master five shillings,<br>
and the smell in my box was as bad as ever. But that was not all:<br>
standing as I did on a quantity of moist straw my feet grew unhealthy<br>
and tender, and the master used to say:<br>
<br>
"I don't know what <span class="GramE">is the matter with this horse</span>;
he goes very<br>
fumble-footed. I am sometimes afraid he will stumble."<br>
<br>
"Yes, sir," said Alfred, "I have noticed the same myself, when I
have<br>
exercised him."<br>
<br>
Now the fact was that he hardly ever did exercise me, and when the<br>
master was busy I often stood for days together without stretching my<br>
legs at all, and yet being fed just as high as if I were at hard work.<br>
This often disordered my health, and made me sometimes heavy and dull,<br>
but more often restless and feverish. He never even gave me a meal<br>
of green food or a bran mash, which would have cooled me, for he<br>
was altogether as ignorant as he was conceited; and then, instead of<br>
exercise or change of food, I had to take horse balls and draughts;<br>
which, beside the nuisance of having them poured down my throat, used to<br>
make me feel ill and uncomfortable.<br>
<br>
One day my feet were so tender that, trotting over some fresh stones<br>
with my master on my back, I made two such serious stumbles that, as he<br>
came down Lansdown into the city, he stopped at the farrier's, and asked<br>
him to see what was the matter with me. The man took up my feet one<br>
by one and examined them; then standing up and dusting his hands one<br>
against the other, he said:<br>
<br>
"Your horse has got the 'thrush', and badly, too; his feet are very<br>
tender; it is fortunate that he has not been down. I wonder your groom<br>
has not seen to it before. This is the sort of thing we find in foul<br>
stables, where the litter is never properly cleaned out. If you will<br>
send him here to-morrow I will attend to the hoof, and I will direct<br>
your man how to apply the liniment which I will give him."<br>
<br>
The next day I had my feet thoroughly cleansed and stuffed with tow<br>
soaked in some strong lotion; and an unpleasant business it was.<br>
<br>
The farrier ordered all the litter to be taken out of my box day by day,<br>
and the floor kept very clean. Then I was to have bran mashes, a little<br>
green food, and not so much corn, till my feet were well again. With<br>
this treatment I soon regained my spirits; but Mr. Barry was so much<br>
disgusted at being twice deceived by his grooms that he determined to<br>
give up keeping a horse, and to hire when he wanted one. I was therefore<br>
kept till my feet were quite <span class="GramE">sound, and</span> was then sold
again.<br>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did the horse's health deteriorate under the care of the new groom, Alfred Smirk?</p>
        <p>2.  How did the farrier diagnose the horse's hoof problem, and what treatment was recommended?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The horse's health deteriorated because Alfred Smirk was lazy and neglected his duties. He didn't clean the loose box properly, leaving a bad smell that affected the horse's appetite and caused eye irritation. Additionally, the lack of exercise and inappropriate feeding led to the horse's feet becoming unhealthy and tender.</p>
        <p>2. The farrier diagnosed the horse with "thrush" by examining his feet, and he attributed it to the foul conditions of the stable. The recommended treatment involved thoroughly cleaning the horse's feet, stuffing them with tow soaked in a strong lotion, and applying a liniment. The farrier also advised removing all litter from the box daily, keeping the floor clean, and providing the horse with bran mashes, green food, and reduced corn until the feet were fully healed.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER 32. A Horse Fair</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
      <p><br>
No doubt a horse fair is a very amusing place to those who have nothing<br>
to lose; at any rate, there is plenty to see.<br>
<br>
Long strings of young horses out of the country, fresh from the marshes;<br>
and droves of shaggy little Welsh ponies, no higher than Merrylegs; and<br>
hundreds of cart horses of all sorts, some of them with their long tails<br>
braided up and tied with scarlet cord; and a good many like myself,<br>
handsome and high-bred, but fallen into the middle class, through some<br>
accident or blemish, unsoundness of wind, or some other complaint. There<br>
were some splendid animals quite in their <span class="GramE">prime, and</span>
fit for anything;<br>
they were throwing out their legs and showing off their paces in high<br>
style, as they were trotted out with a leading rein, the groom running<br>
by the side. But round in the background there were a number of poor<br>
things, sadly broken down with hard work, with their knees knuckling<br>
over and their hind legs swinging out at every step, and there were some<br>
very dejected-looking old horses, with the under lip hanging down and<br>
the ears lying back heavily, as if there were no more pleasure in life,<br>
and no more hope; there were some so thin you might see all their ribs,<br>
and some with old sores on their backs and hips. These were sad sights<br>
for a horse to look upon, who knows not but he may come to the same<br>
state.<br>
<br>
There was a great deal of bargaining, of running up and beating down;<br>
and if a horse may speak his mind so far as he understands, I should say<br>
there were more lies told and more trickery at that horse fair than a<br>
clever man could give an account of. I was put with two or three <span class="GramE">other</span><br>
strong, useful-looking horses, and a good many people came to look at<br>
us. The gentlemen always turned from me when they saw my broken knees;<br>
though the man who had me swore it was only a slip in the stall.<br>
<br>
The first thing was to pull my mouth open, then to look at my eyes, then<br>
feel all the way down my legs, and give me a hard feel of the skin and<br>
flesh, and then try my paces. It was wonderful what a difference there<br>
was in the way these things were done. Some did it in a rough, offhand<br>
way, as if one was only a piece of wood; while others would take their<br>
hands gently over one's body, with a pat now and then, as much as to<br>
say, "By your leave." <span class="GramE">Of course</span> I judged a
good deal of the buyers by<br>
their manners to myself.<br>
<br>
There was one man, I thought, if he would buy me, I should be happy.<br>
He was not a gentleman, nor yet one of the loud, flashy sort that call<br>
themselves so. He was rather a small man, but well made, and quick in<br>
all his motions. I knew in a moment by the way he handled me, that he<br>
was used to horses; he spoke gently, and his gray eye had a kindly,<br>
cheery look in it. It may seem strange to say--but it is true all the<br>
same--that the clean, fresh smell there was about him made me take to<br>
him; no smell of old beer and tobacco, which I hated, but a fresh smell<br>
as if he had come out of a hayloft. He offered twenty-three pounds for<br>
me, but that was refused, and he walked away. I looked after him, but<br>
he was gone, and a very hard-looking, loud-voiced man came. I was<br>
dreadfully afraid he would have me; but he walked off. One or two more<br>
came who did not mean business. Then the hard-faced man came back again<br>
and offered twenty-three pounds. A very close bargain was being driven,<br>
for my salesman began to think he should not get all he <span class="GramE">asked,
and</span> must<br>
come down; but just then the gray-eyed man came back again. I could not<br>
help reaching out my head toward him. He stroked my face kindly.<br>
<br>
"Well, old chap," he said, "I think we should suit each other.
I'll give<br>
twenty-four for him."<br>
<br>
"Say twenty-five and you shall have him."<br>
<br>
"Twenty-four ten," said my friend, in a very decided tone, "and
not<br>
another sixpence--yes or no?"<br>
<br>
"Done," said the salesman; "and you may depend upon it there's a<br>
monstrous deal of quality in that horse, and if you want him for cab<br>
work he's a bargain."<br>
<br>
The money was paid on the spot, and my new master took my halter, and<br>
led me out of the fair to an inn, where he had a saddle and bridle<br>
ready. He gave me a good feed of oats and stood by while I ate it,<br>
talking to himself and talking to me. Half an hour after we were on our<br>
way to London, through pleasant lanes and country roads, until we came<br>
into the great London thoroughfare, on which we traveled steadily, till<br>
in the twilight we reached the great city. The gas lamps were already<br>
lighted; there were streets to the right, and streets to the left, and<br>
streets crossing each other, for mile upon mile. I thought we should<br>
never come to the end of them. At last, in passing through one, we<br>
came to a long cab stand, when my rider called out in a cheery voice,<br>
"Good-night, governor!"<br>
<br>
"Halloo!" cried a voice. "Have you got a good one?"<br>
<br>
"I think so," replied my owner.<br>
<br>
"I wish you luck with him."<br>
<br>
"Thank you, governor," and he rode on. We soon turned up one of the <span class="GramE">side</span><br>
streets, and about halfway up that we turned into a very narrow street,<br>
with rather poor-looking houses on one side, and what seemed to be<br>
coach-houses and stables on the other.<br>
<br>
My owner pulled up at one of the houses and whistled. The door flew<br>
open, and a young woman, followed by a little girl and boy, ran out.<br>
There was a very lively greeting as my rider dismounted.<br>
<br>
"Now, then, Harry, my boy, open the gates, and mother will bring us the<br>
lantern."<br>
<br>
The next minute they were all standing round me in a small stable-yard.<br>
<br>
"Is he gentle, father?"<br>
<br>
"Yes, Dolly, as gentle as your own kitten; come and pat him."<br>
<br>
At once the little hand was patting about all over my shoulder without<br>
fear. How good it felt!<br>
<br>
"Let me get him a bran mash while you rub him down," said the mother.<br>
<br>
"Do, Polly, it's just what he wants; and I know you've got a beautiful<br>
mash ready for me."<br>
<br>
"Sausage dumpling and apple turnover!" shouted the boy, which set
them<br>
all laughing. I was led into a comfortable, clean-smelling stall, with<br>
plenty of dry straw, and after a capital supper I lay down, thinking I<br>
was going to be happy.<br>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What qualities did the gray-eyed man possess that made the horse feel comfortable with him?</p>
        <p>2. Describe the conditions of the stable-yard where the horse was taken by the gray-eyed man.</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The gray-eyed man was gentle, used to handling horses, and spoke kindly. The horse noticed the fresh smell about him, which made him feel at ease and attracted to the man. The man's actions, such as stroking the horse's face gently, contributed to a positive impression.</p>
        <p>2. The stable-yard was described as small and clean, with houses on one side and what seemed to be coach-houses and stables on the other. The family greeted the horse warmly upon arrival, and the stable had a comfortable, clean-smelling stall with plenty of dry straw. The mother prepared a bran mash for the horse, indicating a caring and considerate environment.</p>
    </div>
</div>

<!-- Reading Section 3 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 33. A London Cab Horse</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
Jeremiah Barker was my new master's name, but as <span class="GramE">every one</span>
called him<br>
Jerry, I shall do the same. Polly, his wife, was just as good a match as<br>
a man could have. She was a plump, trim, tidy little woman, with smooth,<br>
dark hair, dark eyes, and a merry little mouth. The boy was twelve years<br>
old, a tall, frank, good-tempered lad; and little Dorothy (Dolly they<br>
called her) was her mother over again, at eight years old. They were all<br>
wonderfully fond of each other; I never knew such a happy, merry family<br>
before or since. Jerry had a cab of his own, and two horses, which he<br>
drove and attended to himself. His other horse was a tall, white, rather<br>
large-boned animal called "Captain". He was old now, but when he was<br>
young he must have been splendid; he had still a proud way of<br>
holding his head and arching his neck; in fact, he was a high-bred,<br>
fine-mannered, noble old horse, every inch of him. He told me that in<br>
his early youth he went to the Crimean War; he belonged to an officer<br>
in the <span class="GramE">cavalry, and</span> used to lead the regiment. I will
tell more of that<br>
hereafter.<br>
<br>
The next morning, when I was well-groomed, Polly and Dolly came into the<br>
yard to see me and make friends. Harry had been helping his father since<br>
the early <span class="GramE">morning, and</span> had stated his opinion that I
should turn out a<br>
"regular brick". Polly brought me a slice of apple, and Dolly a piece<br>
of bread, and made as much of me as if I had been the "Black Beauty"
of<br>
olden time. It was a great treat to be petted again and talked to in a<br>
gentle voice, and I let them see as well as I could that I wished to be<br>
friendly. Polly thought I was very handsome, and a great deal too good<br>
for a cab, if it was not for the broken knees.<br>
<br>
"Of course there's no one to tell us whose fault that was," said
Jerry,<br>
"and <span class="GramE">as long as</span> I don't know I shall give him the
benefit of the doubt;<br>
for a firmer, neater stepper I never rode. We'll call him 'Jack', after<br>
the old one--shall we, Polly?"<br>
<br>
"Do," she said, "for I like to keep a good name going."<br>
<br>
Captain went out in the cab all the morning. Harry came in after school<br>
to feed me and give me water. In the afternoon I was put into the<br>
cab. Jerry took as <span class="GramE">much</span> pains to see if the collar and
bridle fitted<br>
comfortably as if he had been John Manly over again. When the crupper<br>
was let out a hole or two it all fitted well. There was no <span class="GramE">check-rein</span>,<br>
no curb, nothing but a plain ring snaffle. What a blessing that was!<br>
<br>
After driving through the side street we came to the large cab stand<br>
where Jerry had said "<span class="GramE">Good-night</span>". On one
side of this wide street were<br>
high houses with wonderful shop fronts, and on the other was an old<br>
church and churchyard, surrounded by iron palisades. Alongside these<br>
iron rails <span class="GramE">a number of</span> cabs were drawn up, waiting for
passengers; bits<br>
of hay were lying about on the ground; some of the men were standing<br>
together talking; some were sitting on their boxes reading the<br>
newspaper; and one or two were feeding their horses with bits of hay,<br>
and giving them a drink of water. We pulled up in the rank at the back<br>
of the last cab. Two or three men came round and began to look at me and<br>
pass their remarks.<br>
<br>
"Very good for a funeral," said one.<br>
<br>
"Too smart-looking," said another, shaking his head in a very wise
way;<br>
"you'll find out something wrong one of these fine mornings, or my name<br>
isn't Jones."<br>
<br>
"Well," said Jerry pleasantly, "I suppose I need not find it out
till it<br>
finds me out, eh? And if so, I'll keep up my spirits a little longer."<br>
<br>
Then there came up a broad-faced man, dressed in a great gray coat<br>
with great gray cape and great white buttons, a gray hat, and a blue<br>
comforter loosely tied round his neck; his hair was gray, too; but<br>
he was a jolly-looking fellow, and the other men made way for him.<br>
He looked me all over, as if he had been going to buy me; and then<br>
straightening himself up with a grunt, he said, "He's the right sort for<br>
you, Jerry; I don't care what you gave for him, he'll be worth it." Thus<br>
my character was established on the stand.<br>
<br>
This man's name was Grant, but he was called "Gray Grant", or
"Governor<br>
Grant". He had been the longest on that stand of any of the men, and<br>
he took it upon himself to settle matters and stop disputes. He was<br>
generally a good-humored, sensible man; but if his temper was a little<br>
out, as it was sometimes when he had drunk too much, nobody liked to<br>
come too near his fist, for he could deal a very heavy blow.<br>
<br>
The first week of my life as a cab horse was very trying. I had never<br>
been used to London, and the noise, the hurry, the crowds of horses,<br>
carts, and carriages that I had to make my way through made me feel<br>
anxious and harassed; but I soon found that I could perfectly trust my<br>
driver, and then I made myself easy and got used to it.<br>
<br>
Jerry was as good a driver as I had ever known, and what was better, he<br>
took as much thought for his horses as he did for himself. He soon found<br>
out that I was willing to work and do my best, and he never laid the<br>
whip on me unless it was gently drawing the end of it over my back when<br>
I was to go on; but generally I knew this quite well by the way in which<br>
he took up the reins, and I believe his whip was more frequently stuck<br>
up by his side than in his hand.<br>
<br>
In a short time I and my master understood each other as well as horse<br>
and man can do. In the stable, too, he did all that he could for our<br>
comfort. The stalls were the old-fashioned style, too much on the slope;<br>
but he had two movable bars fixed across the back of our stalls, so that<br>
at night, and when we were resting, he just took off our halters and<br>
put up the bars, and thus we could turn about and stand whichever way we<br>
pleased, which is a great comfort.<br>
<br>
Jerry kept us very clean, and gave us as much change of food as he<br>
could, and always plenty of it; and not only that, but he always gave us<br>
plenty of clean fresh water, which he allowed to stand by us both night<br>
and day, except of course when we came in warm. Some people say that a<br>
horse ought not to drink all he likes; but I know if we are allowed to<br>
drink when we want it we drink only a little at a time, and it does us<br>
a great deal more good than swallowing down half a bucketful at a time,<br>
because we have been left without till we are thirsty and miserable.<br>
Some grooms will go home to their beer and leave us for hours with our<br>
dry hay and oats and nothing to moisten them; then of course we gulp<br>
down too much at once, which helps to spoil our breathing and sometimes<br>
chills our stomachs. But the best thing we had here was our Sundays for<br>
rest; we worked so hard in the week that I do not think we could have<br>
kept up to it but for that day; besides, we had then time to enjoy each<br>
other's company. It was on these days that I learned my companion's<br>
history.<br>
    </div>
    <p class="w3-large" id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe Jerry's family, including their names and characteristics.</p>
        <p>2. What qualities did Jerry possess that made the horse feel comfortable and trusting with him?</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Jerry's family consists of himself, Polly (his wife), a twelve-year-old boy named Harry, and an eight-year-old girl named Dorothy (Dolly). Polly is described as a plump, trim, and tidy woman with dark hair, dark eyes, and a merry mouth. Harry is tall, frank, and good-tempered, while Dolly resembles her mother. The family is happy, fond of each other, and forms a merry household.</p>
        <p>2. Jerry was described as a good driver who took as much thought for his horses as for himself. He was gentle and considerate, never harshly using the whip, and took pains to ensure that the collar and bridle fitted comfortably. He established trust with the horse by being a skilled and compassionate handler, making the horse feel at ease and willing to work.

</p>
    </div>
</div>

<!-- Reading Section 4 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 34. An Old War Horse</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
Captain had been broken in and trained for an army horse; his first<br>
owner was an officer of cavalry going out to the Crimean war. He said he<br>
quite enjoyed the training with all the other horses, trotting together,<br>
<span class="GramE">turning together,</span> to the right hand or the left,
halting at the word of<br>
command, or dashing forward at full speed at the sound of the trumpet<br>
or signal of the officer. He was, when young, a dark, dappled iron-gray,<br>
and considered very handsome. His master, a young, high-spirited<br>
gentleman, was very fond of him, and treated him from the first with the<br>
greatest care and kindness. He told me he thought the life of an army<br>
horse was very pleasant; but when it came to being sent abroad over the<br>
sea in a great ship, he almost changed his mind.<br>
<br>
"That part of it," said he, "was dreadful! <span class="GramE">Of
course</span> we could not walk<br>
off the land into the ship; so they were obliged to put strong straps<br>
under our bodies, and then we were lifted off our legs in spite of our<br>
struggles, and were swung through the air over the water, to the deck of<br>
the great vessel. There we were placed in small close stalls, and never<br>
for a long time saw the <span class="GramE">sky, or</span> were able to stretch
our legs. The ship<br>
sometimes rolled about in high winds, and we were knocked about, and<br>
felt bad enough.<br>
<br>
"However, at last it came to an end, and we were hauled up, and swung<br>
over again to the land; we were very glad, and snorted and neighed for<br>
joy, when we once more felt firm ground under our feet.<br>
<br>
"We soon found that the country we had come to was very different from<br>
our own and that we had many hardships to endure besides the fighting;<br>
but many of the men were so fond of their horses that they did<br>
everything they could to make them comfortable in spite of snow, wet,<br>
and all things out of order."<br>
<br>
"But what about the fighting?" said I, "was not that worse than
anything<br>
else?"<br>
<br>
"Well," said he, "I hardly know; we always liked to hear the
trumpet<br>
sound, and to be called out, and were impatient to start off, though<br>
sometimes we had to stand for hours, waiting for the word of command;<br>
and when the word was given we used to spring forward as gayly and<br>
eagerly as if there were no cannon balls, bayonets, or bullets. I<br>
believe so long as we felt our rider firm in the saddle, and his hand<br>
steady on the bridle, not one of us gave way to fear, not even when the<br>
terrible bomb-shells whirled through the air and burst into a thousand<br>
pieces.<br>
<br>
"I, with my noble master, went into many actions together without a<br>
wound; and though I saw horses shot down with bullets, pierced through<br>
with lances, and gashed with fearful saber-cuts; though we left them<br>
dead on the field, or dying in the agony of their wounds, I don't think<br>
I feared for myself. My master's cheery voice, as he encouraged his<br>
men, made me feel as if he and I could not be killed. I had such perfect<br>
trust in him that while he was guiding <span class="GramE">me</span> I was ready
to charge up<br>
to the very cannon's mouth. I saw many brave men cut down, many fall<br>
mortally wounded from their saddles. I had heard the cries and groans<br>
of the dying, I had cantered over ground slippery with blood, and<br>
frequently had to turn aside to avoid trampling on wounded man or horse,<br>
but, until one dreadful day, I had never felt terror; that day I shall<br>
never forget."<br>
<br>
Here old Captain paused for awhile and drew a long breath; I waited, and<br>
he went on.<br>
<br>
"It was one autumn morning, and as usual, an hour before daybreak our<br>
cavalry had turned out, ready caparisoned for the day's work, whether<br>
it might be fighting or waiting. The men stood by their horses waiting,<br>
ready for orders. As the light increased there seemed to be some<br>
excitement among the officers; and before the day was well begun we<br>
heard the firing of the enemy's guns.<br>
<br>
"Then one of the officers rode up and gave the word for the men to<br>
mount, and in a second every man was in his saddle, and every horse<br>
stood expecting the touch of the rein, or the pressure of his rider's<br>
heels, all animated, all eager; but still we had been trained so well<br>
that, except by the champing of our bits, and the restive tossing of our<br>
heads from time to time, it could not be said that we stirred.<br>
<br>
"My dear master and I were at the head of the line, and as all sat<br>
motionless and watchful, he took a little stray lock of my mane which<br>
had turned over on the wrong side, laid it over on the right, and<br>
smoothed it down with his hand; then patting my neck, he said, 'We shall<br>
have a day of it to-day, Bayard, my beauty; but we'll do our duty as we<br>
have done.' He stroked my neck that morning more, I think, than he had<br>
ever done before; quietly on and on, as if he were thinking of something<br>
else. I loved to feel his hand on my neck, and arched my crest proudly<br>
and happily; but I stood very still, for I knew all his moods, and when<br>
he liked me to be quiet, and when gay.<br>
<br>
"I cannot tell all that happened on that day, but I will tell of the<br>
last charge that we made together; it was across a valley right in front<br>
of the enemy's cannon. By this <span class="GramE">time</span> we were well used
to the roar of<br>
heavy guns, the rattle of musket fire, and the flying of shot near us;<br>
but never had I been under such a fire as we rode through on that day.<br>
From the right, from the left, and from the front, shot and shell poured<br>
in upon us. Many a brave man went down, many a horse fell, flinging his<br>
rider to the earth; many a horse without a rider ran wildly out of the<br>
ranks; then terrified at being alone, with no hand to guide him, came<br>
pressing in among his old companions, to gallop with them to the charge.<br>
<br>
"Fearful as it was, no one stopped, no one turned back. Every moment the<br>
ranks were thinned, but as our comrades fell, we closed in to keep<br>
them together; and instead of being shaken or staggered in our pace our<br>
gallop became faster and faster as we neared the cannon.<br>
<br>
"My master, my dear master was cheering on his comrades with his right<br>
arm raised on high, when one of the balls whizzing close to my head<br>
struck him. I felt him stagger with the shock, though he uttered no cry;<br>
I tried to check my speed, but the sword dropped from his right hand,<br>
the rein fell loose from the left, and sinking backward from the saddle<br>
he fell to the earth; the other riders swept past us, and by the force<br>
of their charge I was driven from the spot.<br>
<br>
"I wanted to keep my place by his side and not leave him under that<br>
rush of horses' feet, but it was in vain; and now without a master or a<br>
friend I was alone on that great slaughter ground; then fear took hold<br>
on me, and I trembled as I had never trembled before; and I too, as I<br>
had seen other horses do, tried to join in the ranks and gallop with<br>
them; but I was beaten off by the swords of the soldiers. Just then a<br>
soldier whose horse had been killed under him caught at my bridle and<br>
mounted me, and with this new master I was again going forward; but our<br>
gallant company was cruelly overpowered, and those who remained alive<br>
after the fierce fight for the guns came galloping back over the same<br>
ground. Some of the horses had been so badly wounded that they could<br>
scarcely move from the loss of blood; other noble creatures were trying<br>
on three legs to drag themselves along, and others were struggling to<br>
rise on their fore feet, when their hind legs had been shattered by<br>
shot. After the battle the wounded men were brought <span class="GramE">in</span>
and the dead were<br>
buried."<br>
<br>
"And what about the wounded horses?" I <span class="GramE">said;</span>
"were they left to die?"<br>
<br>
"No, the army farriers went over the field with their pistols and shot<br>
all that were ruined; some that had only slight wounds were brought back<br>
and attended to, but the greater part of the noble, willing creatures<br>
that went out that morning never came back! In our stables there was<br>
only about one in four that returned.<br>
<br>
"I never saw my dear master again. I believe he fell dead from the<br>
saddle. I never loved any other master so well. I went into many other<br>
engagements, but was only once wounded, and then not seriously; and when<br>
the war was over I came back again to England, as sound and strong as<br>
when I went out."<br>
<br>
I said, "I have heard people talk about war as if it was a very fine<br>
thing."<br>
<br>
"Ah!" said he, "I should think they never saw it. No doubt it is
very<br>
fine when there is no enemy, when it is just exercise and parade and<br>
sham fight. Yes, it is very fine then; but when thousands of good brave<br>
men and horses are killed or crippled for life, it has a very different<br>
look."<br>
<br>
"Do you know what they fought about?" said I.<br>
<br>
"No," he said, "that is more than a horse can understand, but
the enemy<br>
must have been awfully wicked people, if it was right to go all that way<br>
over the sea on purpose to kill them."<br>
    </div>
    <p class="w3-large" id="questions4">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe Captain's experiences during the Crimean War, focusing on his training and the challenges he faced.</p>
        <p>2. Narrate the events of the last charge Captain made with his master during the war. What happened, and how did it impact Captain?</p>
    </div>
    <p><a href="#" onclick="show_answer4();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message4" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Captain was initially trained as an army horse for the Crimean War. He enjoyed the training activities with other horses, such as trotting, turning, and responding to signals. His first owner, a high-spirited gentleman, treated him with care and kindness. Captain described the hardships of being transported on a ship, enduring cramped stalls and rough seas. Despite the challenges, he appreciated the bond with his rider and the excitement of battle.</p>
        <p>2. During the last charge of the war, Captain and his master faced heavy gunfire from all sides as they galloped towards the enemy's cannons. Despite the chaos, the soldiers and horses pressed on, driven by determination. Tragically, Captain's master was struck by a cannonball and fell. The shock left Captain trembling, and he tried to stay by his master's side, but the rush of horses forced him away. Alone and terrified, Captain tried to join the ranks but was beaten back by soldiers. Eventually, a wounded soldier mounted him, and they moved forward, witnessing the devastating aftermath of the battle. Captain lost his beloved master in this tragic event.</p>
    </div>
</div>

<!-- Reading Section 5 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>Chapter 35. Jerry Barker</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
I never knew a better man than my new master. He was kind and good, and<br>
as strong for the right as John Manly; and so good-tempered and merry<br>
that very few people could pick a quarrel with him. He was very fond of<br>
making little <span class="GramE">songs, and</span> singing them to himself. One
he was very fond<br>
of was this:<br>
<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>"Come, father and mother,<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>And sister and brother,<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>Come, all of you, turn to<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>And help one another."<br>
<br>
And so they did; Harry was as clever at <span class="GramE">stable-work</span> as
a much older boy,<br>
and always wanted to do what he could. Then Polly and Dolly used to come<br>
in the morning to help with the cab--to brush and beat the cushions,<br>
and rub the glass, while Jerry was giving us a cleaning in the yard, and<br>
Harry was rubbing the harness. There used to be a great deal of laughing<br>
and fun between them, and it put Captain and me in much better spirits<br>
than if we had heard scolding and hard words. They were always early in<br>
the morning, for Jerry would say:<br>
<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>"If you in the morning<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>Throw minutes away,<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>You can't pick them up<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>In the course of a day.<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>You may hurry and scurry,<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>And flurry and worry,<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>You've lost them forever,<br>
<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span>Forever and aye."<br>
<br>
He could not bear any careless loitering and waste of time; and nothing<br>
was so near making him angry as to find people, who were always late,<br>
wanting a cab horse to be driven hard, to make up for their idleness.<br>
<br>
One day two wild-looking young men came out of a tavern close by the<br>
stand, and called Jerry.<br>
<br>
"Here, cabby! look sharp, we are rather late; put on the steam, will<br>
you, and take us to the Victoria in time for the one o'clock train? You<br>
shall have a shilling extra."<br>
<br>
"I will take you at the regular pace, gentlemen; shillings don't pay for<br>
putting on the steam like that."<br>
<br>
Larry's cab was standing next to ours; he flung open the door, and said,<br>
"I'm your man, gentlemen! take my cab, my horse will get you there all<br>
right;" and as he shut them in, with a wink toward Jerry, said, "It's<br>
against his conscience to go beyond a jog-trot." Then slashing his jaded<br>
horse, he set off as hard as he could. Jerry patted me on the neck: "No,<br>
Jack, a shilling would not pay for that sort of thing, would it, old<br>
boy?"<br>
<br>
Although Jerry was determinedly set against hard driving, to please<br>
careless people, he always went a good fair pace, and was not against<br>
putting on the steam, as he said, if only he knew why.<br>
<br>
I well remember one morning, as we were on the stand waiting for a<br>
fare, that a young man, carrying a heavy portmanteau, trod on a piece of<br>
orange peel which lay on the pavement, and fell down with great force.<br>
<br>
Jerry was the first to run and lift him up. He seemed much stunned, and<br>
as they led him into a shop he walked as if he were in great pain. Jerry<br>
of course came back to the stand, but in about ten minutes one of the<br>
shopmen called him, so we drew up to the pavement.<br>
<br>
"Can you take me to the South-Eastern Railway?" said the young man;<br>
"this unlucky fall has made me late, I fear; but it is of great<br>
importance that I should not lose the twelve o'clock train. I should be<br>
most thankful if you could get me there in time, and will gladly pay you<br>
an extra fare."<br>
<br>
"I'll do my very best," said Jerry heartily, "if you think you
are well<br>
enough, sir," for he looked dreadfully white and ill.<br>
<br>
"I must go," he said earnestly, "please to open the door, and
let us<br>
lose no time."<br>
<br>
The next minute Jerry was on the box; with a cheery chirrup to me, and a<br>
twitch of the rein that I well understood.<br>
<br>
"Now then, Jack, my boy," said he, "spin along, we'll show them
how we<br>
can get over the ground, if we only know why."<br>
<br>
It is always difficult to drive fast in the city in the middle of the<br>
day, when the streets are full of traffic, but we did what could be<br>
done; and when a good driver and a good horse, who understand each<br>
other, are of one mind, it is wonderful what they can do. I had a very<br>
good mouth--that is I could be guided by the slightest touch of the<br>
rein; and that is a great thing in London, among carriages, omnibuses,<br>
carts, vans, trucks, cabs, and great wagons creeping along at a walking<br>
pace; some going one way, some another, some going slowly, others<br>
wanting to pass them; omnibuses stopping short every few minutes to take<br>
up a passenger, obliging the horse that is coming behind to pull up too,<br>
or to pass, and get before them; perhaps you try to pass, but just then<br>
something else comes dashing in through the narrow opening, and you<br>
have to keep in behind the omnibus again; presently you think you see a<br>
chance, and manage to get to the front, going so near the wheels on each<br>
side that half an inch nearer and they would scrape. Well, you get along<br>
for a bit, but soon find yourself in a long train of carts and carriages<br>
all obliged to go at a walk; perhaps you come to a regular block-up, and<br>
have to stand still for minutes together, till something clears out into<br>
a side street, or the policeman interferes; you have to be ready for<br>
any chance--to dash forward if there be an opening, and be quick as a<br>
rat-dog to see if there be room and if there be time, lest you get your<br>
own wheels locked or smashed, or the shaft of some other vehicle run<br>
into your chest or shoulder. All this is what you <span class="GramE">have to</span>
be ready for.<br>
If you want to get through London fast in the middle of the day it wants<br>
a deal of practice.<br>
<br>
Jerry and I were used to it, and no one could beat us at getting through<br>
when we were set upon it. I was quick and bold and could always trust<br>
my driver; Jerry was quick and patient at the same time, and could trust<br>
his horse, which was a great thing too. He very seldom used the whip; I<br>
knew by his voice, and his click, click, when he wanted to get on fast,<br>
and by the rein where I was to go; so there was no need for whipping;<br>
but I must go back to my story.<br>
<br>
The streets were very full that day, but we got on pretty well as far<br>
as the bottom of Cheapside, where there was a block for three or four<br>
minutes. The young man put his head out and said anxiously, "I think I<br>
had better get out and walk; I shall never get there if this goes on."<br>
<br>
"I'll do all that can be done, sir," said Jerry; "I think we
shall be<br>
in time. This block-up cannot last much longer, and your luggage is very<br>
heavy for you to carry, sir."<br>
<br>
Just then the cart in front of us began to move on, and then we had a<br>
good turn. In and out, in and out we went, as fast as horseflesh could<br>
do it, and for a wonder had a good clear time on London Bridge, for<br>
there was a whole train of cabs and carriages all going our way at a<br>
quick trot, perhaps wanting to catch that very train. At any rate, we<br>
whirled into the station with many more, just as the great clock pointed<br>
to eight minutes to twelve o'clock.<br>
<br>
"Thank God! we are in time," said the young man, "and thank you,
too, my<br>
friend, and your good horse. You have saved me more than money can ever<br>
pay for. Take this extra half-crown."<br>
<br>
"No, sir, no, thank you all the same; so glad we hit the time, sir;<br>
but don't stay now, sir, the bell is ringing. Here, porter! take this<br>
gentleman's luggage--Dover line twelve o'clock train--that's it," and<br>
without waiting for another word Jerry wheeled me round to make room for<br>
other cabs that were dashing up at the last <span class="GramE">minute, and</span>
drew up on one<br>
side till the crush was past.<br>
<br>
"'So glad!' he said, 'so glad!' Poor young fellow! I wonder what it was<br>
that made him so anxious!"<br>
<br>
Jerry often talked to himself quite loud enough for me to hear when we<br>
were not moving.<br>
<br>
On Jerry's return to the rank there was a good deal of laughing and<br>
chaffing at him for driving hard to the train for an extra fare, as they<br>
said, all against his principles, and they wanted to know how much he<br>
had pocketed.<br>
<br>
"A good deal more than I generally get," said he, nodding slyly;
"what<br>
he gave me will keep me in little comforts for several days."<br>
<br>
"Gammon!" said one.<br>
<br>
"He's a humbug," said another; "preaching to us and then doing
the same<br>
himself."<br>
<br>
"Look here, mates," said Jerry; "the gentleman offered me half a
crown<br>
extra, but I didn't take it; 'twas quite pay enough for me to see how<br>
glad he was to catch that train; and if Jack and I choose to have a<br>
quick run now and then to please ourselves, that's our business and not<br>
yours."<br>
<br>
"Well," said Larry, "you'll never be a rich man."<br>
<br>
"Most likely not," said Jerry; "but I don't know that I shall be
the<br>
less happy for that. I have heard the commandments read a great many<br>
times and I never noticed that any of them said, 'Thou shalt be rich';<br>
and there are a good many curious things said in the New Testament about<br>
rich men that I think would make me feel rather queer if I was one of<br>
them."<br>
<br>
"If you ever do get rich," said Governor Gray, looking over his
shoulder<br>
across the top of his cab, "you'll deserve it, Jerry, and you won't find<br>
a curse come with your wealth. As for you, Larry, you'll die poor; you<br>
spend too much in whipcord."<br>
<br>
"Well," said Larry, "what is a fellow to do if his horse won't
go<br>
without it?"<br>
<br>
"You never take the trouble to see if he will go without it; your whip<br>
is always going as if you had the St. Vitus' dance in your arm, and<br>
if it does not wear you out it wears your horse out; you know you are<br>
always changing your horses; and why? Because you never give them any<br>
peace or encouragement."<br>
<br>
"Well, I have not had good luck," said Larry, "that's where it
is."<br>
<br>
"And you never will," said the governor. "Good Luck is rather
particular<br>
who she rides with, and mostly prefers those who have got common sense<br>
and a good heart; at least that is my experience."<br>
<br>
Governor Gray turned round again to his newspaper, and the other men<br>
went to their cabs.<br>
    </div>
    <p class="w3-large" id="questions5">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe the qualities of the new master according to the text. What makes him a good and likable person?</p>
        <p>2. Narrate the incident involving the young man who urgently needed to catch a train. How did Jerry and the horse respond to the situation?</p>
    </div>
    <p><a href="#" onclick="show_answer5();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message5" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The new master is described as kind, good, strong for what is right, and possessing a good temper. He is also portrayed as merry and fond of making little songs. His positive qualities include being able to get along with people and having a cheerful disposition, making it difficult for others to pick quarrels with him.</p>
        <p>2. The young man, who had fallen and seemed injured, urgently needed to catch a train. Despite his condition, Jerry, the driver, and the horse worked together efficiently. Jerry drove the cab skillfully through the crowded streets of London, navigating obstacles and traffic. The horse responded well to Jerry's guidance. They successfully reached the train station just in time for the young man to catch his train, and Jerry refused to take extra money, expressing satisfaction in helping someone in need.</p>
    </div>
</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}

function show_answer4() {
    event.preventDefault();
    document.querySelector('#answer_message4').style.display = "block";
    document.querySelector('#questions4').scrollIntoView();

}
function show_answer5() {
    event.preventDefault();
    document.querySelector('#answer_message5').style.display = "block";
    document.querySelector('#questions5').scrollIntoView();

}

</script>
{% endblock %}