{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
{% include 'includes/header.html' %}


<!-- Audio Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <a href="https://amzn.to/48PuyN6" target="_blank">
        <img class="w3-image w3-large w3-hide-small" src="/static/audio.png" alt="audio">
        <img class="w3-image w3-large w3-hide-large w3-hide-medium" src="/static/audio-s.png" alt="audio-s">
    </a>
</div>


<!-- Daily Pick Section -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-xlarge"><strong>Daily Book Picks<br></strong></p>
    <ul>
        <li><a href="{% url 'cant_hurt_me' %}">Day 14 Self-Help: Can't Hurt Me by David Goggins</a></li>
        <li><a href="{% url 'rework' %}">Day 56 Entrepreneurship: Rework by Jason Fried & David Heinemeier Hansson</a></li>
        <li><a href="{% url 'the_art_of_choosing' %}">Day 72 Behavioural Science: The Art of Choosing by Sheena Iyengar</a></li>
        <li><a href="{% url 'spark' %}">Day 143 Health: Spark by John J. Ratey</a></li>
        <li><a href="{% url 'the_end_of_everything' %}">Day 187 Astrophysics: The End of Everything by Katie Mack</a></li>
    </ul>
</div>

<!-- Book Section -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-xlarge"><strong>Personal Development and Self-Help<br></strong></p>
    <ul>
        <li><a href="{% url 'atomic_habits' %}">Day 1: Atomic Habits by James Clear</a></li>
        <li><a href="{% url 'the_power_of_now' %}">Day 2: The Power of Now by Eckhart Tolle</a></li>
        <li><a href="{% url 'think_and_grow_rich' %}">Day 3: Think and Grow Rich by Napoleon Hill</a></li>
        <li><a href="{% url 'the_7_habits_of_highly_effective_people' %}">Day 4: The 7 Habits of Highly Effective People by Stephen Covey</a></li>
        <li><a href="{% url 'how_to_win_friends_and_influence_people' %}">Day 5: How to Win Friends and Influence People by Dale Carnegie</a></li>
        <li><a href="{% url 'you_are_a_badass' %}">Day 6: You Are a Badass by Jen Sincero</a></li>
        <li><a href="{% url 'the_four_agreements' %}">Day 7: The Four Agreements by Don Miguel Ruiz</a></li>
        <li><a href="{% url 'daring_greatly' %}">Day 8: Daring Greatly by Brené Brown</a></li>
        <li><a href="{% url 'mans_search_for_meaning' %}">Day 9: Man’s Search for Meaning by Viktor E. Frankl</a></li>
        <li><a href="{% url 'the_miracle_morning' %}">Day 10: The Miracle Morning by Hal Elrod</a></li>
        <li><a href="{% url 'deep_work' %}">Day 11: Deep Work by Cal Newport</a></li>
        <li><a href="{% url 'grit' %}">Day 12: Grit by Angela Duckworth</a></li>
        <li><a href="{% url 'the_subtle_art_of_not_giving_a_fck' %}">Day 13: The Subtle Art of Not Giving a Fck by Mark Manson</a></li>
        <li><a href="{% url 'cant_hurt_me' %}">Day 14: Can't Hurt Me by David Goggins</a></li>
        <li><a href="{% url 'mindset' %}">Day 15: Mindset by Carol S. Dweck</a></li>
        <li><a href="{% url 'ikigai' %}">Day 16: Ikigai: The Japanese Secret to a Long and Happy Life by Hector Garcia & Francesc Miralles</a></li>
        <li><a href="{% url 'make_your_bed' %}">Day 17: Make Your Bed by Admiral William H. McRaven</a></li>
        <li><a href="{% url 'the_alchemist' %}">Day 18: The Alchemist by Paulo Coelho</a></li>
        <li><a href="{% url 'the_untethered_soul' %}">Day 19: The Untethered Soul by Michael A. Singer</a></li>
        <li><a href="{% url 'big_magic' %}">Day 20: Big Magic by Elizabeth Gilbert</a></li>
        <li><a href="{% url 'essentialism' %}">Day 21: Essentialism by Greg McKeown</a></li>
        <li><a href="{% url 'the_slight_edge' %}">Day 22: The Slight Edge by Jeff Olson</a></li>
        <li><a href="{% url 'no_excuses' %}">Day 23: No Excuses! by Brian Tracy</a></li>
        <li><a href="{% url 'the_4_hour_workweek' %}">Day 24: The 4-Hour Workweek by Tim Ferriss</a></li>
        <li><a href="{% url 'as_a_man_thinketh' %}">Day 25: As a Man Thinketh by James Allen</a></li>
        <li><a href="{% url 'the_success_principles' %}">Day 26: The Success Principles by Jack Canfield</a></li>
        <li><a href="{% url 'start_with_why' %}">Day 27: Start with Why by Simon Sinek</a></li>
        <li><a href="{% url 'who_moved_my_cheese' %}">Day 28: Who Moved My Cheese? by Spencer Johnson</a></li>
        <li><a href="{% url 'the_war_of_art' %}">Day 29: The War of Art by Steven Pressfield</a></li>
        <li><a href="{% url 'tools_of_titans' %}">Day 30: Tools of Titans by Tim Ferriss</a></li>
    </ul>
        <p class="w3-xlarge"><strong>Business and Leadership<br></strong></p>
    <ul>
        <li><a href="{% url 'good_to_great' %}">Day 31: Good to Great by Jim Collins</a></li>
        <li><a href="{% url 'the_lean_startup' %}">Day 32: The Lean Startup by Eric Ries</a></li>
        <li><a href="{% url 'blue_ocean_strategy' %}">Day 33: Blue Ocean Strategy by W. Chan Kim & Renée Mauborgne</a></li>
        <li><a href="{% url 'leaders_eat_last' %}">Day 34: Leaders Eat Last by Simon Sinek</a></li>
        <li><a href="{% url 'principles_life_and_work' %}">Day 35: Principles: Life and Work by Ray Dalio</a></li>
        <li><a href="{% url 'the_hard_thing_about_hard_things' %}">Day 36: The Hard Thing About Hard Things by Ben Horowitz</a></li>
        <li><a href="{% url 'measure_what_matters' %}">Day 37: Measure What Matters by John Doerr</a></li>
        <li><a href="{% url 'dare_to_lead' %}">Day 38: Dare to Lead by Brené Brown</a></li>
        <li><a href="{% url 'the_innovators_dilemma' %}">Day 39: The Innovator’s Dilemma by Clayton Christensen</a></li>
        <li><a href="{% url 'start_something_that_matters' %}">Day 40: Start Something That Matters by Blake Mycoskie</a></li>
        <li><a href="{% url 'extreme_ownership' %}">Day 41: Extreme Ownership by Jocko Willink & Leif Babin</a></li>
        <li><a href="{% url 'e_myth_revisited' %}">Day 42: E-Myth Revisited by Michael E. Gerber</a></li>
        <li><a href="{% url 'the_art_of_war' %}">Day 43: The Art of War by Sun Tzu</a></li>
        <li><a href="{% url 'crushing_it' %}">Day 44: Crushing It! by Gary Vaynerchuk</a></li>
        <li><a href="{% url 'delivering_happiness' %}">Day 45: Delivering Happiness by Tony Hsieh</a></li>
        <li><a href="{% url 'the_infinite_game' %}">Day 46: The Infinite Game by Simon Sinek</a></li>
        <li><a href="{% url 'built_to_last' %}">Day 47: Built to Last by Jim Collins</a></li>
        <li><a href="{% url 'zero_to_one' %}">Day 48: Zero to One by Peter Thiel</a></li>
        <li><a href="{% url 'the_100_startup' %}">Day 49: The $100 Startup by Chris Guillebeau</a></li>
        <li><a href="{% url 'rich_dad_poor_dad' %}">Day 50: Rich Dad Poor Dad by Robert Kiyosaki</a></li>
        <li><a href="{% url 'profit_first' %}">Day 51: Profit First by Mike Michalowicz</a></li>
        <li><a href="{% url 'the_personal_mba' %}">Day 52: The Personal MBA by Josh Kaufman</a></li>
        <li><a href="{% url 'what_got_you_here_wont_get_you_there' %}">Day 53: What Got You Here Won't Get You There by Marshall Goldsmith</a></li>
        <li><a href="{% url 'the_goal' %}">Day 54: The Goal by Eliyahu M. Goldratt</a></li>
        <li><a href="{% url 'disrupt_you' %}">Day 55: Disrupt You! by Jay Samit</a></li>
        <li><a href="{% url 'rework' %}">Day 56: Rework by Jason Fried & David Heinemeier Hansson</a></li>
        <li><a href="{% url 'made_to_stick' %}">Day 57: Made to Stick by Chip Heath & Dan Heath</a></li>
        <li><a href="{% url 'purple_cow' %}">Day 58: Purple Cow by Seth Godin</a></li>
        <li><a href="{% url 'linchpin' %}">Day 59: Linchpin by Seth Godin</a></li>
        <li><a href="{% url 'tribes' %}">Day 60: Tribes by Seth Godin</a></li>
    </ul>
        <p class="w3-xlarge"><strong>Psychology and Human Behaviour<br></strong></p>
    <ul>
        <li><a href="{% url 'thinking_fast_and_slow' %}">Day 61: Thinking, Fast and Slow by Daniel Kahneman</a></li>
        <li><a href="{% url 'the_paradox_of_choice' %}">Day 62: The Paradox of Choice by Barry Schwartz</a></li>
        <li><a href="{% url 'influence_psychology_of_persuasion' %}">Day 63: Influence: The Psychology of Persuasion by Robert B. Cialdini</a></li>
        <li><a href="{% url 'blink' %}">Day 64: Blink by Malcolm Gladwell</a></li>
        <li><a href="{% url 'the_tipping_point' %}">Day 65: The Tipping Point by Malcolm Gladwell</a></li>
        <li><a href="{% url 'outliers' %}">Day 66: Outliers by Malcolm Gladwell</a></li>
        <li><a href="{% url 'david_and_goliath' %}">Day 67: David and Goliath by Malcolm Gladwell</a></li>
        <li><a href="{% url 'predictably_irrational' %}">Day 68: Predictably Irrational by Dan Ariely</a></li>
        <li><a href="{% url 'drive' %}">Day 69: Drive by Daniel H. Pink</a></li>
        <li><a href="{% url 'the_social_animal' %}">Day 70: The Social Animal by Elliot Aronson</a></li>
        <li><a href="{% url 'nudge' %}">Day 71: Nudge by Richard H. Thaler & Cass R. Sunstein</a></li>
        <li><a href="{% url 'the_art_of_choosing' %}">Day 72: The Art of Choosing by Sheena Iyengar</a></li>
        <li><a href="{% url 'scarcity' %}">Day 73: Scarcity: Why Having Too Little Means So Much by Sendhil Mullainathan & Eldar Shafir</a></li>
        <li><a href="{% url 'mistakes_were_made' %}">Day 74: Mistakes Were Made (But Not by Me) by Carol Tavris & Elliot Aronson</a></li>
        <li><a href="{% url 'the_happiness_hypothesis' %}">Day 75: The Happiness Hypothesis by Jonathan Haidt</a></li>
        <li><a href="{% url 'switch' %}">Day 76: Switch by Chip Heath & Dan Heath</a></li>
        <li><a href="{% url 'sway' %}">Day 77: Sway by Ori and Rom Brafman</a></li>
        <li><a href="{% url 'mindwise' %}">Day 78: Mindwise by Nicholas Epley</a></li>
        <li><a href="{% url 'born_to_be_good' %}">Day 79: Born to Be Good by Dacher Keltner</a></li>
        <li><a href="{% url 'emotional_intelligence_2_0' %}">Day 80: Emotional Intelligence 2.0 by Travis Bradberry & Jean Greaves</a></li>
    </ul>
        <p class="w3-xlarge"><strong>Science and Nature<br></strong></p>
    <ul>
        <li><a href="{% url 'sapiens' %}">Day 81: Sapiens: A Brief History of Humankind by Yuval Noah Harari</a></li>
        <li><a href="{% url 'homo_deus' %}">Day 82: Homo Deus: A Brief History of Tomorrow by Yuval Noah Harari</a></li>
        <li><a href="{% url 'a_brief_history_of_time' %}">Day 83: A Brief History of Time by Stephen Hawking</a></li>
        <li><a href="{% url 'the_selfish_gene' %}">Day 84: The Selfish Gene by Richard Dawkins</a></li>
        <li><a href="{% url 'the_immortal_life_of_henrietta_lacks' %}">Day 85: The Immortal Life of Henrietta Lacks by Rebecca Skloot</a></li>
        <li><a href="{% url 'the_gene' %}">Day 86: The Gene: An Intimate History by Siddhartha Mukherjee</a></li>
        <li><a href="{% url 'the_emperor_of_all_maladies' %}">Day 87: The Emperor of All Maladies by Siddhartha Mukherjee</a></li>
        <li><a href="{% url 'astrophysics_for_people_in_a_hurry' %}">Day 88: Astrophysics for People in a Hurry by Neil deGrasse Tyson</a></li>
        <li><a href="{% url 'cosmos' %}">Day 89: Cosmos by Carl Sagan</a></li>
        <li><a href="{% url 'the_greatest_show_on_earth' %}">Day 90: The Greatest Show on Earth by Richard Dawkins</a></li>
        <li><a href="{% url 'the_sixth_extinction' %}">Day 91: The Sixth Extinction by Elizabeth Kolbert</a></li>
        <li><a href="{% url 'why_evolution_is_true' %}">Day 92: Why Evolution Is True by Jerry A. Coyne</a></li>
        <li><a href="{% url 'the_hidden_life_of_trees' %}">Day 93: The Hidden Life of Trees by Peter Wohlleben</a></li>
        <li><a href="{% url 'entangled_life' %}">Day 94: Entangled Life by Merlin Sheldrake</a></li>
        <li><a href="{% url 'what_if' %}">Day 95: What If? Serious Scientific Answers to Absurd Hypothetical Questions by Randall Munroe</a></li>
        <li><a href="{% url 'the_body' %}">Day 96: The Body: A Guide for Occupants by Bill Bryson</a></li>
        <li><a href="{% url 'a_short_history_of_nearly_everything' %}">Day 97: A Short History of Nearly Everything by Bill Bryson</a></li>
        <li><a href="{% url 'life_on_the_edge' %}">Day 98: Life on the Edge by Johnjoe McFadden & Jim Al-Khalili</a></li>
        <li><a href="{% url 'the_order_of_time' %}">Day 99: The Order of Time by Carlo Rovelli</a></li>
        <li><a href="{% url 'reality_is_not_what_it_seems' %}">Day 100: Reality Is Not What It Seems by Carlo Rovelli</a></li>
        <li><a href="{% url 'the_elegant_universe' %}">Day 101: The Elegant Universe by Brian Greene</a></li>
        <li><a href="{% url 'the_fabric_of_the_cosmos' %}">Day 102: The Fabric of the Cosmos by Brian Greene</a></li>
        <li><a href="{% url 'until_the_end_of_time' %}">Day 103: Until the End of Time by Brian Greene</a></li>
        <li><a href="{% url 'being_mortal' %}">Day 104: Being Mortal by Atul Gawande</a></li>
        <li><a href="{% url 'complications' %}">Day 105: Complications by Atul Gawande</a></li>
        <li><a href="{% url 'better' %}">Day 106: Better by Atul Gawande</a></li>
        <li><a href="{% url 'the_checklist_manifesto' %}">Day 107: The Checklist Manifesto by Atul Gawande</a></li>
        <li><a href="{% url 'silent_spring' %}">Day 108: Silent Spring by Rachel Carson</a></li>
        <li><a href="{% url 'guns_germs_and_steel' %}">Day 109: Guns, Germs, and Steel by Jared Diamond</a></li>
        <li><a href="{% url 'collapse' %}">Day 110: Collapse by Jared Diamond</a></li>
        <li><a href="{% url 'the_uninhabitable_earth' %}">Day 111: The Uninhabitable Earth by David Wallace-Wells</a></li>
        <li><a href="{% url 'braiding_sweetgrass' %}">Day 112: Braiding Sweetgrass by Robin Wall Kimmerer</a></li>
        <li><a href="{% url 'we_are_the_weather' %}">Day 113: We Are the Weather by Jonathan Safran Foer</a></li>
        <li><a href="{% url 'on_the_origin_of_species' %}">Day 114: On the Origin of Species by Charles Darwin</a></li>
        <li><a href="{% url 'the_disordered_cosmos' %}">Day 115: The Disordered Cosmos by Chanda Prescod-Weinstein</a></li>
        <li><a href="{% url 'lifes_edge' %}">Day 116: Life’s Edge by Carl Zimmer</a></li>
        <li><a href="{% url 'the_tangled_tree' %}">Day 117: The Tangled Tree by David Quammen</a></li>
        <li><a href="{% url 'i_contain_multitudes' %}">Day 118: I Contain Multitudes by Ed Yong</a></li>
        <li><a href="{% url 'an_immense_world' %}">Day 119: An Immense World by Ed Yong</a></li>
        <li><a href="{% url 'the_infinite_machine' %}">Day 120: The Infinite Machine by Camila Russo</a></li>
        <li><a href="{% url 'when_breath_becomes_air' %}">Day 121: When Breath Becomes Air by Paul Kalanithi</a></li>
        <li><a href="{% url 'do_no_harm' %}">Day 122: Do No Harm by Henry Marsh</a></li>
        <li><a href="{% url 'why_we_get_sick' %}">Day 123: Why We Get Sick by Randolph M. Nesse & George C. Williams</a></li>
        <li><a href="{% url 'the_omnivores_dilemma' %}">Day 124: The Omnivore’s Dilemma by Michael Pollan</a></li>
        <li><a href="{% url 'in_defense_of_food' %}">Day 125: In Defense of Food by Michael Pollan</a></li>
        <li><a href="{% url 'cooked' %}">Day 126: Cooked by Michael Pollan</a></li>
        <li><a href="{% url 'this_is_your_mind_on_plants' %}">Day 127: This Is Your Mind on Plants by Michael Pollan</a></li>
        <li><a href="{% url 'how_to_change_your_mind' %}">Day 128: How to Change Your Mind by Michael Pollan</a></li>
        <li><a href="{% url 'inconvenient_truth' %}">Day 129: Inconvenient Truth by Al Gore</a></li>
        <li><a href="{% url 'the_climate_book' %}">Day 130: The Climate Book by Greta Thunberg</a></li>
    </ul>
        <p class="w3-xlarge"><strong>Health and Wellbeing</strong></p>
    <ul>
        <li><a href="{% url 'why_we_sleep' %}">Day 131: Why We Sleep by Matthew Walker</a></li>
        <li><a href="{% url 'the_body_keeps_the_score' %}">Day 132: The Body Keeps the Score by Bessel van der Kolk</a></li>
        <li><a href="{% url 'breath' %}">Day 133: Breath by James Nestor</a></li>
        <li><a href="{% url 'salt_sugar_fat' %}">Day 134: Salt, Sugar, Fat by Michael Moss</a></li>
        <li><a href="{% url 'how_not_to_die' %}">Day 135: How Not to Die by Michael Greger</a></li>
        <li><a href="{% url 'eat_to_beat_disease' %}">Day 136: Eat to Beat Disease by William W. Li</a></li>
        <li><a href="{% url 'the_blue_zones' %}">Day 137: The Blue Zones by Dan Buettner</a></li>
        <li><a href="{% url 'eat_to_live' %}">Day 138: Eat to Live by Dr. Joel Fuhrman</a></li>
        <li><a href="{% url 'food_rules' %}">Day 139: Food Rules by Michael Pollan</a></li>
        <li><a href="{% url 'the_china_study' %}">Day 140: The China Study by T. Colin Campbell</a></li>
        <li><a href="{% url 'lifespan' %}">Day 141: Lifespan by David A. Sinclair</a></li>
        <li><a href="{% url 'younger_next_year' %}">Day 142: Younger Next Year by Chris Crowley & Henry S. Lodge</a></li>
        <li><a href="{% url 'spark' %}">Day 143: Spark by John J. Ratey</a></li>
        <li><a href="{% url 'move_your_dna' %}">Day 144: Move Your DNA by Katy Bowman</a></li>
        <li><a href="{% url 'the_joy_of_movement' %}">Day 145: The Joy of Movement by Kelly McGonigal</a></li>
        <li><a href="{% url 'the_upside_of_stress' %}">Day 146: The Upside of Stress by Kelly McGonigal</a></li>
        <li><a href="{% url 'the_willpower_instinct' %}">Day 147: The Willpower Instinct by Kelly McGonigal</a></li>
        <li><a href="{% url 'the_telomere_effect' %}">Day 148: The Telomere Effect by Elizabeth Blackburn & Elissa Epel</a></li>
        <li><a href="{% url 'this_is_your_brain_on_food' %}">Day 149: This Is Your Brain on Food by Uma Naidoo</a></li>
        <li><a href="{% url 'intuitive_eating' %}">Day 150: Intuitive Eating by Evelyn Tribole & Elyse Resch</a></li>
        <li><a href="{% url 'mindful_eating' %}">Day 151: Mindful Eating by Jan Chozen Bays</a></li>
        <li><a href="{% url 'the_mind_gut_connection' %}">Day 152: The Mind-Gut Connection by Emeran Mayer</a></li>
        <li><a href="{% url 'gut' %}">Day 153: Gut by Giulia Enders</a></li>
        <li><a href="{% url 'fiber_fueled' %}">Day 154: Fiber Fueled by Will Bulsiewicz</a></li>
        <li><a href="{% url 'the_plant_paradox' %}">Day 155: The Plant Paradox by Steven R. Gundry</a></li>
        <li><a href="{% url 'fast_feast_repeat' %}">Day 156: Fast. Feast. Repeat. by Gin Stephens</a></li>
        <li><a href="{% url 'the_obesity_code' %}">Day 157: The Obesity Code by Dr. Jason Fung</a></li>
        <li><a href="{% url 'the_complete_guide_to_fasting' %}">Day 158: The Complete Guide to Fasting by Dr. Jason Fung</a></li>
        <li><a href="{% url 'clean' %}">Day 159: Clean by Alejandro Junger</a></li>
        <li><a href="{% url 'the_clean_plate' %}">Day 160: The Clean Plate by Gwyneth Paltrow</a></li>
        <li><a href="{% url 'green_smoothie_cleanse' %}">Day 161: Green Smoothie Cleanse by JJ Smith</a></li>
        <li><a href="{% url 'the_whole30' %}">Day 162: The Whole30 by Melissa Hartwig Urban</a></li>
        <li><a href="{% url 'it_starts_with_food' %}">Day 163: It Starts With Food by Dallas & Melissa Hartwig</a></li>
        <li><a href="{% url 'the_paleo_solution' %}">Day 164: The Paleo Solution by Robb Wolf</a></li>
        <li><a href="{% url 'the_keto_reset_diet' %}">Day 165: The Keto Reset Diet by Mark Sisson</a></li>
        <li><a href="{% url 'genius_foods' %}">Day 166: Genius Foods by Max Lugavere</a></li>
        <li><a href="{% url 'brain_maker' %}">Day 167: Brain Maker by David Perlmutter</a></li>
        <li><a href="{% url 'grain_brain' %}">Day 168: Grain Brain by David Perlmutter</a></li>
        <li><a href="{% url 'drop_acid' %}">Day 169: Drop Acid by David Perlmutter</a></li>
        <li><a href="{% url 'outlive' %}">Day 170: Outlive by Peter Attia</a></li>
        <li><a href="{% url 'the_longevity_diet' %}">Day 171: The Longevity Diet by Valter Longo</a></li>
        <li><a href="{% url 'how_to_be_well' %}">Day 172: How to Be Well by Frank Lipman</a></li>
        <li><a href="{% url 'own_the_day_own_your_life' %}">Day 173: Own the Day, Own Your Life by Aubrey Marcus</a></li>
        <li><a href="{% url 'boundless' %}">Day 174: Boundless by Ben Greenfield</a></li>
        <li><a href="{% url 'the_4_hour_body' %}">Day 175: The 4-Hour Body by Tim Ferriss</a></li>
        <li><a href="{% url 'superlife' %}">Day 176: Superlife by Darin Olien</a></li>
        <li><a href="{% url 'the_end_of_alzheimers' %}">Day 177: The End of Alzheimer’s by Dr. Dale Bredesen</a></li>
        <li><a href="{% url 'radical_acceptance' %}">Day 178: Radical Acceptance by Tara Brach</a></li>
        <li><a href="{% url 'wherever_you_go_there_you_are' %}">Day 179: Wherever You Go, There You Are by Jon Kabat-Zinn</a></li>
        <li><a href="{% url 'full_catastrophe_living' %}">Day 180: Full Catastrophe Living by Jon Kabat-Zinn</a></li>
    </ul>
        <p class="w3-xlarge"><strong>Space, Physics & the Universe</strong></p>
    <ul>
        <li><a href="{% url 'black_holes_and_baby_universes' %}">Day 181: Black Holes and Baby Universes by Stephen Hawking</a></li>
        <li><a href="{% url 'the_grand_design' %}">Day 182: The Grand Design by Stephen Hawking</a></li>
        <li><a href="{% url 'parallel_worlds' %}">Day 183: Parallel Worlds by Michio Kaku</a></li>
        <li><a href="{% url 'hyperspace' %}">Day 184: Hyperspace by Michio Kaku</a></li>
        <li><a href="{% url 'the_future_of_humanity' %}">Day 185: The Future of Humanity by Michio Kaku</a></li>
        <li><a href="{% url 'physics_of_the_impossible' %}">Day 186: Physics of the Impossible by Michio Kaku</a></li>
        <li><a href="{% url 'the_end_of_everything' %}">Day 187: The End of Everything (Astrophysically Speaking) by Katie Mack</a></li>
        <li><a href="{% url 'origins' %}">Day 188: Origins by Neil deGrasse Tyson & Donald Goldsmith</a></li>
        <li><a href="{% url 'welcome_to_the_universe' %}">Day 189: Welcome to the Universe by Neil deGrasse Tyson et al.</a></li>
        <li><a href="{% url 'death_by_black_hole' %}">Day 190: Death by Black Hole by Neil deGrasse Tyson</a></li>
        <li><a href="{% url 'black_hole_survival_guide' %}">Day 191: Black Hole Survival Guide by Janna Levin</a></li>
        <li><a href="{% url 'how_the_universe_got_its_spots' %}">Day 192: How the Universe Got Its Spots by Janna Levin</a></li>
        <li><a href="{% url 'the_first_three_minutes' %}">Day 193: The First Three Minutes by Steven Weinberg</a></li>
        <li><a href="{% url 'the_4_percent_universe' %}">Day 194: The 4 Percent Universe by Richard Panek</a></li>
        <li><a href="{% url 'dark_matter_and_the_dinosaurs' %}">Day 195: Dark Matter and the Dinosaurs by Lisa Randall</a></li>
        <li><a href="{% url 'warped_passages' %}">Day 196: Warped Passages by Lisa Randall</a></li>
        <li><a href="{% url 'the_fabric_of_reality' %}">Day 197: The Fabric of Reality by David Deutsch</a></li>
        <li><a href="{% url 'the_beginning_of_infinity' %}">Day 198: The Beginning of Infinity by David Deutsch</a></li>
        <li><a href="{% url 'until_the_sun_dies' %}">Day 199: Until the Sun Dies by Robert Jastrow</a></li>
        <li><a href="{% url 'fundamentals' %}">Day 200: Fundamentals: Ten Keys to Reality by Frank Wilczek</a></li>
        <li><a href="{% url 'helgoland' %}">Day 201: Helgoland by Carlo Rovelli</a></li>
    </ul>
<!--        <li><a href="{% url 'the_science_of_interstellar' %}">Day 202: The Science of Interstellar by Kip Thorne</a></li>-->
<!--        <li><a href="{% url 'the_big_picture' %}">Day 203: The Big Picture by Sean Carroll</a></li>-->
<!--        <li><a href="{% url 'something_deeply_hidden' %}">Day 204: Something Deeply Hidden by Sean Carroll</a></li>-->
<!--        <li><a href="{% url 'from_eternity_to_here' %}">Day 205: From Eternity to Here by Sean Carroll</a></li>-->
<!--        <li><a href="{% url 'the_particle_at_the_end_of_the_universe' %}">Day 206: The Particle at the End of the Universe by Sean Carroll</a></li>-->
<!--        <li><a href="{% url 'our_mathematical_universe' %}">Day 207: Our Mathematical Universe by Max Tegmark</a></li>-->
<!--        <li><a href="{% url 'a_universe_from_nothing' %}">Day 208: A Universe from Nothing by Lawrence Krauss</a></li>-->
<!--        <li><a href="{% url 'the_end_of_time' %}">Day 209: The End of Time by Julian Barbour</a></li>-->
<!--    </ul>-->
<!--        <p class="w3-xlarge"><strong>Nature, Ecology & the Environment</strong></p>-->
<!--    <ul>-->
<!--        <li><a href="{% url 'just_six_numbers' %}">Day 210: Just Six Numbers by Martin Rees</a></li>-->
<!--        <li><a href="{% url 'the_nature_fix' %}">Day 211: The Nature Fix by Florence Williams</a></li>-->
<!--        <li><a href="{% url 'the_secret_network_of_nature' %}">Day 212: The Secret Network of Nature by Peter Wohlleben</a></li>-->
<!--        <li><a href="{% url 'the_inner_life_of_animals' %}">Day 213: The Inner Life of Animals by Peter Wohlleben</a></li>-->
<!--        <li><a href="{% url 'wilding' %}">Day 214: Wilding by Isabella Tree</a></li>-->
<!--        <li><a href="{% url 'feral' %}">Day 215: Feral by George Monbiot</a></li>-->
<!--        <li><a href="{% url 'the_invention_of_nature' %}">Day 216: The Invention of Nature by Andrea Wulf</a></li>-->
<!--        <li><a href="{% url 'pilgrim_at_tinker_creek' %}">Day 217: Pilgrim at Tinker Creek by Annie Dillard</a></li>-->
<!--        <li><a href="{% url 'desert_solitaire' %}">Day 218: Desert Solitaire by Edward Abbey</a></li>-->
<!--        <li><a href="{% url 'the_forest_unseen' %}">Day 219: The Forest Unseen by David George Haskell</a></li>-->
<!--        <li><a href="{% url 'the_songs_of_trees' %}">Day 220: The Songs of Trees by David George Haskell</a></li>-->
<!--        <li><a href="{% url 'the_overstory' %}">Day 221: The Overstory by Richard Powers</a></li>-->
<!--        <li><a href="{% url 'spying_on_whales' %}">Day 222: Spying on Whales by Nick Pyenson</a></li>-->
<!--        <li><a href="{% url 'the_soul_of_an_octopus' %}">Day 223: The Soul of an Octopus by Sy Montgomery</a></li>-->
<!--        <li><a href="{% url 'journey_of_the_universe' %}">Day 224: Journey of the Universe by Brian Swimme & Mary Evelyn Tucker</a></li>-->
<!--        <li><a href="{% url 'gathering_moss' %}">Day 225: Gathering Moss by Robin Wall Kimmerer</a></li>-->
<!--        <li><a href="{% url 'regenesis' %}">Day 226: Regenesis by George Monbiot</a></li>-->
<!--        <li><a href="{% url 'the_future_earth' %}">Day 227: The Future Earth by Eric Holthaus</a></li>-->
<!--        <li><a href="{% url 'the_world_without_us' %}">Day 228: The World Without Us by Alan Weisman</a></li>-->
<!--        <li><a href="{% url 'the_story_of_more' %}">Day 229: The Story of More by Hope Jahren</a></li>-->
<!--        <li><a href="{% url 'lab_girl' %}">Day 230: Lab Girl by Hope Jahren</a></li>-->
<!--        <li><a href="{% url 'what_the_robin_knows' %}">Day 231: What the Robin Knows by Jon Young</a></li>-->
<!--        <li><a href="{% url 'natures_best_hope' %}">Day 232: Nature’s Best Hope by Douglas W. Tallamy</a></li>-->
<!--        <li><a href="{% url 'a_life_on_our_planet' %}">Day 233: A Life on Our Planet by David Attenborough</a></li>-->
<!--        <li><a href="{% url 'the_wild_places' %}">Day 234: The Wild Places by Robert Macfarlane</a></li>-->
<!--        <li><a href="{% url 'underland' %}">Day 235: Underland by Robert Macfarlane</a></li>-->
<!--        <li><a href="{% url 'the_last_child_in_the_woods' %}">Day 236: The Last Child in the Woods by Richard Louv</a></li>-->
<!--        <li><a href="{% url 'the_sixth_wave' %}">Day 237: The Sixth Wave by James Bradfield Moody & Bianca Nogrady</a></li>-->
<!--        <li><a href="{% url 'silent_earth' %}">Day 238: Silent Earth by Dave Goulson</a></li>-->
<!--        <li><a href="{% url 'the_climate_cure' %}">Day 239: The Climate Cure by Tim Flannery</a></li>-->
<!--        <li><a href="{% url 'eating_the_sun' %}">Day 240: Eating the Sun by Oliver Morton</a></li>-->
<!--    </ul>-->
<!--        <p class="w3-xlarge"><strong>Biology, Life Science & Exploration</strong></p>-->
<!--    <ul>-->
<!--        <li><a href="{% url 'i_mammal' %}">Day 241: I, Mammal by Liam Drew</a></li>-->
<!--        <li><a href="{% url 'the_making_of_the_fittest' %}">Day 242: The Making of the Fittest by Sean B. Carroll</a></li>-->
<!--        <li><a href="{% url 'your_inner_fish' %}">Day 243: Your Inner Fish by Neil Shubin</a></li>-->
<!--        <li><a href="{% url 'the_universe_within' %}">Day 244: The Universe Within by Neil Shubin</a></li>-->
<!--        <li><a href="{% url 'she_has_her_mothers_laugh' %}">Day 245: She Has Her Mother’s Laugh by Carl Zimmer</a></li>-->
<!--        <li><a href="{% url 'parasite_rex' %}">Day 246: Parasite Rex by Carl Zimmer</a></li>-->
<!--        <li><a href="{% url 'microcosm' %}">Day 247: Microcosm by Carl Zimmer</a></li>-->
<!--        <li><a href="{% url 'the_violinists_thumb' %}">Day 248: The Violinist’s Thumb by Sam Kean</a></li>-->
<!--        <li><a href="{% url 'the_tale_of_the_dueling_neurosurgeons' %}">Day 249: The Tale of the Dueling Neurosurgeons by Sam Kean</a></li>-->
<!--        <li><a href="{% url 'the_disappearing_spoon' %}">Day 250: The Disappearing Spoon by Sam Kean</a></li>-->
<!--        <li><a href="{% url 'napoleons_buttons' %}">Day 251: Napoleon’s Buttons by Penny Le Couteur & Jay Burreson</a></li>-->
<!--        <li><a href="{% url 'the_evolution_of_beauty' %}">Day 252: The Evolution of Beauty by Richard O. Prum</a></li>-->
<!--        <li><a href="{% url 'the_genius_of_birds' %}">Day 253: The Genius of Birds by Jennifer Ackerman</a></li>-->
<!--        <li><a href="{% url 'the_bird_way' %}">Day 254: The Bird Way by Jennifer Ackerman</a></li>-->
<!--        <li><a href="{% url 'being_a_beast' %}">Day 255: Being a Beast by Charles Foster</a></li>-->
<!--        <li><a href="{% url 'planta_sapiens' %}">Day 256: Planta Sapiens by Paco Calvo</a></li>-->
<!--        <li><a href="{% url 'the_extended_phenotype' %}">Day 257: The Extended Phenotype by Richard Dawkins</a></li>-->
<!--        <li><a href="{% url 'on_the_future' %}">Day 258: On the Future: Prospects for Humanity by Martin Rees</a></li>-->
<!--        <li><a href="{% url 'the_serengeti_rules' %}">Day 259: The Serengeti Rules by Sean B. Carroll</a></li>-->
<!--        <li><a href="{% url 'the_geckos_foot' %}">Day 260: The Gecko’s Foot by Peter Forbes</a></li>-->
<!--        <li><a href="{% url 'behave' %}">Day 261: Behave by Robert Sapolsky</a></li>-->
<!--        <li><a href="{% url 'monkeyluv' %}">Day 262: Monkeyluv by Robert Sapolsky</a></li>-->
<!--        <li><a href="{% url 'survival_of_the_sickest' %}">Day 263: Survival of the Sickest by Dr. Sharon Moalem</a></li>-->
<!--        <li><a href="{% url 'the_language_of_god' %}">Day 264: The Language of God by Francis Collins</a></li>-->
<!--        <li><a href="{% url 'the_vital_question' %}">Day 265: The Vital Question by Nick Lane</a></li>-->
<!--        <li><a href="{% url 'power_sex_suicide' %}">Day 266: Power, Sex, Suicide by Nick Lane</a></li>-->
<!--        <li><a href="{% url 'how_life_works' %}">Day 267: How Life Works by Philip Ball</a></li>-->
<!--        <li><a href="{% url 'the_tangled_bank' %}">Day 268: The Tangled Bank by Carl Zimmer</a></li>-->
<!--        <li><a href="{% url 'the_epigenetics_revolution' %}">Day 269: The Epigenetics Revolution by Nessa Carey</a></li>-->
<!--        <li><a href="{% url 'the_greatest_killer' %}">Day 270: The Greatest Killer by Donald R. Hopkins</a></li>-->
<!--    </ul>-->

</div>

<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-xlarge">Combined Audio Files</p>
    <!-- Day 1-10 -->

    <p class="w3-large">Day 1-10.mp3</p>
    <audio controls>
        <source src="{% static 'day1-10.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 11-20 -->
    <p class="w3-large">Day 11-20.mp3</p>
    <audio controls>
        <source src="{% static 'day11-20.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 21-30 -->
    <p class="w3-large">Day 21-30.mp3</p>
    <audio controls>
        <source src="{% static 'day21-30.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 31-40 -->
    <p class="w3-large">Day 31-40.mp3</p>
    <audio controls>
        <source src="{% static 'day31-40.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 41-50 -->
    <p class="w3-large">Day 41-50.mp3</p>
    <audio controls>
        <source src="{% static 'day41-50.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 51-60 -->
    <p class="w3-large">Day 51-60.mp3</p>
    <audio controls>
        <source src="{% static 'day51-60.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 61-70 -->
    <p class="w3-large">Day 61-70.mp3</p>
    <audio controls>
        <source src="{% static 'day61-70.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 71-80 -->
    <p class="w3-large">Day 71-80.mp3</p>
    <audio controls>
        <source src="{% static 'day71-80.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 81-90 -->
    <p class="w3-large">Day 81-90.mp3</p>
    <audio controls>
        <source src="{% static 'day81-90.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Day 91-100 -->
    <p class="w3-large">Day 91-100.mp3</p>
    <audio controls>
        <source src="{% static 'day91-100.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
{% endblock %}

{% block content1 %}





<script>


</script>


{% endblock %}
