{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>IV. A Moment of Head Importance--An Evening's "Dramatic Readings"--A Most Strange Journey</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<p><br>
Every inhabitant of Copenhagen knows, from personal inspection, how<br>
the entrance to Frederick's Hospital looks; but as it is possible that<br>
others, who are not Copenhagen people, may also read this little work,<br>
we will beforehand give a short description of it.<br>
<br>
The extensive building is separated from the street by a pretty high<br>
railing, the thick iron bars of which are so far apart, that in<br>
all seriousness, it is said, some very thin fellow had of a night<br>
occasionally squeezed himself through to go and pay his little visits<br>
in the town. The part of the body most difficult to manage on such<br>
occasions was, no doubt, the head; here, as is so often the case in<br>
the world, long-headed people get through best. So much, then, for the<br>
introduction.<br>
<br>
One of the young men, whose head, in a physical sense only, might be<br>
said to be of the thickest, had the watch that evening. The rain poured<br>
down in torrents; yet despite these two obstacles, the young man was<br>
obliged to go out, if it were but for a quarter of an hour; and as<br>
to telling the door-keeper about it, that, he thought, was quite<br>
unnecessary, if, with a whole skin, he were able to slip through the<br>
railings. There, on the floor lay the galoshes, which the watchman<br>
had forgotten; he never dreamed for a moment that they were those of<br>
Fortune; and they promised to do him good service in the wet; so he put<br>
them on. The question now was, if he could squeeze himself through the<br>
grating, for he had never tried before. Well, there he stood.<br>
<br>
"Would to Heaven I had got my head through!" said he, involuntarily;
and<br>
instantly through it slipped, easily and without pain, notwithstanding<br>
it was pretty large and thick. But now the rest of the body was to be<br>
got through!<br>
<br>
"Ah! I am much too stout," groaned he aloud, while fixed as in a
vice.<br>
"I had thought the head was the most difficult part of the matter--oh!<br>
oh! I really cannot squeeze myself through!"<br>
<br>
He now wanted to pull his over-hasty head back again, but he could not.<br>
For his neck there was room enough, but for nothing more. His first<br>
feeling was of anger; his next that his temper fell to zero. The<br>
Shoes of Fortune had placed him in the most dreadful situation; and,<br>
unfortunately, it never occurred to him to wish himself free. The<br>
pitch-black clouds poured down their contents in still heavier torrents;<br>
not a creature was to be seen in the streets. To reach up to the bell<br>
was what he did not like; to cry aloud for help would have availed him<br>
little; besides, how ashamed would he have been to be found caught in a<br>
trap, like an outwitted fox! How was he to twist himself through! He saw<br>
clearly that it was his irrevocable destiny to remain a prisoner till<br>
dawn, or, perhaps, even late in the morning; then the smith must be<br>
fetched to file away the bars; but all that would not be done so quickly<br>
as he could think about it. The whole Charity School, just opposite,<br>
would be in motion; all the new booths, with their not very<br>
courtier-like swarm of seamen, would join them out of curiosity, and<br>
would greet him with a wild "hurrah!" while he was standing in his<br>
pillory: there would be a mob, a hissing, and rejoicing, and jeering,<br>
ten times worse than in the rows about the Jews some years ago--"Oh, my<br>
blood is mounting to my brain; 'tis enough to drive one mad! I shall go<br>
wild! I know not what to do. Oh! were I but loose; my dizziness would<br>
then cease; oh, were my head but loose!"<br>
<br>
You see he ought to have said that sooner; for the moment he expressed<br>
the wish his head was free; and cured of all his paroxysms of love, he<br>
hastened off to his room, where the pains consequent on the fright the<br>
Shoes had prepared for him, did not so soon take their leave.<br>
<br>
But you must not think that the affair is over now; it grows much worse.<br>
<br>
The night passed, the next day also; but nobody came to fetch the Shoes.<br>
<br>
In the evening "Dramatic Readings" were to be given at the little<br>
theatre in King Street. The house was filled to suffocation; and among<br>
other pieces to be recited was a new poem by H. C. Andersen, called, My<br>
Aunt's Spectacles; the contents of which were pretty nearly as follows:<br>
<br>
"A certain person had an aunt, who boasted of particular skill in<br>
fortune-telling with cards, and who was constantly being stormed by<br>
persons that wanted to have a peep into futurity. But she was full of<br>
mystery about her art, in which a certain pair of magic spectacles<br>
did her essential service. Her nephew, a merry boy, who was his aunt's<br>
darling, begged so long for these spectacles, that, at last, she lent<br>
him the treasure, after having informed him, with many exhortations,<br>
that in order to execute the interesting trick, he need only repair to<br>
some place where a great many persons were assembled; and then, from a<br>
higher position, whence he could overlook the crowd, pass the company in<br>
review before him through his spectacles. Immediately 'the inner man' of<br>
each individual would be displayed before him, like a game of cards, in<br>
which he unerringly might read what the future of every person presented<br>
was to be. Well pleased the little magician hastened away to prove the<br>
powers of the spectacles in the theatre; no place seeming to him more<br>
fitted for such a trial. He begged permission of the worthy audience,<br>
and set his spectacles on his nose. A motley phantasmagoria presents<br>
itself before him, which he describes in a few satirical touches, yet<br>
without expressing his opinion openly: he tells the people enough to set<br>
them all thinking and guessing; but in order to hurt nobody, he wraps<br>
his witty oracular judgments in a transparent veil, or rather in a lurid<br>
thundercloud, shooting forth bright sparks of wit, that they may fall in<br>
the powder-magazine of the expectant audience."<br>
<br>
The humorous poem was admirably recited, and the speaker much applauded.<br>
Among the audience was the young man of the hospital, who seemed to have<br>
forgotten his adventure of the preceding night. He had on the Shoes; for<br>
as yet no lawful owner had appeared to claim them; and besides it was so<br>
very dirty out-of-doors, they were just the thing for him, he thought.<br>
<br>
The beginning of the poem he praised with great generosity: he even<br>
found the idea original and effective. But that the end of it, like the<br>
Rhine, was very insignificant, proved, in his opinion, the author's<br>
want of invention; he was without genius, etc. This was an excellent<br>
opportunity to have said something clever.<br>
<br>
Meanwhile he was haunted by the idea--he should like to possess such a<br>
pair of spectacles himself; then, perhaps, by using them circumspectly,<br>
one would be able to look into people's hearts, which, he thought, would<br>
be far more interesting than merely to see what was to happen next year;<br>
for that we should all know in proper time, but the other never.<br>
<br>
"I can now," said he to himself, "fancy the whole row of ladies
and<br>
gentlemen sitting there in the front row; if one could but see into<br>
their hearts--yes, that would be a revelation--a sort of bazar. In that<br>
lady yonder, so strangely dressed, I should find for certain a large<br>
milliner's shop; in that one the shop is empty, but it wants cleaning<br>
plain enough. But there would also be some good stately shops among<br>
them. Alas!" sighed he, "I know one in which all is stately; but
there<br>
sits already a spruce young shopman, which is the only thing that's<br>
amiss in the whole shop. All would be splendidly decked out, and we<br>
should hear, 'Walk in, gentlemen, pray walk in; here you will find all<br>
you please to want.' Ah! I wish to Heaven I could walk in and take a<br>
trip right through the hearts of those present!"<br>
<br>
And behold! to the Shoes of Fortune this was the cue; the whole man<br>
shrunk together and a most uncommon journey through the hearts of the<br>
front row of spectators, now began. The first heart through which he<br>
came, was that of a middle-aged lady, but he instantly fancied himself<br>
in the room of the "Institution for the cure of the crooked and<br>
deformed," where casts of mis-shapen limbs are displayed in naked<br>
reality on the wall. Yet there was this difference, in the institution<br>
the casts were taken at the entry of the patient; but here they were<br>
retained and guarded in the heart while the sound persons went away.<br>
They were, namely, casts of female friends, whose bodily or mental<br>
deformities were here most faithfully preserved.<br>
<br>
With the snake-like writhings of an idea he glided into another female<br>
heart; but this seemed to him like a large holy fane. [*] The white dove of<br>
innocence fluttered over the altar. How gladly would he have sunk upon<br>
his knees; but he must away to the next heart; yet he still heard the<br>
pealing tones of the organ, and he himself seemed to have become a newer<br>
and a better man; he felt unworthy to tread the neighboring sanctuary<br>
which a poor garret, with a sick bed-rid mother, revealed. But God's<br>
warm sun streamed through the open window; lovely roses nodded from<br>
the wooden flower-boxes on the roof, and two sky-blue birds sang<br>
rejoicingly, while the sick mother implored God's richest blessings on<br>
her pious daughter.<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; * temple<br>
<br>
<br>
He now crept on hands and feet through a butcher's shop; at least on<br>
every side, and above and below, there was nought but flesh. It was the<br>
heart of a most respectable rich man, whose name is certain to be found<br>
in the Directory.<br>
<br>
He was now in the heart of the wife of this worthy gentleman. It was an<br>
old, dilapidated, mouldering dovecot. The husband's portrait was used as<br>
a weather-cock, which was connected in some way or other with the doors,<br>
and so they opened and shut of their own accord, whenever the stern old<br>
husband turned round.<br>
<br>
Hereupon he wandered into a boudoir formed entirely of mirrors, like<br>
the one in Castle Rosenburg; but here the glasses magnified to an<br>
astonishing degree. On the floor, in the middle of the room, sat, like a<br>
Dalai-Lama, the insignificant "Self" of the person, quite confounded
at<br>
his own greatness. He then imagined he had got into a needle-case full<br>
of pointed needles of every size.<br>
<br>
"This is certainly the heart of an old maid," thought he. But he was<br>
mistaken. It was the heart of a young military man; a man, as people<br>
said, of talent and feeling.<br>
<br>
In the greatest perplexity, he now came out of the last heart in the<br>
row; he was unable to put his thoughts in order, and fancied that his<br>
too lively imagination had run away with him.<br>
<br>
"Good Heavens!" sighed he. "I have surely a disposition to
madness--'tis<br>
dreadfully hot here; my blood boils in my veins and my head is burning<br>
like a coal." And he now remembered the important event of the evening<br>
before, how his head had got jammed in between the iron railings of the<br>
hospital. "That's what it is, no doubt," said he. "I must do
something<br>
in time: under such circumstances a Russian bath might do me good. I<br>
only wish I were already on the upper bank." [*]<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; *In these Russian (vapor) baths the person extends himself<br>
&nbsp;&nbsp;&nbsp; &nbsp;on a bank or form, and as he gets accustomed to the heat,<br>
&nbsp;&nbsp;&nbsp;&nbsp; moves to another higher up towards the ceiling, where, of<br>
&nbsp;&nbsp;&nbsp;&nbsp; course, the vapor is warmest. In this manner he ascends<br>
&nbsp;&nbsp;&nbsp;&nbsp; gradually to the highest.<br>
<br>
And so there he lay on the uppermost bank in the vapor-bath; but with<br>
all his clothes on, in his boots and galoshes, while the hot drops fell<br>
scalding from the ceiling on his face.<br>
<br>
"Holloa!" cried he, leaping down. The bathing attendant, on his side,<br>
uttered a loud cry of astonishment when he beheld in the bath, a man<br>
completely dressed.<br>
<br>
The other, however, retained sufficient presence of mind to whisper to<br>
him, "'Tis a bet, and I have won it!" But the first thing he did as
soon<br>
as he got home, was to have a large blister put on his chest and back to<br>
draw out his madness.<br>
<br>
The next morning he had a sore chest and a bleeding back; and, excepting<br>
the fright, that was all that he had gained by the Shoes of Fortune.<br>

    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did the young man decide to wear the galoshes when he went out in the rain?</p>
        <p>2. What did the young man experience when he used the Shoes of Fortune to look into people's hearts?</p>
        <p>3. How did the young man try to cure himself after feeling the effects of the Shoes of Fortune?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The young man decided to wear the galoshes when he went out in the rain because he saw them on the floor and thought they would be useful in the wet weather.</p>
        <p>2. When the young man used the Shoes of Fortune to look into people's hearts, he experienced a journey through the hearts of individuals in the front row of the audience. Each heart revealed different scenes and emotions, providing him with insights into the lives and thoughts of the people.</p>
        <p>3. After feeling the effects of the Shoes of Fortune and experiencing discomfort and confusion, the young man tried to cure himself by going to a Russian bath. However, he went into the bath fully dressed, and the hot drops fell on his face, leading to further complications.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>V. Metamorphosis of the Copying-Clerk</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
The watchman, whom we have certainly not forgotten, thought meanwhile<br>
of the galoshes he had found and taken with him to the hospital; he now<br>
went to fetch them; and as neither the lieutenant, nor anybody else in<br>
the street, claimed them as his property, they were delivered over to<br>
the police-office.*<br>
<br>
*As on the continent, in all law and police practices nothing is verbal,<br>
but any circumstance, however trifling, is reduced to writing, the<br>
labor, as well as the number of papers that thus accumulate, is<br>
enormous. In a police-office, consequently, we find copying-clerks among<br>
many other scribes of various denominations, of which, it seems, our<br>
hero was one.<br>
<br>
<br>
"Why, I declare the Shoes look just like my own," said one of the<br>
clerks, eying the newly-found treasure, whose hidden powers, even he,<br>
sharp as he was, was not able to discover. "One must have more than<br>
the eye of a shoemaker to know one pair from the other," said he,<br>
soliloquizing; and putting, at the same time, the galoshes in search of<br>
an owner, beside his own in the corner.<br>
<br>
"Here, sir!" said one of the men, who panting brought him a
tremendous<br>
pile of papers.<br>
<br>
The copying-clerk turned round and spoke awhile with the man about the<br>
reports and legal documents in question; but when he had finished, and<br>
his eye fell again on the Shoes, he was unable to say whether those to<br>
the left or those to the right belonged to him. "At all events it must<br>
be those which are wet," thought he; but this time, in spite of his<br>
cleverness, he guessed quite wrong, for it was just those of Fortune<br>
which played as it were into his hands, or rather on his feet. And why,<br>
I should like to know, are the police never to be wrong? So he put them<br>
on quickly, stuck his papers in his pocket, and took besides a few under<br>
his arm, intending to look them through at home to make the necessary<br>
notes. It was noon; and the weather, that had threatened rain, began<br>
to clear up, while gaily dressed holiday folks filled the streets. "A<br>
little trip to Fredericksburg would do me no great harm," thought he;<br>
"for I, poor beast of burden that I am, have so much to annoy me, that I<br>
don't know what a good appetite is. 'Tis a bitter crust, alas! at which<br>
I am condemned to gnaw!"<br>
<br>
Nobody could be more steady or quiet than this young man; we therefore<br>
wish him joy of the excursion with all our heart; and it will certainly<br>
be beneficial for a person who leads so sedentary a life. In the park<br>
he met a friend, one of our young poets, who told him that the following<br>
day he should set out on his long-intended tour.<br>
<br>
"So you are going away again!" said the clerk. "You are a very
free<br>
and happy being; we others are chained by the leg and held fast to our<br>
desk."<br>
<br>
"Yes; but it is a chain, friend, which ensures you the blessed bread<br>
of existence," answered the poet. "You need feel no care for the
coming<br>
morrow: when you are old, you receive a pension."<br>
<br>
"True," said the clerk, shrugging his shoulders; "and yet you
are<br>
the better off. To sit at one's ease and poetise--that is a pleasure;<br>
everybody has something agreeable to say to you, and you are always your<br>
own master. No, friend, you should but try what it is to sit from one<br>
year's end to the other occupied with and judging the most trivial<br>
matters."<br>
<br>
The poet shook his head, the copying-clerk did the same. Each one kept<br>
to his own opinion, and so they separated.<br>
<br>
"It's a strange race, those poets!" said the clerk, who was very fond
of<br>
soliloquizing. "I should like some day, just for a trial, to take such<br>
nature upon me, and be a poet myself; I am very sure I should make<br>
no such miserable verses as the others. Today, methinks, is a most<br>
delicious day for a poet. Nature seems anew to celebrate her awakening<br>
into life. The air is so unusually clear, the clouds sail on so<br>
buoyantly, and from the green herbage a fragrance is exhaled that fills<br>
me with delight. For many a year have I not felt as at this moment."<br>
<br>
We see already, by the foregoing effusion, that he is become a poet; to<br>
give further proof of it, however, would in most cases be insipid, for<br>
it is a most foolish notion to fancy a poet different from other men.<br>
Among the latter there may be far more poetical natures than many an<br>
acknowledged poet, when examined more closely, could boast of; the<br>
difference only is, that the poet possesses a better mental memory, on<br>
which account he is able to retain the feeling and the thought till they<br>
can be embodied by means of words; a faculty which the others do not<br>
possess. But the transition from a commonplace nature to one that is<br>
richly endowed, demands always a more or less breakneck leap over a<br>
certain abyss which yawns threateningly below; and thus must the sudden<br>
change with the clerk strike the reader.<br>
<br>
"The sweet air!" continued he of the police-office, in his dreamy<br>
imaginings; "how it reminds me of the violets in the garden of my aunt<br>
Magdalena! Yes, then I was a little wild boy, who did not go to school<br>
very regularly. O heavens! 'tis a long time since I have thought on<br>
those times. The good old soul! She lived behind the Exchange. She<br>
always had a few twigs or green shoots in water--let the winter rage<br>
without as it might. The violets exhaled their sweet breath, whilst I<br>
pressed against the windowpanes covered with fantastic frost-work the<br>
copper coin I had heated on the stove, and so made peep-holes.<br>
What splendid vistas were then opened to my view! What change--what<br>
magnificence! Yonder in the canal lay the ships frozen up, and deserted<br>
by their whole crews, with a screaming crow for the sole occupant. But<br>
when the spring, with a gentle stirring motion, announced her arrival,<br>
a new and busy life arose; with songs and hurrahs the ice was sawn<br>
asunder, the ships were fresh tarred and rigged, that they might sail<br>
away to distant lands. But I have remained here--must always remain<br>
here, sitting at my desk in the office, and patiently see other people<br>
fetch their passports to go abroad. Such is my fate! Alas!"--sighed he,<br>
and was again silent. "Great Heaven! What is come to me! Never have I<br>
thought or felt like this before! It must be the summer air that affects<br>
me with feelings almost as disquieting as they are refreshing."<br>
<br>
He felt in his pocket for the papers. "These police-reports will soon<br>
stem the torrent of my ideas, and effectually hinder any rebellious<br>
overflowing of the time-worn banks of official duties"; he said to<br>
himself consolingly, while his eye ran over the first page. "DAME<br>
TIGBRITH, tragedy in five acts." "What is that? And yet it is
undeniably<br>
my own handwriting. Have I written the tragedy? Wonderful, very<br>
wonderful!--And this--what have I here? 'INTRIGUE ON THE RAMPARTS; or<br>
THE DAY OF REPENTANCE: vaudeville with new songs to the most favorite<br>
airs.' The deuce! Where did I get all this rubbish? Some one must have<br>
slipped it slyly into my pocket for a joke. There is too a letter to me;<br>
a crumpled letter and the seal broken."<br>
<br>
Yes; it was not a very polite epistle from the manager of a theatre, in<br>
which both pieces were flatly refused.<br>
<br>
"Hem! hem!" said the clerk breathlessly, and quite exhausted he
seated<br>
himself on a bank. His thoughts were so elastic, his heart so tender;<br>
and involuntarily he picked one of the nearest flowers. It is a simple<br>
daisy, just bursting out of the bud. What the botanist tells us after<br>
a number of imperfect lectures, the flower proclaimed in a minute. It<br>
related the mythus of its birth, told of the power of the sun-light that<br>
spread out its delicate leaves, and forced them to impregnate the air<br>
with their incense--and then he thought of the manifold struggles of<br>
life, which in like manner awaken the budding flowers of feeling in our<br>
bosom. Light and air contend with chivalric emulation for the love of<br>
the fair flower that bestowed her chief favors on the latter; full of<br>
longing she turned towards the light, and as soon as it vanished, rolled<br>
her tender leaves together and slept in the embraces of the air. "It is<br>
the light which adorns me," said the flower.<br>
<br>
"But 'tis the air which enables thee to breathe," said the poet's
voice.<br>
<br>
Close by stood a boy who dashed his stick into a wet ditch. The drops of<br>
water splashed up to the green leafy roof, and the clerk thought of the<br>
million of ephemera which in a single drop were thrown up to a height,<br>
that was as great doubtless for their size, as for us if we were to<br>
be hurled above the clouds. While he thought of this and of the whole<br>
metamorphosis he had undergone, he smiled and said, "I sleep and dream;<br>
but it is wonderful how one can dream so naturally, and know besides so<br>
exactly that it is but a dream. If only to-morrow on awaking, I could<br>
again call all to mind so vividly! I seem in unusually good spirits; my<br>
perception of things is clear, I feel as light and cheerful as though<br>
I were in heaven; but I know for a certainty, that if to-morrow a dim<br>
remembrance of it should swim before my mind, it will then seem nothing<br>
but stupid nonsense, as I have often experienced already--especially<br>
before I enlisted under the banner of the police, for that dispels like<br>
a whirlwind all the visions of an unfettered imagination. All we hear<br>
or say in a dream that is fair and beautiful is like the gold of the<br>
subterranean spirits; it is rich and splendid when it is given us, but<br>
viewed by daylight we find only withered leaves. Alas!" he sighed quite<br>
sorrowful, and gazed at the chirping birds that hopped contentedly from<br>
branch to branch, "they are much better off than I! To fly must be a<br>
heavenly art; and happy do I prize that creature in which it is innate.<br>
Yes! Could I exchange my nature with any other creature, I fain would be<br>
such a happy little lark!"<br>
<br>
He had hardly uttered these hasty words when the skirts and sleeves<br>
of his coat folded themselves together into wings; the clothes became<br>
feathers, and the galoshes claws. He observed it perfectly, and laughed<br>
in his heart. "Now then, there is no doubt that I am dreaming; but I<br>
never before was aware of such mad freaks as these." And up he flew into<br>
the green roof and sang; but in the song there was no poetry, for the<br>
spirit of the poet was gone. The Shoes, as is the case with anybody who<br>
does what he has to do properly, could only attend to one thing at a<br>
time. He wanted to be a poet, and he was one; he now wished to be a<br>
merry chirping bird: but when he was metamorphosed into one, the former<br>
peculiarities ceased immediately. "It is really pleasant enough,"
said<br>
he: "the whole day long I sit in the office amid the driest<br>
law-papers, and at night I fly in my dream as a lark in the gardens of<br>
Fredericksburg; one might really write a very pretty comedy upon it." He<br>
now fluttered down into the grass, turned his head gracefully on every<br>
side, and with his bill pecked the pliant blades of grass, which, in<br>
comparison to his present size, seemed as majestic as the palm-branches<br>
of northern Africa.<br>
<br>
Unfortunately the pleasure lasted but a moment. Presently black night<br>
overshadowed our enthusiast, who had so entirely missed his part of<br>
copying-clerk at a police-office; some vast object seemed to be thrown<br>
over him. It was a large oil-skin cap, which a sailor-boy of the quay<br>
had thrown over the struggling bird; a coarse hand sought its way<br>
carefully in under the broad rim, and seized the clerk over the back<br>
and wings. In the first moment of fear, he called, indeed, as loud as<br>
he could--"You impudent little blackguard! I am a copying-clerk at<br>
the police-office; and you know you cannot insult any belonging to the<br>
constabulary force without a chastisement. Besides, you good-for-nothing<br>
rascal, it is strictly forbidden to catch birds in the royal gardens of<br>
Fredericksburg; but your blue uniform betrays where you come from."<br>
This fine tirade sounded, however, to the ungodly sailor-boy like a mere<br>
"Pippi-pi." He gave the noisy bird a knock on his beak, and walked
on.<br>
<br>
He was soon met by two schoolboys of the upper class--that is to say as<br>
individuals, for with regard to learning they were in the lowest class<br>
in the school; and they bought the stupid bird. So the copying-clerk<br>
came to Copenhagen as guest, or rather as prisoner in a family living in<br>
Gother Street.<br>
<br>
"'Tis well that I'm dreaming," said the clerk, "or I really
should get<br>
angry. First I was a poet; now sold for a few pence as a lark; no doubt<br>
it was that accursed poetical nature which has metamorphosed me<br>
into such a poor harmless little creature. It is really pitiable,<br>
particularly when one gets into the hands of a little blackguard,<br>
perfect in all sorts of cruelty to animals: all I should like to know<br>
is, how the story will end."<br>
<br>
The two schoolboys, the proprietors now of the transformed clerk,<br>
carried him into an elegant room. A stout stately dame received them<br>
with a smile; but she expressed much dissatisfaction that a common<br>
field-bird, as she called the lark, should appear in such high society.<br>
For to-day, however, she would allow it; and they must shut him in the<br>
empty cage that was standing in the window. "Perhaps he will amuse my<br>
good Polly," added the lady, looking with a benignant smile at a large<br>
green parrot that swung himself backwards and forwards most comfortably<br>
in his ring, inside a magnificent brass-wired cage. "To-day is Polly's<br>
birthday," said she with stupid simplicity: "and the little brown<br>
field-bird must wish him joy."<br>
<br>
Mr. Polly uttered not a syllable in reply, but swung to and fro with<br>
dignified condescension; while a pretty canary, as yellow as gold, that<br>
had lately been brought from his sunny fragrant home, began to sing<br>
aloud.<br>
<br>
"Noisy creature! Will you be quiet!" screamed the lady of the house,<br>
covering the cage with an embroidered white pocket handkerchief.<br>
<br>
"Chirp, chirp!" sighed he. "That was a dreadful snowstorm";
and he<br>
sighed again, and was silent.<br>
<br>
The copying-clerk, or, as the lady said, the brown field-bird, was<br>
put into a small cage, close to the Canary, and not far from "my good<br>
Polly." The only human sounds that the Parrot could bawl out<br>
were, "Come, let us be men!" Everything else that he said was as<br>
unintelligible to everybody as the chirping of the Canary, except to the<br>
clerk, who was now a bird too: he understood his companion perfectly.<br>
<br>
"I flew about beneath the green palms and the blossoming
almond-trees,"<br>
sang the Canary; "I flew around, with my brothers and sisters, over<br>
the beautiful flowers, and over the glassy lakes, where the bright<br>
water-plants nodded to me from below. There, too, I saw many<br>
splendidly-dressed paroquets, that told the drollest stories, and the<br>
wildest fairy tales without end."<br>
<br>
"Oh! those were uncouth birds," answered the Parrot. "They had
no<br>
education, and talked of whatever came into their head.<br>
<br>
"If my mistress and all her friends can laugh at what I say, so may you<br>
too, I should think. It is a great fault to have no taste for what is<br>
witty or amusing--come, let us be men."<br>
<br>
"Ah, you have no remembrance of love for the charming maidens that<br>
danced beneath the outspread tents beside the bright fragrant flowers?<br>
Do you no longer remember the sweet fruits, and the cooling juice in<br>
the wild plants of our never-to-be-forgotten home?" said the former<br>
inhabitant of the Canary Isles, continuing his dithyrambic.<br>
<br>
"Oh, yes," said the Parrot; "but I am far better off here. I am
well<br>
fed, and get friendly treatment. I know I am a clever fellow; and that<br>
is all I care about. Come, let us be men. You are of a poetical nature,<br>
as it is called--I, on the contrary, possess profound knowledge and<br>
inexhaustible wit. You have genius; but clear-sighted, calm discretion<br>
does not take such lofty flights, and utter such high natural tones.<br>
For this they have covered you over--they never do the like to me; for<br>
I cost more. Besides, they are afraid of my beak; and I have always a<br>
witty answer at hand. Come, let us be men!"<br>
<br>
"O warm spicy land of my birth," sang the Canary bird; "I will
sing of<br>
thy dark-green bowers, of the calm bays where the pendent boughs<br>
kiss the surface of the water; I will sing of the rejoicing of all my<br>
brothers and sisters where the cactus grows in wanton luxuriance."<br>
<br>
"Spare us your elegiac tones," said the Parrot giggling. "Rather
speak<br>
of something at which one may laugh heartily. Laughing is an infallible<br>
sign of the highest degree of mental development. Can a dog, or a horse<br>
laugh? No, but they can cry. The gift of laughing was given to man<br>
alone. Ha! ha! ha!" screamed Polly, and added his stereotype witticism.<br>
"Come, let us be men!"<br>
<br>
"Poor little Danish grey-bird," said the Canary; "you have been
caught<br>
too. It is, no doubt, cold enough in your woods, but there at least<br>
is the breath of liberty; therefore fly away. In the hurry they have<br>
forgotten to shut your cage, and the upper window is open. Fly, my<br>
friend; fly away. Farewell!"<br>
<br>
Instinctively the Clerk obeyed; with a few strokes of his wings he was<br>
out of the cage; but at the same moment the door, which was only ajar,<br>
and which led to the next room, began to creak, and supple and creeping<br>
came the large tomcat into the room, and began to pursue him. The<br>
frightened Canary fluttered about in his cage; the Parrot flapped his<br>
wings, and cried, "Come, let us be men!" The Clerk felt a mortal
fright,<br>
and flew through the window, far away over the houses and streets. At<br>
last he was forced to rest a little.<br>
<br>
The neighboring house had a something familiar about it; a window stood<br>
open; he flew in; it was his own room. He perched upon the table.<br>
<br>
"Come, let us be men!" said he, involuntarily imitating the chatter
of<br>
the Parrot, and at the same moment he was again a copying-clerk; but he<br>
was sitting in the middle of the table.<br>
<br>
"Heaven help me!" cried he. "How did I get up here--and so
buried in<br>
sleep, too? After all, that was a very unpleasant, disagreeable dream<br>
that haunted me! The whole story is nothing but silly, stupid nonsense!"<br>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Who found and took the galoshes to the hospital?</p>
        <p>2. What did the copying-clerk think about the galoshes when he saw them in the police-office?</p>
        <p>3. What transformation did the clerk undergo in the story, and what were the consequences of this transformation?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The watchman found and took the galoshes to the hospital.</p>
        <p>2. The copying-clerk thought about whether the wet galoshes belonged to him, but he guessed wrong, thinking they were the ones on the left.</p>
        <p>3. The clerk transformed into a bird, first as a lark and later as a brown field-bird. The consequences included being sold to two schoolboys, placed in a cage next to a canary and a parrot, and later chased by a tomcat. Eventually, he flew back to his own room and returned to his original state as a copying-clerk.</p>
    </div>
</div>

<!-- Reading Section 3 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>VI. The Best That the Galoshes Gave</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
The following day, early in the morning, while the Clerk was still in<br>
bed, someone knocked at his door. It was his neighbor, a young Divine,<br>
who lived on the same floor. He walked in.<br>
<br>
"Lend me your Galoshes," said he; "it is so wet in the garden,
though<br>
the sun is shining most invitingly. I should like to go out a little."<br>
<br>
He got the Galoshes, and he was soon below in a little duodecimo garden,<br>
where between two immense walls a plumtree and an apple-tree were<br>
standing. Even such a little garden as this was considered in the<br>
metropolis of Copenhagen as a great luxury.<br>
<br>
The young man wandered up and down the narrow paths, as well as the<br>
prescribed limits would allow; the clock struck six; without was heard<br>
the horn of a post-boy.<br>
<br>
"To travel! to travel!" exclaimed he, overcome by most painful and<br>
passionate remembrances. "That is the happiest thing in the world! That<br>
is the highest aim of all my wishes! Then at last would the agonizing<br>
restlessness be allayed, which destroys my existence! But it must be<br>
far, far away! I would behold magnificent Switzerland; I would travel to<br>
Italy, and--"<br>
<br>
It was a good thing that the power of the Galoshes worked as<br>
instantaneously as lightning in a powder-magazine would do, otherwise<br>
the poor man with his overstrained wishes would have travelled about<br>
the world too much for himself as well as for us. In short, he was<br>
travelling. He was in the middle of Switzerland, but packed up with<br>
eight other passengers in the inside of an eternally-creaking diligence;<br>
his head ached till it almost split, his weary neck could hardly bear<br>
the heavy load, and his feet, pinched by his torturing boots, were<br>
terribly swollen. He was in an intermediate state between sleeping and<br>
waking; at variance with himself, with his company, with the country,<br>
and with the government. In his right pocket he had his letter of<br>
credit, in the left, his passport, and in a small leathern purse some<br>
double louis d'or, carefully sewn up in the bosom of his waistcoat.<br>
Every dream proclaimed that one or the other of these valuables was<br>
lost; wherefore he started up as in a fever; and the first movement<br>
which his hand made, described a magic triangle from the right pocket to<br>
the left, and then up towards the bosom, to feel if he had them all safe<br>
or not. From the roof inside the carriage, umbrellas, walking-sticks,<br>
hats, and sundry other articles were depending, and hindered the view,<br>
which was particularly imposing. He now endeavored as well as he<br>
was able to dispel his gloom, which was caused by outward chance<br>
circumstances merely, and on the bosom of nature imbibe the milk of<br>
purest human enjoyment.<br>
<br>
Grand, solemn, and dark was the whole landscape around. The gigantic<br>
pine-forests, on the pointed crags, seemed almost like little tufts of<br>
heather, colored by the surrounding clouds. It began to snow, a cold<br>
wind blew and roared as though it were seeking a bride.<br>
<br>
"Augh!" sighed he, "were we only on the other side the Alps,
then we<br>
should have summer, and I could get my letters of credit cashed. The<br>
anxiety I feel about them prevents me enjoying Switzerland. Were I but<br>
on the other side!"<br>
<br>
And so saying he was on the other side in Italy, between Florence and<br>
Rome. Lake Thracymene, illumined by the evening sun, lay like flaming<br>
gold between the dark-blue mountain-ridges; here, where Hannibal<br>
defeated Flaminius, the rivers now held each other in their green<br>
embraces; lovely, half-naked children tended a herd of black swine,<br>
beneath a group of fragrant laurel-trees, hard by the road-side.<br>
Could we render this inimitable picture properly, then would everybody<br>
exclaim, "Beautiful, unparalleled Italy!" But neither the young Divine<br>
said so, nor anyone of his grumbling companions in the coach of the<br>
vetturino.<br>
<br>
The poisonous flies and gnats swarmed around by thousands; in vain one<br>
waved myrtle-branches about like mad; the audacious insect population<br>
did not cease to sting; nor was there a single person in the<br>
well-crammed carriage whose face was not swollen and sore from their<br>
ravenous bites. The poor horses, tortured almost to death, suffered most<br>
from this truly Egyptian plague; the flies alighted upon them in large<br>
disgusting swarms; and if the coachman got down and scraped them off,<br>
hardly a minute elapsed before they were there again. The sun now set: a<br>
freezing cold, though of short duration pervaded the whole creation;<br>
it was like a horrid gust coming from a burial-vault on a warm summer's<br>
day--but all around the mountains retained that wonderful green tone<br>
which we see in some old pictures, and which, should we not have seen a<br>
similar play of color in the South, we declare at once to be unnatural.<br>
It was a glorious prospect; but the stomach was empty, the body tired;<br>
all that the heart cared and longed for was good night-quarters; yet<br>
how would they be? For these one looked much more anxiously than for the<br>
charms of nature, which every where were so profusely displayed.<br>
<br>
The road led through an olive-grove, and here the solitary inn was<br>
situated. Ten or twelve crippled-beggars had encamped outside. The<br>
healthiest of them resembled, to use an expression of Marryat's,<br>
"Hunger's eldest son when he had come of age"; the others were either<br>
blind, had withered legs and crept about on their hands, or withered<br>
arms and fingerless hands. It was the most wretched misery, dragged<br>
from among the filthiest rags. "Excellenza, miserabili!" sighed they,<br>
thrusting forth their deformed limbs to view. Even the hostess, with<br>
bare feet, uncombed hair, and dressed in a garment of doubtful color,<br>
received the guests grumblingly. The doors were fastened with a loop of<br>
string; the floor of the rooms presented a stone paving half torn<br>
up; bats fluttered wildly about the ceiling; and as to the smell<br>
therein--no--that was beyond description.<br>
<br>
"You had better lay the cloth below in the stable," said one of the<br>
travellers; "there, at all events, one knows what one is breathing."<br>
<br>
The windows were quickly opened, to let in a little fresh air. Quicker,<br>
however, than the breeze, the withered, sallow arms of the beggars were<br>
thrust in, accompanied by the eternal whine of "Miserabili, miserabili,<br>
excellenza!" On the walls were displayed innumerable inscriptions,<br>
written in nearly every language of Europe, some in verse, some in<br>
prose, most of them not very laudatory of "bella Italia."<br>
<br>
The meal was served. It consisted of a soup of salted water, seasoned<br>
with pepper and rancid oil. The last ingredient played a very prominent<br>
part in the salad; stale eggs and roasted cocks'-combs furnished the<br>
grand dish of the repast; the wine even was not without a disgusting<br>
taste--it was like a medicinal draught.<br>
<br>
At night the boxes and other effects of the passengers were placed<br>
against the rickety doors. One of the travellers kept watch while the<br>
others slept. The sentry was our young Divine. How close it was in the<br>
chamber! The heat oppressive to suffocation--the gnats hummed and stung<br>
unceasingly--the "miserabili" without whined and moaned in their
sleep.<br>
<br>
"Travelling would be agreeable enough," said he groaning, "if
one only<br>
had no body, or could send it to rest while the spirit went on its<br>
pilgrimage unhindered, whither the voice within might call it. Wherever<br>
I go, I am pursued by a longing that is insatiable--that I cannot<br>
explain to myself, and that tears my very heart. I want something better<br>
than what is but what is fled in an instant. But what is it, and where<br>
is it to be found? Yet, I know in reality what it is I wish for. Oh!<br>
most happy were I, could I but reach one aim--could but reach the<br>
happiest of all!"<br>
<br>
And as he spoke the word he was again in his home; the long white<br>
curtains hung down from the windows, and in the middle of the floor<br>
stood the black coffin; in it he lay in the sleep of death. His wish<br>
was fulfilled--the body rested, while the spirit went unhindered on its<br>
pilgrimage. "Let no one deem himself happy before his end," were the<br>
words of Solon; and here was a new and brilliant proof of the wisdom of<br>
the old apothegm.<br>
<br>
Every corpse is a sphynx of immortality; here too on the black coffin<br>
the sphynx gave us no answer to what he who lay within had written two<br>
days before:<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; "O mighty Death! thy silence teaches nought,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thou leadest only to the near grave's brink;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Is broken now the ladder of my thoughts?<br>
&nbsp;&nbsp;&nbsp;&nbsp; Do I instead of mounting only sink?<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; Our heaviest grief the world oft seeth not,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our sorest pain we hide from stranger eyes:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; And for the sufferer there is nothing left<br>
&nbsp;&nbsp;&nbsp;&nbsp; But the green mound that o'er the coffin lies."<br>
<br>
Two figures were moving in the chamber. We knew them both; it was the<br>
fairy of Care, and the emissary of Fortune. They both bent over the<br>
corpse.<br>
<br>
"Do you now see," said Care, "what happiness your Galoshes have
brought<br>
to mankind?"<br>
<br>
"To him, at least, who slumbers here, they have brought an imperishable<br>
blessing," answered the other.<br>
<br>
"Ah no!" replied Care. "He took his departure himself; he was
not called<br>
away. His mental powers here below were not strong enough to reach the<br>
treasures lying beyond this life, and which his destiny ordained he<br>
should obtain. I will now confer a benefit on him."<br>
<br>
And she took the Galoshes from his feet; his sleep of death was ended;<br>
and he who had been thus called back again to life arose from his<br>
dread couch in all the vigor of youth. Care vanished, and with her the<br>
Galoshes. She has no doubt taken them for herself, to keep them to all<br>
eternity.<br>

    </div>
    <p class="w3-large" id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Who borrowed the Galoshes from the Clerk, and why did he want them?</p>
        <p>2. Where did the young Divine travel to after putting on the Galoshes, and what were his experiences during the journey?</p>
        <p>3. What happened to the young Divine in the end, and what was the role of the Galoshes in this outcome?</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The young Divine, who was the Clerk's neighbor, borrowed the Galoshes because he wanted to go out in the wet garden despite the shining sun.</p>
        <p>2. The young Divine traveled to Switzerland and Italy. During the journey, he experienced discomfort in a crowded and creaking diligence, faced issues with insects, and encountered unpleasant conditions at an inn in Italy.</p>
        <p>3. In the end, the young Divine returned to life after his apparent death. The Galoshes, which had the power to fulfill wishes and transport the wearer to different places, played a role in his revival. Care removed the Galoshes to bring him back to life, indicating that his destiny had not reached its intended conclusion.</p>
    </div>
</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}



</script>
{% endblock %}