{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding w3-left" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>THE LEAP-FROG | THE ELDERBUSH</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
THE LEAP-FROG<br>
<br>
A Flea, a Grasshopper, and a Leap-frog once wanted to see which could<br>
jump highest; and they invited the whole world, and everybody else<br>
besides who chose to come to see the festival. Three famous jumpers were<br>
they, as everyone would say, when they all met together in the room.<br>
<br>
"I will give my daughter to him who jumps highest," exclaimed the
King;<br>
"for it is not so amusing where there is no prize to jump for."<br>
<br>
The Flea was the first to step forward. He had exquisite manners, and<br>
bowed to the company on all sides; for he had noble blood, and was,<br>
moreover, accustomed to the society of man alone; and that makes a great<br>
difference.<br>
<br>
Then came the Grasshopper. He was considerably heavier, but he was<br>
well-mannered, and wore a green uniform, which he had by right of birth;<br>
he said, moreover, that he belonged to a very ancient Egyptian family,<br>
and that in the house where he then was, he was thought much of. The<br>
fact was, he had been just brought out of the fields, and put in a<br>
pasteboard house, three stories high, all made of court-cards, with the<br>
colored side inwards; and doors and windows cut out of the body of<br>
the Queen of Hearts. "I sing so well," said he, "that sixteen
native<br>
grasshoppers who have chirped from infancy, and yet got no house built<br>
of cards to live in, grew thinner than they were before for sheer<br>
vexation when they heard me."<br>
<br>
It was thus that the Flea and the Grasshopper gave an account of<br>
themselves, and thought they were quite good enough to marry a Princess.<br>
<br>
The Leap-frog said nothing; but people gave it as their opinion, that<br>
he therefore thought the more; and when the housedog snuffed at him<br>
with his nose, he confessed the Leap-frog was of good family. The old<br>
councillor, who had had three orders given him to make him hold his<br>
tongue, asserted that the Leap-frog was a prophet; for that one could<br>
see on his back, if there would be a severe or mild winter, and that<br>
was what one could not see even on the back of the man who writes the<br>
almanac.<br>
<br>
"I say nothing, it is true," exclaimed the King; "but I have my
own<br>
opinion, notwithstanding."<br>
<br>
Now the trial was to take place. The Flea jumped so high that nobody<br>
could see where he went to; so they all asserted he had not jumped at<br>
all; and that was dishonorable.<br>
<br>
The Grasshopper jumped only half as high; but he leaped into the King's<br>
face, who said that was ill-mannered.<br>
<br>
The Leap-frog stood still for a long time lost in thought; it was<br>
believed at last he would not jump at all.<br>
<br>
"I only hope he is not unwell," said the house-dog; when, pop! he
made a<br>
jump all on one side into the lap of the Princess, who was sitting on a<br>
little golden stool close by.<br>
<br>
Hereupon the King said, "There is nothing above my daughter; therefore<br>
to bound up to her is the highest jump that can be made; but for this,<br>
one must possess understanding, and the Leap-frog has shown that he has<br>
understanding. He is brave and intellectual."<br>
<br>
And so he won the Princess.<br>
<br>
"It's all the same to me," said the Flea. "She may have the old<br>
Leap-frog, for all I care. I jumped the highest; but in this world<br>
merit seldom meets its reward. A fine exterior is what people look at<br>
now-a-days."<br>
<br>
The Flea then went into foreign service, where, it is said, he was<br>
killed.<br>
<br>
The Grasshopper sat without on a green bank, and reflected on worldly<br>
things; and he said too, "Yes, a fine exterior is everything--a fine<br>
exterior is what people care about." And then he began chirping his<br>
peculiar melancholy song, from which we have taken this history; and<br>
which may, very possibly, be all untrue, although it does stand here<br>
printed in black and white.<br>
<br>
THE ELDERBUSH<br>
<br>
Once upon a time there was a little boy who had taken cold. He had<br>
gone out and got his feet wet; though nobody could imagine how it had<br>
happened, for it was quite dry weather. So his mother undressed him, put<br>
him to bed, and had the tea-pot brought in, to make him a good cup of<br>
Elderflower tea. Just at that moment the merry old man came in who<br>
lived up a-top of the house all alone; for he had neither wife nor<br>
children--but he liked children very much, and knew so many fairy tales,<br>
that it was quite delightful.<br>
<br>
"Now drink your tea," said the boy's mother; "then, perhaps, you
may<br>
hear a fairy tale."<br>
<br>
"If I had but something new to tell," said the old man. "But how
did the<br>
child get his feet wet?"<br>
<br>
"That is the very thing that nobody can make out," said his mother.<br>
<br>
"Am I to hear a fairy tale?" asked the little boy.<br>
<br>
"Yes, if you can tell me exactly--for I must know that first--how deep<br>
the gutter is in the little street opposite, that you pass through in<br>
going to school."<br>
<br>
"Just up to the middle of my boot," said the child; "but then I
must go<br>
into the deep hole."<br>
<br>
"Ah, ah! That's where the wet feet came from," said the old man.
"I<br>
ought now to tell you a story; but I don't know any more."<br>
<br>
"You can make one in a moment," said the little boy. "My mother
says<br>
that all you look at can be turned into a fairy tale: and that you can<br>
find a story in everything."<br>
<br>
"Yes, but such tales and stories are good for nothing. The right sort<br>
come of themselves; they tap at my forehead and say, 'Here we are.'"<br>
<br>
"Won't there be a tap soon?" asked the little boy. And his mother<br>
laughed, put some Elder-flowers in the tea-pot, and poured boiling water<br>
upon them.<br>
<br>
"Do tell me something! Pray do!"<br>
<br>
"Yes, if a fairy tale would come of its own accord; but they are proud<br>
and haughty, and come only when they choose. Stop!" said he, all on a<br>
sudden. "I have it! Pay attention! There is one in the tea-pot!"<br>
<br>
And the little boy looked at the tea-pot. The cover rose more and more;<br>
and the Elder-flowers came forth so fresh and white, and shot up long<br>
branches. Out of the spout even did they spread themselves on all sides,<br>
and grew larger and larger; it was a splendid Elderbush, a whole tree;<br>
and it reached into the very bed, and pushed the curtains aside. How<br>
it bloomed! And what an odour! In the middle of the bush sat a<br>
friendly-looking old woman in a most strange dress. It was quite<br>
green, like the leaves of the elder, and was trimmed with large white<br>
Elder-flowers; so that at first one could not tell whether it was a<br>
stuff, or a natural green and real flowers.<br>
<br>
"What's that woman's name?" asked the little boy.<br>
<br>
"The Greeks and Romans," said the old man, "called her a Dryad;
but that<br>
we do not understand. The people who live in the New Booths [*] have a much<br>
better name for her; they call her 'old Granny'--and she it is to<br>
whom you are to pay attention. Now listen, and look at the beautiful<br>
Elderbush.<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; * A row of buildings for seamen in Copenhagen.<br>
<br>
"Just such another large blooming Elder Tree stands near the New Booths.<br>
It grew there in the corner of a little miserable court-yard; and under<br>
it sat, of an afternoon, in the most splendid sunshine, two old<br>
people; an old, old seaman, and his old, old wife. They had<br>
great-grand-children, and were soon to celebrate the fiftieth<br>
anniversary of their marriage; but they could not exactly recollect the<br>
date: and old Granny sat in the tree, and looked as pleased as now. 'I<br>
know the date,' said she; but those below did not hear her, for they<br>
were talking about old times.<br>
<br>
"'Yes, can't you remember when we were very little,' said the old<br>
seaman, 'and ran and played about? It was the very same court-yard where<br>
we now are, and we stuck slips in the ground, and made a garden.'<br>
<br>
"'I remember it well,' said the old woman; 'I remember it quite well. We<br>
watered the slips, and one of them was an Elderbush. It took root, put<br>
forth green shoots, and grew up to be the large tree under which we old<br>
folks are now sitting.'<br>
<br>
"'To be sure,' said he. 'And there in the corner stood a waterpail,<br>
where I used to swim my boats.'<br>
<br>
"'True; but first we went to school to learn somewhat,' said she; 'and<br>
then we were confirmed. We both cried; but in the afternoon we went up<br>
the Round Tower, and looked down on Copenhagen, and far, far away over<br>
the water; then we went to Friedericksberg, where the King and the Queen<br>
were sailing about in their splendid barges.'<br>
<br>
"'But I had a different sort of sailing to that, later; and that, too,<br>
for many a year; a long way off, on great voyages.'<br>
<br>
"'Yes, many a time have I wept for your sake,' said she. 'I thought you<br>
were dead and gone, and lying down in the deep waters. Many a night have<br>
I got up to see if the wind had not changed: and changed it had, sure<br>
enough; but you never came. I remember so well one day, when the rain<br>
was pouring down in torrents, the scavengers were before the house where<br>
I was in service, and I had come up with the dust, and remained standing<br>
at the door--it was dreadful weather--when just as I was there, the<br>
postman came and gave me a letter. It was from you! What a tour that<br>
letter had made! I opened it instantly and read: I laughed and wept.<br>
I was so happy. In it I read that you were in warm lands where the<br>
coffee-tree grows. What a blessed land that must be! You related so<br>
much, and I saw it all the while the rain was pouring down, and I<br>
standing there with the dust-box. At the same moment came someone who<br>
embraced me.'<br>
<br>
"'Yes; but you gave him a good box on his ear that made it tingle!'<br>
<br>
"'But I did not know it was you. You arrived as soon as your letter,<br>
and you were so handsome--that you still are--and had a long yellow silk<br>
handkerchief round your neck, and a bran new hat on; oh, you were so<br>
dashing! Good heavens! What weather it was, and what a state the street<br>
was in!'<br>
<br>
"'And then we married,' said he. 'Don't you remember? And then we<br>
had our first little boy, and then Mary, and Nicholas, and Peter, and<br>
Christian.'<br>
<br>
"'Yes, and how they all grew up to be honest people, and were beloved by<br>
everybody.'<br>
<br>
"'And their children also have children,' said the old sailor; 'yes,<br>
those are our grand-children, full of strength and vigor. It was,<br>
methinks about this season that we had our wedding.'<br>
<br>
"'Yes, this very day is the fiftieth anniversary of the marriage,' said<br>
old Granny, sticking her head between the two old people; who thought<br>
it was their neighbor who nodded to them. They looked at each other and<br>
held one another by the hand. Soon after came their children, and their<br>
grand-children; for they knew well enough that it was the day of the<br>
fiftieth anniversary, and had come with their gratulations that very<br>
morning; but the old people had forgotten it, although they were able<br>
to remember all that had happened many years ago. And the Elderbush sent<br>
forth a strong odour in the sun, that was just about to set, and shone<br>
right in the old people's faces. They both looked so rosy-cheeked; and<br>
the youngest of the grandchildren danced around them, and called out<br>
quite delighted, that there was to be something very splendid that<br>
evening--they were all to have hot potatoes. And old Nanny nodded in the<br>
bush, and shouted 'hurrah!' with the rest."<br>
<br>
"But that is no fairy tale," said the little boy, who was listening
to<br>
the story.<br>
<br>
"The thing is, you must understand it," said the narrator; "let
us ask<br>
old Nanny."<br>
<br>
"That was no fairy tale, 'tis true," said old Nanny; "but now
it's<br>
coming. The most wonderful fairy tales grow out of that which is<br>
reality; were that not the case, you know, my magnificent Elderbush<br>
could not have grown out of the tea-pot." And then she took the little<br>
boy out of bed, laid him on her bosom, and the branches of the Elder<br>
Tree, full of flowers, closed around her. They sat in an aerial<br>
dwelling, and it flew with them through the air. Oh, it was wondrous<br>
beautiful! Old Nanny had grown all of a sudden a young and pretty<br>
maiden; but her robe was still the same green stuff with white flowers,<br>
which she had worn before. On her bosom she had a real Elderflower,<br>
and in her yellow waving hair a wreath of the flowers; her eyes were so<br>
large and blue that it was a pleasure to look at them; she kissed the<br>
boy, and now they were of the same age and felt alike.<br>
<br>
Hand in hand they went out of the bower, and they were standing in the<br>
beautiful garden of their home. Near the green lawn papa's walking-stick<br>
was tied, and for the little ones it seemed to be endowed with life; for<br>
as soon as they got astride it, the round polished knob was turned into<br>
a magnificent neighing head, a long black mane fluttered in the breeze,<br>
and four slender yet strong legs shot out. The animal was strong and<br>
handsome, and away they went at full gallop round the lawn.<br>
<br>
"Huzza! Now we are riding miles off," said the boy. "We are
riding away<br>
to the castle where we were last year!"<br>
<br>
And on they rode round the grass-plot; and the little maiden, who, we<br>
know, was no one else but old Nanny, kept on crying out, "Now we are in<br>
the country! Don't you see the farm-house yonder? And there is an Elder<br>
Tree standing beside it; and the cock is scraping away the earth for the<br>
hens, look, how he struts! And now we are close to the church. It lies<br>
high upon the hill, between the large oak-trees, one of which is half<br>
decayed. And now we are by the smithy, where the fire is blazing, and<br>
where the half-naked men are banging with their hammers till the sparks<br>
fly about. Away! away! To the beautiful country-seat!"<br>
<br>
And all that the little maiden, who sat behind on the stick, spoke of,<br>
flew by in reality. The boy saw it all, and yet they were only going<br>
round the grass-plot. Then they played in a side avenue, and marked out<br>
a little garden on the earth; and they took Elder-blossoms from their<br>
hair, planted them, and they grew just like those the old people planted<br>
when they were children, as related before. They went hand in hand, as<br>
the old people had done when they were children; but not to the Round<br>
Tower, or to Friedericksberg; no, the little damsel wound her arms round<br>
the boy, and then they flew far away through all Denmark. And spring<br>
came, and summer; and then it was autumn, and then winter; and a<br>
thousand pictures were reflected in the eye and in the heart of the boy;<br>
and the little girl always sang to him, "This you will never forget."<br>
And during their whole flight the Elder Tree smelt so sweet and odorous;<br>
he remarked the roses and the fresh beeches, but the Elder Tree had<br>
a more wondrous fragrance, for its flowers hung on the breast of the<br>
little maiden; and there, too, did he often lay his head during the<br>
flight.<br>
<br>
"It is lovely here in spring!" said the young maiden. And they stood
in<br>
a beech-wood that had just put on its first green, where the woodroof [*]<br>
at their feet sent forth its fragrance, and the pale-red anemony looked<br>
so pretty among the verdure. "Oh, would it were always spring in the<br>
sweetly-smelling Danish beech-forests!"<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; * Asperula odorata.<br>
<br>
"It is lovely here in summer!" said she. And she flew past old
castles<br>
of by-gone days of chivalry, where the red walls and the embattled<br>
gables were mirrored in the canal, where the swans were swimming, and<br>
peered up into the old cool avenues. In the fields the corn was waving<br>
like the sea; in the ditches red and yellow flowers were growing; while<br>
wild-drone flowers, and blooming convolvuluses were creeping in the<br>
hedges; and towards evening the moon rose round and large, and the<br>
haycocks in the meadows smelt so sweetly. "This one never forgets!"<br>
<br>
"It is lovely here in autumn!" said the little maiden. And suddenly
the<br>
atmosphere grew as blue again as before; the forest grew red, and green,<br>
and yellow-colored. The dogs came leaping along, and whole flocks of<br>
wild-fowl flew over the cairn, where blackberry-bushes were hanging<br>
round the old stones. The sea was dark blue, covered with ships full<br>
of white sails; and in the barn old women, maidens, and children were<br>
sitting picking hops into a large cask; the young sang songs, but the<br>
old told fairy tales of mountain-sprites and soothsayers. Nothing could<br>
be more charming.<br>
<br>
"It is delightful here in winter!" said the little maiden. And all
the<br>
trees were covered with hoar-frost; they looked like white corals; the<br>
snow crackled under foot, as if one had new boots on; and one falling<br>
star after the other was seen in the sky. The Christmas-tree was lighted<br>
in the room; presents were there, and good-humor reigned. In the country<br>
the violin sounded in the room of the peasant; the newly-baked cakes<br>
were attacked; even the poorest child said, "It is really delightful<br>
here in winter!"<br>
<br>
Yes, it was delightful; and the little maiden showed the boy everything;<br>
and the Elder Tree still was fragrant, and the red flag, with the white<br>
cross, was still waving: the flag under which the old seaman in the New<br>
Booths had sailed. And the boy grew up to be a lad, and was to go forth<br>
in the wide world-far, far away to warm lands, where the coffee-tree<br>
grows; but at his departure the little maiden took an Elder-blossom from<br>
her bosom, and gave it him to keep; and it was placed between the leaves<br>
of his Prayer-Book; and when in foreign lands he opened the book, it<br>
was always at the place where the keepsake-flower lay; and the more he<br>
looked at it, the fresher it became; he felt as it were, the fragrance<br>
of the Danish groves; and from among the leaves of the flowers he could<br>
distinctly see the little maiden, peeping forth with her bright blue<br>
eyes--and then she whispered, "It is delightful here in Spring, Summer,<br>
Autumn, and Winter"; and a hundred visions glided before his mind.<br>
<br>
Thus passed many years, and he was now an old man, and sat with his old<br>
wife under the blooming tree. They held each other by the hand, as the<br>
old grand-father and grand-mother yonder in the New Booths did, and they<br>
talked exactly like them of old times, and of the fiftieth anniversary<br>
of their wedding. The little maiden, with the blue eyes, and with<br>
Elder-blossoms in her hair, sat in the tree, nodded to both of them,<br>
and said, "To-day is the fiftieth anniversary!" And then she took two<br>
flowers out of her hair, and kissed them. First, they shone like silver,<br>
then like gold; and when they laid them on the heads of the old people,<br>
each flower became a golden crown. So there they both sat, like a king<br>
and a queen, under the fragrant tree, that looked exactly like an elder:<br>
the old man told his wife the story of "Old Nanny," as it had been
told<br>
him when a boy. And it seemed to both of them it contained much that<br>
resembled their own history; and those parts that were like it pleased<br>
them best.<br>
<br>
"Thus it is," said the little maiden in the tree, "some call me
'Old<br>
Nanny,' others a 'Dryad,' but, in reality, my name is 'Remembrance';<br>
'tis I who sit in the tree that grows and grows! I can remember; I can<br>
tell things! Let me see if you have my flower still?"<br>
<br>
And the old man opened his Prayer-Book. There lay the Elder-blossom,<br>
as fresh as if it had been placed there but a short time before; and<br>
Remembrance nodded, and the old people, decked with crowns of gold, sat<br>
in the flush of the evening sun. They closed their eyes, and--and--!<br>
Yes, that's the end of the story!<br>
<br>
The little boy lay in his bed; he did not know if he had dreamed or<br>
not, or if he had been listening while someone told him the story. The<br>
tea-pot was standing on the table, but no Elder Tree was growing out<br>
of it! And the old man, who had been talking, was just on the point of<br>
going out at the door, and he did go.<br>
<br>
"How splendid that was!" said the little boy. "Mother, I have
been to<br>
warm countries."<br>
<br>
"So I should think," said his mother. "When one has drunk two
good<br>
cupfuls of Elder-flower tea, 'tis likely enough one goes into warm<br>
climates"; and she tucked him up nicely, least he should take cold.
"You<br>
have had a good sleep while I have been sitting here, and arguing with<br>
him whether it was a story or a fairy tale."<br>
<br>
"And where is old Nanny?" asked the little boy.<br>
<br>
"In the tea-pot," said his mother; "and there she may
remain."<br>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Who were the three participants in the jumping contest, and what prize did the King offer?</p>
        <p>2. Describe the Grasshopper's appearance and background.</p>
        <p>3. How did the Leap-frog win the contest, and why did the King choose him as the winner?</p>
        <p>4. What was the Flea's reaction to not winning the Princess's hand, and what did he decide to do afterward?</p>
        <p>5. How did the old man in "The Elderbush" make use of Elderflowers, and what did the little boy experience during his dream-like journey with the old Nanny?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The participants were a Flea, a Grasshopper, and a Leap-frog. The King offered his daughter's hand in marriage to the one who could jump the highest.</p>
        <p>2. The Grasshopper was well-mannered, wore a green uniform, and claimed to belong to a very ancient Egyptian family. He also boasted about his singing ability and how it made sixteen native grasshoppers thinner with vexation.</p>
        <p>3. The Leap-frog initially seemed hesitant to jump, but when the house dog sniffed at him, he leaped into the lap of the Princess. The King declared him the winner, stating that bounding up to the Princess was the highest jump one could make, and the Leap-frog had shown understanding, bravery, and intelligence.</p>
        <p>4. The Flea expressed indifference, stating that the Princess could have the old Leap-frog, and he went into foreign service, where it is said he was killed.</p>
        <p>5. The old man put Elderflowers in the tea-pot to make Elderflower tea. In the dream-like journey, the little boy, along with old Nanny, experienced various seasons and scenes in Denmark. They traveled through spring, summer, autumn, and winter, witnessing the beauty of nature, castles, and farmlands. The Elder Tree played a significant role in the journey, emitting a wonderful fragrance, and the boy was filled with a sense of wonder and delight.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>THE BELL</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
People said "The Evening Bell is sounding, the sun is setting." For a<br>
strange wondrous tone was heard in the narrow streets of a large town.<br>
It was like the sound of a church-bell: but it was only heard for a<br>
moment, for the rolling of the carriages and the voices of the multitude<br>
made too great a noise.<br>
<br>
Those persons who were walking outside the town, where the houses were<br>
farther apart, with gardens or little fields between them, could see<br>
the evening sky still better, and heard the sound of the bell much<br>
more distinctly. It was as if the tones came from a church in the still<br>
forest; people looked thitherward, and felt their minds attuned most<br>
solemnly.<br>
<br>
A long time passed, and people said to each other--"I wonder if there<br>
is a church out in the wood? The bell has a tone that is wondrous sweet;<br>
let us stroll thither, and examine the matter nearer." And the rich<br>
people drove out, and the poor walked, but the way seemed strangely<br>
long to them; and when they came to a clump of willows which grew on the<br>
skirts of the forest, they sat down, and looked up at the long<br>
branches, and fancied they were now in the depth of the green wood. The<br>
confectioner of the town came out, and set up his booth there; and soon<br>
after came another confectioner, who hung a bell over his stand, as<br>
a sign or ornament, but it had no clapper, and it was tarred over to<br>
preserve it from the rain. When all the people returned home, they said<br>
it had been very romantic, and that it was quite a different sort of<br>
thing to a pic-nic or tea-party. There were three persons who asserted<br>
they had penetrated to the end of the forest, and that they had always<br>
heard the wonderful sounds of the bell, but it had seemed to them as if<br>
it had come from the town. One wrote a whole poem about it, and said the<br>
bell sounded like the voice of a mother to a good dear child, and<br>
that no melody was sweeter than the tones of the bell. The king of the<br>
country was also observant of it, and vowed that he who could discover<br>
whence the sounds proceeded, should have the title of "Universal<br>
Bell-ringer," even if it were not really a bell.<br>
<br>
Many persons now went to the wood, for the sake of getting the place,<br>
but one only returned with a sort of explanation; for nobody went far<br>
enough, that one not further than the others. However, he said that<br>
the sound proceeded from a very large owl, in a hollow tree; a sort of<br>
learned owl, that continually knocked its head against the branches. But<br>
whether the sound came from his head or from the hollow tree, that no<br>
one could say with certainty. So now he got the place of "Universal<br>
Bell-ringer," and wrote yearly a short treatise "On the Owl";
but<br>
everybody was just as wise as before.<br>
<br>
It was the day of confirmation. The clergyman had spoken so touchingly,<br>
the children who were confirmed had been greatly moved; it was<br>
an eventful day for them; from children they become all at once<br>
grown-up-persons; it was as if their infant souls were now to fly all<br>
at once into persons with more understanding. The sun was shining<br>
gloriously; the children that had been confirmed went out of the town;<br>
and from the wood was borne towards them the sounds of the unknown bell<br>
with wonderful distinctness. They all immediately felt a wish to go<br>
thither; all except three. One of them had to go home to try on a<br>
ball-dress; for it was just the dress and the ball which had caused her<br>
to be confirmed this time, for otherwise she would not have come;<br>
the other was a poor boy, who had borrowed his coat and boots to be<br>
confirmed in from the innkeeper's son, and he was to give them back by<br>
a certain hour; the third said that he never went to a strange place<br>
if his parents were not with him--that he had always been a good boy<br>
hitherto, and would still be so now that he was confirmed, and that one<br>
ought not to laugh at him for it: the others, however, did make fun of<br>
him, after all.<br>
<br>
There were three, therefore, that did not go; the others hastened on.<br>
The sun shone, the birds sang, and the children sang too, and each held<br>
the other by the hand; for as yet they had none of them any high office,<br>
and were all of equal rank in the eye of God.<br>
<br>
But two of the youngest soon grew tired, and both returned to town; two<br>
little girls sat down, and twined garlands, so they did not go either;<br>
and when the others reached the willow-tree, where the confectioner was,<br>
they said, "Now we are there! In reality the bell does not exist; it is<br>
only a fancy that people have taken into their heads!"<br>
<br>
At the same moment the bell sounded deep in the wood, so clear and<br>
solemnly that five or six determined to penetrate somewhat further. It<br>
was so thick, and the foliage so dense, that it was quite fatiguing<br>
to proceed. Woodroof and anemonies grew almost too high; blooming<br>
convolvuluses and blackberry-bushes hung in long garlands from tree to<br>
tree, where the nightingale sang and the sunbeams were playing: it was<br>
very beautiful, but it was no place for girls to go; their clothes would<br>
get so torn. Large blocks of stone lay there, overgrown with moss of<br>
every color; the fresh spring bubbled forth, and made a strange gurgling<br>
sound.<br>
<br>
"That surely cannot be the bell," said one of the children, lying
down<br>
and listening. "This must be looked to." So he remained, and let the<br>
others go on without him.<br>
<br>
They afterwards came to a little house, made of branches and the bark of<br>
trees; a large wild apple-tree bent over it, as if it would shower down<br>
all its blessings on the roof, where roses were blooming. The long stems<br>
twined round the gable, on which there hung a small bell.<br>
<br>
Was it that which people had heard? Yes, everybody was unanimous on the<br>
subject, except one, who said that the bell was too small and too fine<br>
to be heard at so great a distance, and besides it was very different<br>
tones to those that could move a human heart in such a manner. It was a<br>
king's son who spoke; whereon the others said, "Such people always want<br>
to be wiser than everybody else."<br>
<br>
They now let him go on alone; and as he went, his breast was filled more<br>
and more with the forest solitude; but he still heard the little bell<br>
with which the others were so satisfied, and now and then, when the<br>
wind blew, he could also hear the people singing who were sitting at tea<br>
where the confectioner had his tent; but the deep sound of the bell rose<br>
louder; it was almost as if an organ were accompanying it, and the tones<br>
came from the left hand, the side where the heart is placed. A rustling<br>
was heard in the bushes, and a little boy stood before the King's Son, a<br>
boy in wooden shoes, and with so short a jacket that one could see what<br>
long wrists he had. Both knew each other: the boy was that one among<br>
the children who could not come because he had to go home and return his<br>
jacket and boots to the innkeeper's son. This he had done, and was now<br>
going on in wooden shoes and in his humble dress, for the bell sounded<br>
with so deep a tone, and with such strange power, that proceed he must.<br>
<br>
"Why, then, we can go together," said the King's Son. But the poor<br>
child that had been confirmed was quite ashamed; he looked at his wooden<br>
shoes, pulled at the short sleeves of his jacket, and said that he was<br>
afraid he could not walk so fast; besides, he thought that the bell must<br>
be looked for to the right; for that was the place where all sorts of<br>
beautiful things were to be found.<br>
<br>
"But there we shall not meet," said the King's Son, nodding at the
same<br>
time to the poor boy, who went into the darkest, thickest part of the<br>
wood, where thorns tore his humble dress, and scratched his face and<br>
hands and feet till they bled. The King's Son got some scratches too;<br>
but the sun shone on his path, and it is him that we will follow, for he<br>
was an excellent and resolute youth.<br>
<br>
"I must and will find the bell," said he, "even if I am obliged
to go to<br>
the end of the world."<br>
<br>
The ugly apes sat upon the trees, and grinned. "Shall we thrash him?"<br>
said they. "Shall we thrash him? He is the son of a king!"<br>
<br>
But on he went, without being disheartened, deeper and deeper into the<br>
wood, where the most wonderful flowers were growing. There stood white<br>
lilies with blood-red stamina, skyblue tulips, which shone as they waved<br>
in the winds, and apple-trees, the apples of which looked exactly like<br>
large soapbubbles: so only think how the trees must have sparkled in the<br>
sunshine! Around the nicest green meads, where the deer were playing in<br>
the grass, grew magnificent oaks and beeches; and if the bark of one of<br>
the trees was cracked, there grass and long creeping plants grew in<br>
the crevices. And there were large calm lakes there too, in which white<br>
swans were swimming, and beat the air with their wings. The King's Son<br>
often stood still and listened. He thought the bell sounded from the<br>
depths of these still lakes; but then he remarked again that the tone<br>
proceeded not from there, but farther off, from out the depths of the<br>
forest.<br>
<br>
The sun now set: the atmosphere glowed like fire. It was still in the<br>
woods, so very still; and he fell on his knees, sung his evening hymn,<br>
and said: "I cannot find what I seek; the sun is going down, and night<br>
is coming--the dark, dark night. Yet perhaps I may be able once more<br>
to see the round red sun before he entirely disappears. I will climb up<br>
yonder rock."<br>
<br>
And he seized hold of the creeping-plants, and the roots of<br>
trees--climbed up the moist stones where the water-snakes were writhing<br>
and the toads were croaking--and he gained the summit before the sun<br>
had quite gone down. How magnificent was the sight from this height! The<br>
sea--the great, the glorious sea, that dashed its long waves against the<br>
coast--was stretched out before him. And yonder, where sea and sky meet,<br>
stood the sun, like a large shining altar, all melted together in the<br>
most glowing colors. And the wood and the sea sang a song of rejoicing,<br>
and his heart sang with the rest: all nature was a vast holy church,<br>
in which the trees and the buoyant clouds were the pillars, flowers and<br>
grass the velvet carpeting, and heaven itself the large cupola. The red<br>
colors above faded away as the sun vanished, but a million stars were<br>
lighted, a million lamps shone; and the King's Son spread out his arms<br>
towards heaven, and wood, and sea; when at the same moment, coming by<br>
a path to the right, appeared, in his wooden shoes and jacket, the poor<br>
boy who had been confirmed with him. He had followed his own path, and<br>
had reached the spot just as soon as the son of the king had done. They<br>
ran towards each other, and stood together hand in hand in the vast<br>
church of nature and of poetry, while over them sounded the invisible<br>
holy bell: blessed spirits floated around them, and lifted up their<br>
voices in a rejoicing hallelujah!<br>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. What strange sound did people hear in the town, and why did they find it difficult to locate the source of the sound?</p>
        <p>2. Why did three children decide not to go into the woods to find the bell, and what were their reasons?</p>
        <p>3. Describe the scene when the King's Son reached the summit. What did he see, and how did he feel?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. People heard a strange, wondrous tone in the town, similar to a church bell. However, the noise from carriages and the multitude made it hard to pinpoint the source.</p>
        <p>2. One child had to go home to try on a ball-dress, another needed to return borrowed clothes to the innkeeper's son, and the third was hesitant to go to a strange place without parents.</p>
        <p>3. The King's Son, after climbing to the summit, witnessed a magnificent view of the sea and the setting sun. He felt a deep sense of awe and joy, as if he were in a vast holy church with nature as its pillars and heaven as the cupola.</p>
    </div>
</div>

<!-- Reading Section 3 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>THE OLD HOUSE</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
In the street, up there, was an old, a very old house--it was almost<br>
three hundred years old, for that might be known by reading the great<br>
beam on which the date of the year was carved: together with tulips and<br>
hop-binds there were whole verses spelled as in former times, and over<br>
every window was a distorted face cut out in the beam. The one story<br>
stood forward a great way over the other; and directly under the eaves<br>
was a leaden spout with a dragon's head; the rain-water should have run<br>
out of the mouth, but it ran out of the belly, for there was a hole in<br>
the spout.<br>
<br>
All the other houses in the street were so new and so neat, with large<br>
window panes and smooth walls, one could easily see that they would have<br>
nothing to do with the old house: they certainly thought, "How long is<br>
that old decayed thing to stand here as a spectacle in the street? And<br>
then the projecting windows stand so far out, that no one can see from<br>
our windows what happens in that direction! The steps are as broad as<br>
those of a palace, and as high as to a church tower. The iron railings<br>
look just like the door to an old family vault, and then they have brass<br>
tops--that's so stupid!"<br>
<br>
On the other side of the street were also new and neat houses, and they<br>
thought just as the others did; but at the window opposite the old house<br>
there sat a little boy with fresh rosy cheeks and bright beaming eyes:<br>
he certainly liked the old house best, and that both in sunshine and<br>
moonshine. And when he looked across at the wall where the mortar<br>
had fallen out, he could sit and find out there the strangest figures<br>
imaginable; exactly as the street had appeared before, with steps,<br>
projecting windows, and pointed gables; he could see soldiers with<br>
halberds, and spouts where the water ran, like dragons and serpents.<br>
That was a house to look at; and there lived an old man, who wore plush<br>
breeches; and he had a coat with large brass buttons, and a wig that one<br>
could see was a real wig. Every morning there came an old fellow to him<br>
who put his rooms in order, and went on errands; otherwise, the old man<br>
in the plush breeches was quite alone in the old house. Now and then he<br>
came to the window and looked out, and the little boy nodded to him,<br>
and the old man nodded again, and so they became acquaintances, and then<br>
they were friends, although they had never spoken to each other--but<br>
that made no difference. The little boy heard his parents say, "The old<br>
man opposite is very well off, but he is so very, very lonely!"<br>
<br>
The Sunday following, the little boy took something, and wrapped it up<br>
in a piece of paper, went downstairs, and stood in the doorway; and when<br>
the man who went on errands came past, he said to him--<br>
<br>
"I say, master! will you give this to the old man over the way from me?<br>
I have two pewter soldiers--this is one of them, and he shall have it,<br>
for I know he is so very, very lonely."<br>
<br>
And the old errand man looked quite pleased, nodded, and took the pewter<br>
soldier over to the old house. Afterwards there came a message; it was<br>
to ask if the little boy himself had not a wish to come over and pay a<br>
visit; and so he got permission of his parents, and then went over to<br>
the old house.<br>
<br>
And the brass balls on the iron railings shone much brighter than ever;<br>
one would have thought they were polished on account of the visit; and<br>
it was as if the carved-out trumpeters--for there were trumpeters, who<br>
stood in tulips, carved out on the door--blew with all their<br>
might, their cheeks appeared so much rounder than before. Yes, they<br>
blew--"Trateratra! The little boy comes! Trateratra!"--and then the
door<br>
opened.<br>
<br>
The whole passage was hung with portraits of knights in armor, and<br>
ladies in silken gowns; and the armor rattled, and the silken gowns<br>
rustled! And then there was a flight of stairs which went a good way<br>
upwards, and a little way downwards, and then one came on a balcony<br>
which was in a very dilapidated state, sure enough, with large holes and<br>
long crevices, but grass grew there and leaves out of them altogether,<br>
for the whole balcony outside, the yard, and the walls, were overgrown<br>
with so much green stuff, that it looked like a garden; only a balcony.<br>
Here stood old flower-pots with faces and asses' ears, and the flowers<br>
grew just as they liked. One of the pots was quite overrun on all sides<br>
with pinks, that is to say, with the green part; shoot stood by shoot,<br>
and it said quite distinctly, "The air has cherished me, the sun has<br>
kissed me, and promised me a little flower on Sunday! a little flower on<br>
Sunday!"<br>
<br>
And then they entered a chamber where the walls were covered with hog's<br>
leather, and printed with gold flowers.<br>
<br>
&nbsp;&nbsp; "The gilding decays,<br>
&nbsp;&nbsp; But hog's leather stays!"<br>
<br>
said the walls.<br>
<br>
And there stood easy-chairs, with such high backs, and so carved out,<br>
and with arms on both sides. "Sit down! sit down!" said they.
"Ugh! how<br>
I creak; now I shall certainly get the gout, like the old clothespress,<br>
ugh!"<br>
<br>
And then the little boy came into the room where the projecting windows<br>
were, and where the old man sat.<br>
<br>
"I thank you for the pewter soldier, my little friend!" said the old<br>
man. "And I thank you because you come over to me."<br>
<br>
"Thankee! thankee!" or "cranky! cranky!" sounded from all
the furniture;<br>
there was so much of it, that each article stood in the other's way, to<br>
get a look at the little boy.<br>
<br>
In the middle of the wall hung a picture representing a beautiful lady,<br>
so young, so glad, but dressed quite as in former times, with clothes<br>
that stood quite stiff, and with powder in her hair; she neither said<br>
"thankee, thankee!" nor "cranky, cranky!" but looked with
her mild eyes<br>
at the little boy, who directly asked the old man, "Where did you get<br>
her?"<br>
<br>
"Yonder, at the broker's," said the old man, "where there are so
many<br>
pictures hanging. No one knows or cares about them, for they are all of<br>
them buried; but I knew her in by-gone days, and now she has been dead<br>
and gone these fifty years!"<br>
<br>
Under the picture, in a glazed frame, there hung a bouquet of withered<br>
flowers; they were almost fifty years old; they looked so very old!<br>
<br>
The pendulum of the great clock went to and fro, and the hands turned,<br>
and everything in the room became still older; but they did not observe<br>
it.<br>
<br>
"They say at home," said the little boy, "that you are so very,
very<br>
lonely!"<br>
<br>
"Oh!" said he. "The old thoughts, with what they may bring with
them,<br>
come and visit me, and now you also come! I am very well off!"<br>
<br>
Then he took a book with pictures in it down from the shelf; there were<br>
whole long processions and pageants, with the strangest characters,<br>
which one never sees now-a-days; soldiers like the knave of clubs,<br>
and citizens with waving flags: the tailors had theirs, with a pair of<br>
shears held by two lions--and the shoemakers theirs, without boots,<br>
but with an eagle that had two heads, for the shoemakers must have<br>
everything so that they can say, it is a pair! Yes, that was a picture<br>
book!<br>
<br>
The old man now went into the other room to fetch preserves, apples, and<br>
nuts--yes, it was delightful over there in the old house.<br>
<br>
"I cannot bear it any longer!" said the pewter soldier, who sat on
the<br>
drawers. "It is so lonely and melancholy here! But when one has been in<br>
a family circle one cannot accustom oneself to this life! I cannot bear<br>
it any longer! The whole day is so long, and the evenings are still<br>
longer! Here it is not at all as it is over the way at your home, where<br>
your father and mother spoke so pleasantly, and where you and all your<br>
sweet children made such a delightful noise. Nay, how lonely the old man<br>
is--do you think that he gets kisses? Do you think he gets mild eyes,<br>
or a Christmas tree? He will get nothing but a grave! I can bear it no<br>
longer!"<br>
<br>
"You must not let it grieve you so much," said the little boy.
"I find<br>
it so very delightful here, and then all the old thoughts, with what<br>
they may bring with them, they come and visit here."<br>
<br>
"Yes, it's all very well, but I see nothing of them, and I don't know<br>
them!" said the pewter soldier. "I cannot bear it!"<br>
<br>
"But you must!" said the little boy.<br>
<br>
Then in came the old man with the most pleased and happy face, the most<br>
delicious preserves, apples, and nuts, and so the little boy thought no<br>
more about the pewter soldier.<br>
<br>
The little boy returned home happy and pleased, and weeks and days<br>
passed away, and nods were made to the old house, and from the old<br>
house, and then the little boy went over there again.<br>
<br>
The carved trumpeters blew, "Trateratra! There is the little boy!<br>
Trateratra!" and the swords and armor on the knights' portraits rattled,<br>
and the silk gowns rustled; the hog's leather spoke, and the old chairs<br>
had the gout in their legs and rheumatism in their backs: Ugh! it was<br>
exactly like the first time, for over there one day and hour was just<br>
like another.<br>
<br>
"I cannot bear it!" said the pewter soldier. "I have shed pewter
tears!<br>
It is too melancholy! Rather let me go to the wars and lose arms and<br>
legs! It would at least be a change. I cannot bear it longer! Now, I<br>
know what it is to have a visit from one's old thoughts, with what they<br>
may bring with them! I have had a visit from mine, and you may be sure<br>
it is no pleasant thing in the end; I was at last about to jump down<br>
from the drawers.<br>
<br>
"I saw you all over there at home so distinctly, as if you really were<br>
here; it was again that Sunday morning; all you children stood before<br>
the table and sung your Psalms, as you do every morning. You stood<br>
devoutly with folded hands; and father and mother were just as pious;<br>
and then the door was opened, and little sister Mary, who is not two<br>
years old yet, and who always dances when she hears music or singing, of<br>
whatever kind it may be, was put into the room--though she ought not to<br>
have been there--and then she began to dance, but could not keep time,<br>
because the tones were so long; and then she stood, first on the one<br>
leg, and bent her head forwards, and then on the other leg, and bent<br>
her head forwards--but all would not do. You stood very seriously all<br>
together, although it was difficult enough; but I laughed to myself, and<br>
then I fell off the table, and got a bump, which I have still--for it<br>
was not right of me to laugh. But the whole now passes before me again<br>
in thought, and everything that I have lived to see; and these are the<br>
old thoughts, with what they may bring with them.<br>
<br>
"Tell me if you still sing on Sundays? Tell me something about little<br>
Mary! And how my comrade, the other pewter soldier, lives! Yes, he is<br>
happy enough, that's sure! I cannot bear it any longer!"<br>
<br>
"You are given away as a present!" said the little boy. "You
must<br>
remain. Can you not understand that?"<br>
<br>
The old man now came with a drawer, in which there was much to be seen,<br>
both "tin boxes" and "balsam boxes," old cards, so large
and so gilded,<br>
such as one never sees them now. And several drawers were opened, and<br>
the piano was opened; it had landscapes on the inside of the lid, and it<br>
was so hoarse when the old man played on it! and then he hummed a song.<br>
<br>
"Yes, she could sing that!" said he, and nodded to the portrait,
which<br>
he had bought at the broker's, and the old man's eyes shone so bright!<br>
<br>
"I will go to the wars! I will go to the wars!" shouted the pewter<br>
soldier as loud as he could, and threw himself off the drawers right<br>
down on the floor. What became of him? The old man sought, and the<br>
little boy sought; he was away, and he stayed away.<br>
<br>
"I shall find him!" said the old man; but he never found him. The
floor<br>
was too open--the pewter soldier had fallen through a crevice, and there<br>
he lay as in an open tomb.<br>
<br>
That day passed, and the little boy went home, and that week passed,<br>
and several weeks too. The windows were quite frozen, the little boy was<br>
obliged to sit and breathe on them to get a peep-hole over to the old<br>
house, and there the snow had been blown into all the carved work and<br>
inscriptions; it lay quite up over the steps, just as if there was no<br>
one at home--nor was there any one at home--the old man was dead!<br>
<br>
In the evening there was a hearse seen before the door, and he was borne<br>
into it in his coffin: he was now to go out into the country, to lie in<br>
his grave. He was driven out there, but no one followed; all his friends<br>
were dead, and the little boy kissed his hand to the coffin as it was<br>
driven away.<br>
<br>
Some days afterwards there was an auction at the old house, and the<br>
little boy saw from his window how they carried the old knights and the<br>
old ladies away, the flower-pots with the long ears, the old chairs, and<br>
the old clothes-presses. Something came here, and something came there;<br>
the portrait of her who had been found at the broker's came to the<br>
broker's again; and there it hung, for no one knew her more--no one<br>
cared about the old picture.<br>
<br>
In the spring they pulled the house down, for, as people said, it was<br>
a ruin. One could see from the street right into the room with the<br>
hog's-leather hanging, which was slashed and torn; and the green grass<br>
and leaves about the balcony hung quite wild about the falling beams.<br>
And then it was put to rights.<br>
<br>
"That was a relief," said the neighboring houses.<br>
<br>
A fine house was built there, with large windows, and smooth white<br>
walls; but before it, where the old house had in fact stood, was a<br>
little garden laid out, and a wild grapevine ran up the wall of the<br>
neighboring house. Before the garden there was a large iron railing<br>
with an iron door, it looked quite splendid, and people stood still and<br>
peeped in, and the sparrows hung by scores in the vine, and chattered<br>
away at each other as well as they could, but it was not about the old<br>
house, for they could not remember it, so many years had passed--so many<br>
that the little boy had grown up to a whole man, yes, a clever man, and<br>
a pleasure to his parents; and he had just been married, and, together<br>
with his little wife, had come to live in the house here, where the<br>
garden was; and he stood by her there whilst she planted a field-flower<br>
that she found so pretty; she planted it with her little hand, and<br>
pressed the earth around it with her fingers. Oh! what was that? She<br>
had stuck herself. There sat something pointed, straight out of the soft<br>
mould.<br>
<br>
It was--yes, guess! It was the pewter soldier, he that was lost up at<br>
the old man's, and had tumbled and turned about amongst the timber and<br>
the rubbish, and had at last laid for many years in the ground.<br>
<br>
The young wife wiped the dirt off the soldier, first with a green leaf,<br>
and then with her fine handkerchief--it had such a delightful smell,<br>
that it was to the pewter soldier just as if he had awaked from a<br>
trance.<br>
<br>
"Let me see him," said the young man. He laughed, and then shook his<br>
head. "Nay, it cannot be he; but he reminds me of a story about a pewter<br>
soldier which I had when I was a little boy!" And then he told his wife<br>
about the old house, and the old man, and about the pewter soldier that<br>
he sent over to him because he was so very, very lonely; and he told it<br>
as correctly as it had really been, so that the tears came into the eyes<br>
of his young wife, on account of the old house and the old man.<br>
<br>
"It may possibly be, however, that it is the same pewter soldier!"
said<br>
she. "I will take care of it, and remember all that you have told me;<br>
but you must show me the old man's grave!"<br>
<br>
"But I do not know it," said he, "and no one knows it! All his
friends<br>
were dead, no one took care of it, and I was then a little boy!"<br>
<br>
"How very, very lonely he must have been!" said she.<br>
<br>
"Very, very lonely!" said the pewter soldier. "But it is
delightful not<br>
to be forgotten!"<br>
<br>
"Delightful!" shouted something close by; but no one, except the pewter<br>
soldier, saw that it was a piece of the hog's-leather hangings; it had<br>
lost all its gilding, it looked like a piece of wet clay, but it had an<br>
opinion, and it gave it:<br>
<br>
&nbsp;&nbsp; "The gilding decays,<br>
&nbsp;&nbsp; But hog's leather stays!"<br>
<br>
This the pewter soldier did not believe.<br>
    </div>
    <p class="w3-large" id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Describe the old house. What makes it stand out from the other houses in the street?</p>
        <p>2. Who lived in the old house, and why did the little boy feel connected to it?</p>
        <p>3. What happened to the pewter soldier, and how did he end up in the young man's garden?</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The old house is almost three hundred years old, with a great beam displaying the date. It has verses, tulips, and hop-binds carved on it. Distorted faces are cut out over every window. The one story stands far forward, with a leaden spout shaped like a dragon. It's unique with its aged appearance, unlike the new and neat houses in the street.</p>
        <p>2. An old man lived in the old house. The little boy felt connected to it because, from his window, he could see the old man, and they became friends. The little boy observed the old house with fascination, enjoying the presence of the old man and his connection to the past.</p>
        <p>3. The pewter soldier fell through a crevice in the floor and was lost in the old house. After many years, during the construction of a new house on the same spot, the soldier was discovered in the garden. The young man, now married and living in the new house, found the pewter soldier when his wife was planting flowers, bringing back memories of the old man and the past.</p>
    </div>
</div>


<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}


</script>
{% endblock %}