{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER IV. Tweedledum And Tweedledee - Part 1</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>They were standing under a tree, each with an arm round the other's neck, and Alice knew which was which in a moment, because one of them had 'DUM' embroidered on his collar, and the other 'DEE.' 'I suppose they've each got "TWEEDLE" round at the back of the collar,' she said to herself.</p>
<p>They stood so still that she quite forgot they were alive, and she was just looking round to see if the word "TWEEDLE" was written at the back of each collar, when she was startled by a voice coming from the one marked 'DUM.'</p>
<p>'If you think we're wax-works,' he said, 'you ought to pay, you know. Wax-works weren't made to be looked at for nothing, nohow!'</p>
<p>'Contrariwise,' added the one marked 'DEE,' 'if you think we're alive, you ought to speak.'</p>
<p>'I'm sure I'm very sorry,' was all Alice could say; for the words of the old song kept ringing through her head like the ticking of a clock, and she could hardly help saying them out loud:--</p>
        <p style="text-align:center;">Tweedledum and Tweedledee</p>
<p style="text-align:center;">Agreed to have a battle;</p>
<p style="text-align:center;">For Tweedledum said Tweedledee</p>
<p style="text-align:center;">Had spoiled his nice new rattle.</p>
<p style="text-align:center;"></p>
<p style="text-align:center;">Just then flew down a monstrous crow,</p>
<p style="text-align:center;">As black as a tar-barrel;</p>
<p style="text-align:center;">Which frightened both the heroes so,</p>
<p style="text-align:center;">They quite forgot their quarrel.</p>
        <p>'I know what you're thinking about,' said Tweedledum: 'but it isn't so,
nohow.'</p>
<p>'Contrariwise,' continued Tweedledee, 'if it was so, it might be; and if
it were so, it would be; but as it isn't, it ain't. That's logic.'</p>
<p>'I was thinking,' Alice said very politely, 'which is the best way out
of this wood: it's getting so dark. Would you tell me, please?'</p>
<p>But the little men only looked at each other and grinned.</p>
<p>They looked so exactly like a couple of great schoolboys, that Alice
couldn't help pointing her finger at Tweedledum, and saying 'First Boy!'</p>
<p>'Nohow!' Tweedledum cried out briskly, and shut his mouth up again with
a snap.</p>
<p>'Next Boy!' said Alice, passing on to Tweedledee, though she felt quite
certain he would only shout out 'Contrariwise!' and so he did.</p>
<p>'You've been wrong!' cried Tweedledum. 'The first thing in a visit is to
say "How d'ye do?" and shake hands!' And here the two brothers gave each
other a hug, and then they held out the two hands that were free, to
shake hands with her.</p>
<p>Alice did not like shaking hands with either of them first, for fear
of hurting the other one's feelings; so, as the best way out of the
difficulty, she took hold of both hands at once: the next moment they
were dancing round in a ring. This seemed quite natural (she remembered
afterwards), and she was not even surprised to hear music playing: it
seemed to come from the tree under which they were dancing, and it was
done (as well as she could make it out) by the branches rubbing one
across the other, like fiddles and fiddle-sticks.</p>
<p>'But it certainly WAS funny,' (Alice said afterwards, when she was
telling her sister the history of all this,) 'to find myself singing
"HERE WE GO ROUND THE MULBERRY BUSH." I don't know when I began it, but somehow I felt as if I'd been singing it a long long time!'</p>
<p>The other two dancers were fat, and very soon out of breath. 'Four times
round is enough for one dance,' Tweedledum panted out, and they left
off dancing as suddenly as they had begun: the music stopped at the same
moment.</p>
<p>Then they let go of Alice's hands, and stood looking at her for a
minute: there was a rather awkward pause, as Alice didn't know how to
begin a conversation with people she had just been dancing with. 'It
would never do to say "How d'ye do?" NOW,' she said to herself: 'we seem
to have got beyond that, somehow!'</p>
        <p>'I hope you're not much tired?' she said at last.</p>
<p>'Nohow. And thank you VERY much for asking,' said Tweedledum.</p>
<p>'So much obliged!' added Tweedledee. 'You like poetry?'</p>
<p>'Ye-es, pretty well--SOME poetry,' Alice said doubtfully. 'Would you
tell me which road leads out of the wood?'</p>
<p>'What shall I repeat to her?' said Tweedledee, looking round at
Tweedledum with great solemn eyes, and not noticing Alice's question.</p>
<p>'"THE WALRUS AND THE CARPENTER" is the longest,' Tweedledum replied,
giving his brother an affectionate hug.</p>
<p>Tweedledee began instantly:</p>
<p>       'The sun was shining--'</p>
<p>Here Alice ventured to interrupt him. 'If it's VERY long,' she said, as
politely as she could, 'would you please tell me first which road--'</p>
<p>Tweedledee smiled gently, and began again:</p>
        <p>'The sun was shining on the sea,</p>
<p>'Shining with all his might:</p>
<p>'He did his very best to make</p>
<p>'The billows smooth and bright—</p>
<p>'And this was odd, because it was</p>
<p>'The middle of the night.</p>
<br>
<p>'The moon was shining sulkily,</p>
<p>'Because she thought the sun</p>
<p>'Had got no business to be there</p>
<p>'After the day was done—</p>
<p>'"It's very rude of him," she said,</p>
<p>'"To come and spoil the fun!"</p>
<br>
<p>'The sea was wet as wet could be,</p>
<p>'The sands were dry as dry.</p>
<p>'You could not see a cloud, because</p>
<p>'No cloud was in the sky:</p>
<p>'No birds were flying overhead—</p>
<p>'There were no birds to fly.</p>
<br>
<p>'The Walrus and the Carpenter</p>
<p>'Were walking close at hand;</p>
<p>'They wept like anything to see</p>
<p>'Such quantities of sand:</p>
<p>'"If this were only cleared away,"</p>
<p>'They said, "it would be grand!"</p>
<br>
<p>'"If seven maids with seven mops</p>
<p>'Swept it for half a year,</p>
<p>'Do you suppose," the Walrus said,</p>
<p>'"That they could get it clear?"</p>
<p>'"I doubt it," said the Carpenter,</p>
<p>'And shed a bitter tear.</p>
<br>
<p>'"O Oysters, come and walk with us!"</p>
<p>'The Walrus did beseech.</p>
<p>'"A pleasant walk, a pleasant talk,</p>
<p>'Along the briny beach:</p>
<p>'We cannot do with more than four,</p>
<p>'To give a hand to each."</p>
<br>
<p>'The eldest Oyster looked at him,</p>
<p>'But never a word he said:</p>
<p>'The eldest Oyster winked his eye,</p>
<p>'And shook his heavy head—</p>
<p>'Meaning to say he did not choose</p>
<p>'To leave the oyster-bed.</p>
<br>
<p>'But four young oysters hurried up,</p>
<p>'All eager for the treat:</p>
<p>'Their coats were brushed, their faces washed,</p>
<p>'Their shoes were clean and neat—</p>
<p>'And this was odd, because, you know,</p>
<p>'They hadn't any feet.</p>
<br>
<p>'Four other Oysters followed them,</p>
<p>'And yet another four;</p>
<p>'And thick and fast they came at last,</p>
<p>'And more, and more, and more—</p>
<p>'All hopping through the frothy waves,</p>
<p>'And scrambling to the shore.</p>
<br>
<p>'The Walrus and the Carpenter</p>
<p>'Walked on a mile or so,</p>
<p>'And then they rested on a rock</p>
<p>'Conveniently low:</p>
<p>'And all the little Oysters stood</p>
<p>'And waited in a row.</p>
<br>
<p>'"The time has come," the Walrus said,</p>
<p>'"To talk of many things:</p>
        <p>Of shoes--and ships--and sealing-wax--</p>
<p>Of cabbages--and kings--</p>
<p>And why the sea is boiling hot--</p>
<p>And whether pigs have wings."</p>
<p>"But wait a bit," the Oysters cried,</p>
<p>"Before we have our chat;</p>
<p>For some of us are out of breath,</p>
<p>And all of us are fat!"</p>
<p>"No hurry!" said the Carpenter.</p>
<p>They thanked him much for that.</p>
<p>"A loaf of bread," the Walrus said,</p>
<p>"Is what we chiefly need:</p>
<p>Pepper and vinegar besides</p>
<p>Are very good indeed--</p>
<p>Now if you're ready Oysters dear,</p>
<p>We can begin to feed."</p>
<p>"But not on us!" the Oysters cried,</p>
<p>Turning a little blue,</p>
<p>"After such kindness, that would be</p>
<p>A dismal thing to do!"</p>
<p>"The night is fine," the Walrus said</p>
<p>"Do you admire the view?</p>
<p>"It was so kind of you to come!</p>
<p>And you are very nice!"</p>
<p>The Carpenter said nothing but</p>
<p>"Cut us another slice:</p>
<p>I wish you were not quite so deaf--</p>
<p>I've had to ask you twice!"</p>
<p>"It seems a shame," the Walrus said,</p>
<p>"To play them such a trick,</p>
<p>After we've brought them out so far,</p>
<p>And made them trot so quick!"</p>
<p>The Carpenter said nothing but</p>
<p>"The butter's spread too thick!"</p>
<p>"I weep for you," the Walrus said.</p>
<p>"I deeply sympathize."</p>
<p>With sobs and tears he sorted out</p>
<p>Those of the largest size.</p>
<p>Holding his pocket handkerchief</p>
<p>Before his streaming eyes.</p>
<p>"O Oysters," said the Carpenter.</p>
<p>"You've had a pleasant run!</p>
<p>Shall we be trotting home again?"</p>
<p>But answer came there none--</p>
<p>And that was scarcely odd, because</p>
<p>They'd eaten every one.</p>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did Alice can tell who Tweedledee is and who Tweedledum is?</p>
        <p>2. In the first poem, what were Tweedledee and Tweedledum doing when the black crow flew down?</p>
        <p>3. What does briskly mean? Make a sentence.</p>
        <p>4. When the brothers reach out their hands, Alice didn’t want to shake their hands, but she did, why?</p>
        <p>5. What did Alice and the two brother do together? Did Alice tell anyone what happened afterward? Who did she tell?</p>
        <p>6. What did Alice want to find out from these two brothers?</p>
        <p>7. In the poem, what objects were mentioned? Can you list a few?</p>
        <p>8. Can you find words that rhyme in the poem?</p>
        <p>9. Can you highlight the adjectives in the poem? And research the definition for those you don’t know?</p>
        <p>10. What was the poem about? In the end what happen to the Oysters?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Alice could tell who Tweedledee is and who Tweedledum is because one of them had "DUM" embroidered on his collar, and the other had "DEE," and she supposed that they each had "TWEEDLE" written at the back of their collars.</p>
        <p>2. In the first poem, Tweedledee and Tweedledum were having a battle, and the cause of the fight was that Tweedledum claimed that Tweedledee had spoiled his nice new rattle. However, they both forgot their quarrel when a monstrous black crow flew down, scaring them both.</p>
        <p>3. Briskly means quickly and energetically. Example sentence: The dog ran briskly through the park, chasing after the ball.</p>
        <p>4. Alice shook the brothers' hands because they offered them to her and it would have been impolite to refuse.</p>
        <p>5. Alice danced with the two brothers, but they soon got tired and stopped. They then had a conversation about poetry and Alice asked them for directions out of the wood. Alice didn't tell anyone about the encounter.</p>
        <p>6. Alice wanted to find out which road led out of the wood.</p>
        <p>7. In the poem, the sun, the moon, the sea, the sand, the Walrus, and the Carpenter were mentioned.</p>
    </div>
</div>


<!-- Reading Section 2 -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER IV. Tweedledum And Tweedledee - Part 2</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
       <p>'I like the Walrus best,' said Alice: 'because you see he was a LITTLE
sorry for the poor oysters.'</p>
<p>'He ate more than the Carpenter, though,' said Tweedledee. 'You see he
held his handkerchief in front, so that the Carpenter couldn't count how
many he took: contrariwise.'</p>
<p>'That was mean!' Alice said indignantly. 'Then I like the Carpenter
best--if he didn't eat so many as the Walrus.'</p>
<p>'But he ate as many as he could get,' said Tweedledum.</p>
<p>This was a puzzler. After a pause, Alice began, 'Well! They were BOTH
very unpleasant characters--' Here she checked herself in some alarm,
at hearing something that sounded to her like the puffing of a large
steam-engine in the wood near them, though she feared it was more likely
to be a wild beast. 'Are there any lions or tigers about here?' she
asked timidly.</p>
<p>'It's only the Red King snoring,' said Tweedledee.</p>
<p>'Come and look at him!' the brothers cried, and they each took one of
Alice's hands, and led her up to where the King was sleeping.</p>
<p>'Isn't he a LOVELY sight?' said Tweedledum.</p>
<p>Alice couldn't say honestly that he was. He had a tall red night-cap on,
with a tassel, and he was lying crumpled up into a sort of untidy heap,
and snoring loud--'fit to snore his head off!' as Tweedledum remarked.</p>
<p>'I'm afraid he'll catch cold with lying on the damp grass,' said Alice,
who was a very thoughtful little girl.</p>
<p>'He's dreaming now,' said Tweedledee: 'and what do you think he's
dreaming about?'</p>
<p>Alice said 'Nobody can guess that.'</p>
<p>'Why, about YOU!' Tweedledee exclaimed, clapping his hands triumphantly.
'And if he left off dreaming about you, where do you suppose you'd be?'</p>
<p>'Where I am now, of course,' said Alice.</p>
        <p>'Not you!' Tweedledee retorted contemptuously. 'You'd be nowhere. Why,
you're only a sort of thing in his dream!'</p>
<p>'If that there King was to wake,' added Tweedledum, 'you'd go
out--bang!--just like a candle!'</p>
<p>'I shouldn't!' Alice exclaimed indignantly. 'Besides, if I'M only a sort
of thing in his dream, what are YOU, I should like to know?'</p>
<p>'Ditto' said Tweedledum.</p>
<p>'Ditto, ditto' cried Tweedledee.</p>
<p>He shouted this so loud that Alice couldn't help saying, 'Hush! You'll
be waking him, I'm afraid, if you make so much noise.'</p>
<p>'Well, it no use YOUR talking about waking him,' said Tweedledum, 'when
you're only one of the things in his dream. You know very well you're
not real.'</p>
<p>'I AM real!' said Alice and began to cry.</p>
<p>'You won't make yourself a bit realler by crying,' Tweedledee remarked:
'there's nothing to cry about.'</p>
<p>'If I wasn't real,' Alice said--half-laughing through her tears, it all
seemed so ridiculous--'I shouldn't be able to cry.'</p>
<p>'I hope you don't suppose those are real tears?' Tweedledum interrupted
in a tone of great contempt.</p>
<p>'I know they're talking nonsense,' Alice thought to herself: 'and it's
foolish to cry about it.' So she brushed away her tears, and went on as
cheerfully as she could. 'At any rate I'd better be getting out of the
wood, for really it's coming on very dark. Do you think it's going to
rain?'</p>
<p>Tweedledum spread a large umbrella over himself and his brother, and
looked up into it. 'No, I don't think it is,' he said: 'at least--not
under HERE. Nohow.'</p>
<p>'But it may rain OUTSIDE?'</p>
<p>'It may--if it chooses,' said Tweedledee: 'we've no objection.
Contrariwise.'</p>
<p>'Selfish things!' thought Alice, and she was just going to say
'Good-night' and leave them, when Tweedledum sprang out from under the
umbrella and seized her by the wrist.</p>
        <p>'Do you see THAT?' he said, in a voice choking with passion, and
his eyes grew large and yellow all in a moment, as he pointed with a
trembling finger at a small white thing lying under the tree.</p>
<p>'It's only a rattle,' Alice said, after a careful examination of the
little white thing. 'Not a rattleSNAKE, you know,' she added hastily,
thinking that he was frightened: 'only an old rattle--quite old and
broken.'</p>
<p>'I knew it was!' cried Tweedledum, beginning to stamp about wildly and
tear his hair. 'It's spoilt, of course!' Here he looked at Tweedledee,
who immediately sat down on the ground, and tried to hide himself under
the umbrella.</p>
<p>Alice laid her hand upon his arm, and said in a soothing tone, 'You
needn't be so angry about an old rattle.'</p>
<p>'But it isn't old!' Tweedledum cried, in a greater fury than ever. 'It's
new, I tell you--I bought it yesterday--my nice new RATTLE!' and his
voice rose to a perfect scream.</p>
<p>All this time Tweedledee was trying his best to fold up the umbrella,
with himself in it: which was such an extraordinary thing to do, that it
quite took off Alice's attention from the angry brother. But he couldn't
quite succeed, and it ended in his rolling over, bundled up in the
umbrella, with only his head out: and there he lay, opening and shutting
his mouth and his large eyes--'looking more like a fish than anything
else,' Alice thought.</p>
<p>'Of course you agree to have a battle?' Tweedledum said in a calmer
tone.</p>
<p>'I suppose so,' the other sulkily replied, as he crawled out of the
umbrella: 'only SHE must help us to dress up, you know.'</p>
<p>So the two brothers went off hand-in-hand into the wood, and returned
in a minute with their arms full of things--such as bolsters, blankets,
hearth-rugs, table-cloths, dish-covers and coal-scuttles. 'I hope you're
a good hand at pinning and tying strings?' Tweedledum remarked. 'Every
one of these things has got to go on, somehow or other.'</p>
        <p>Alice said afterwards she had never seen such a fuss made about anything
in all her life--the way those two bustled about--and the quantity of
things they put on--and the trouble they gave her in tying strings and
fastening buttons--'Really they'll be more like bundles of old clothes
than anything else, by the time they're ready!' she said to herself, as
she arranged a bolster round the neck of Tweedledee, 'to keep his head
from being cut off,' as he said.</p>
<p>'You know,' he added very gravely, 'it's one of the most serious things
that can possibly happen to one in a battle--to get one's head cut off.'</p>
<p>Alice laughed aloud: but she managed to turn it into a cough, for fear
of hurting his feelings.</p>
<p>'Do I look very pale?' said Tweedledum, coming up to have his helmet
tied on. (He CALLED it a helmet, though it certainly looked much more
like a saucepan.)</p>
<p>'Well--yes--a LITTLE,' Alice replied gently.</p>
<p>'I'm very brave generally,' he went on in a low voice: 'only to-day I
happen to have a headache.'</p>
<p>'And I'VE got a toothache!' said Tweedledee, who had overheard the
remark. 'I'm far worse off than you!'</p>
<p>'Then you'd better not fight to-day,' said Alice, thinking it a good
opportunity to make peace.</p>
<p>'We MUST have a bit of a fight, but I don't care about going on long,'
said Tweedledum. 'What's the time now?'</p>
<p>Tweedledee looked at his watch, and said 'Half-past four.'</p>
<p>'Let's fight till six, and then have dinner,' said Tweedledum.</p>
<p>'Very well,' the other said, rather sadly: 'and SHE can watch us--only
you'd better not come VERY close,' he added: 'I generally hit everything
I can see--when I get really excited.'</p>
<p>'And _I_ hit everything within reach,' cried Tweedledum, 'whether I can
see it or not!'</p>
<p>Alice laughed. 'You must hit the TREES pretty often, I should think,'
she said.</p>
        <p>Tweedledum looked round him with a satisfied smile. 'I don't suppose,' he said, 'there'll be a tree left standing, for ever so far round, by the time we've finished!'</p>
<p>'And all about a rattle!' said Alice, still hoping to make them a LITTLE ashamed of fighting for such a trifle.</p>
<p>'I shouldn't have minded it so much,' said Tweedledum, 'if it hadn't been a new one.'</p>
<p>'I wish the monstrous crow would come!' thought Alice.</p>
<p>'There's only one sword, you know,' Tweedledum said to his brother: 'but you can have the umbrella--it's quite as sharp. Only we must begin quick. It's getting as dark as it can.'</p>
<p>'And darker,' said Tweedledee.</p>
<p>It was getting dark so suddenly that Alice thought there must be a thunderstorm coming on. 'What a thick black cloud that is!' she said. 'And how fast it comes! Why, I do believe it's got wings!'</p>
<p>'It's the crow!' Tweedledum cried out in a shrill voice of alarm: and the two brothers took to their heels and were out of sight in a moment.</p>
<p>Alice ran a little way into the wood, and stopped under a large tree. 'It can never get at me HERE,' she thought: 'it's far too large to squeeze itself in among the trees. But I wish it wouldn't flap its wings so--it makes quite a hurricane in the wood--here's somebody's shawl being blown away!'</p>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Who ate the most Oysters?</p>
        <p>2. Why did Alice think the Walrus is mean?</p>
        <p>3. Suddenly, Alice heard a sound like a puffing engine, what was that?</p>
        <p>4. Why did Alice cry?</p>
        <p>5. Why did Alice think the brothers are selfish?</p>
        <p>6. What was the white thing lying under the tree? Why was Tweedledum angry?</p>
        <p>7. What was Alice helping the brothers do? Did Tweedledum wear a real helmet? If not, what was that?</p>
        <p>8. What did the two brothers fight each other for? According to the brothers, how long did they plan to fight?</p>
        <p>9. Why suddenly got so dark?</p>
        <p>10. What was this passage about? Can you summarise in a few sentences?</p>
        <p>11. Where did Alice hide?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The Walrus ate the most oysters, but he covered it up with his handkerchief so the Carpenter couldn't count them.</p>
        <p>2. Alice thought the Walrus was mean because he ate more oysters than the Carpenter and didn't seem to care about their feelings.</p>
        <p>3. Alice heard a sound that she thought was a puffing engine in the wood near them, but it turned out to be the snoring of the Red King.</p>
        <p>4. Alice cried because Tweedledum told her that she is not real, and she thought it was ridiculous.</p>
        <p>5. Alice thought the brothers were selfish because they didn't share their umbrella with her, and they were only concerned about themselves.</p>
        <p>6. The white thing lying under the tree was a small white rattle. Tweedledum was angry because he thought it was new and he had bought it yesterday, but it was actually old and broken.</p>
        <p>7. Alice was trying to leave the brothers, but Tweedledum grabbed her wrist and showed her the rattle. Alice tried to calm him down by telling him it was only an old rattle. Tweedledum was not wearing a real helmet; he had a paper crown on his head.</p>
        <p>8. The two brothers, Tweedledum and Tweedledee, fought each other. They planned to fight until six o'clock and then have dinner.</p>
        <p>9. It suddenly got dark because a crow flew over and blocked the sun.</p>
        <p>10. The passage is about Alice encountering Tweedledum and Tweedledee, who are preparing to have a battle. Alice helps the brothers get dressed in various household items for protection. During the battle, Alice hides behind a tree and watches the brothers fight until they tire themselves out. </p>
        <p>11. Alice hid under a large tree in the wood. </p>
    </div>

</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}
</script>
{% endblock %}