{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER VII. The Lion and the Unicorn - Part 1</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
      <p>The next moment soldiers came running through the wood, at first in twos
and threes, then ten or twenty together, and at last in such crowds that
they seemed to fill the whole forest. Alice got behind a tree, for fear
of being run over, and watched them go by.</p>
<p>She thought that in all her life she had never seen soldiers so
uncertain on their feet: they were always tripping over something or
other, and whenever one went down, several more always fell over him, so
that the ground was soon covered with little heaps of men.</p>
<p>Then came the horses. Having four feet, these managed rather better than
the foot-soldiers: but even THEY stumbled now and then; and it seemed
to be a regular rule that, whenever a horse stumbled the rider fell off
instantly. The confusion got worse every moment, and Alice was very glad
to get out of the wood into an open place, where she found the White
King seated on the ground, busily writing in his memorandum-book.</p>
<p>'I've sent them all!' the King cried in a tone of delight, on seeing
Alice. 'Did you happen to meet any soldiers, my dear, as you came
through the wood?'</p>
<p>'Yes, I did,' said Alice: 'several thousand, I should think.'</p>
<p>'Four thousand two hundred and seven, that's the exact number,' the King
said, referring to his book. 'I couldn't send all the horses, you know,
because two of them are wanted in the game. And I haven't sent the two
Messengers, either. They're both gone to the town. Just look along the
road, and tell me if you can see either of them.'</p>
<p>'I see nobody on the road,' said Alice.</p>
<p>'I only wish _I_ had such eyes,' the King remarked in a fretful tone.
'To be able to see Nobody! And at that distance, too! Why, it's as much
as _I_ can do to see real people, by this light!'</p>
<p>All this was lost on Alice, who was still looking intently along
the road, shading her eyes with one hand. 'I see somebody now!' she
exclaimed at last. 'But he's coming very slowly--and what curious
attitudes he goes into!' (For the messenger kept skipping up and down,
and wriggling like an eel, as he came along, with his great hands spread
out like fans on each side.)</p>
        <p>'Not at all,' said the King. 'He's an Anglo-Saxon Messenger--and those are Anglo-Saxon attitudes. He only does them when he's happy. His name is Haigha.' (He pronounced it so as to rhyme with 'mayor.')</p>
<p>'I love my love with an H,' Alice couldn't help beginning, 'because he is Happy. I hate him with an H, because he is Hideous. I fed him with--with--with Ham-sandwiches and Hay. His name is Haigha, and he lives--'</p>
<p>'He lives on the Hill,' the King remarked simply, without the least idea that he was joining in the game, while Alice was still hesitating for the name of a town beginning with H. 'The other Messenger's called Hatta. I must have TWO, you know--to come and go. One to come, and one to go.'</p>
<p>'I beg your pardon?' said Alice.</p>
<p>'It isn't respectable to beg,' said the King.</p>
<p>'I only meant that I didn't understand,' said Alice. 'Why one to come and one to go?'</p>
<p>'Didn't I tell you?' the King repeated impatiently. 'I must have Two--to fetch and carry. One to fetch, and one to carry.'</p>
<p>At this moment the Messenger arrived: he was far too much out of breath to say a word, and could only wave his hands about, and make the most fearful faces at the poor King.</p>
<p>'This young lady loves you with an H,' the King said, introducing Alice in the hope of turning off the Messenger's attention from himself--but it was no use--the Anglo-Saxon attitudes only got more extraordinary every moment, while the great eyes rolled wildly from side to side.</p>
<p>'You alarm me!' said the King. 'I feel faint--Give me a ham sandwich!'</p>
<p>On which the Messenger, to Alice's great amusement, opened a bag that hung round his neck, and handed a sandwich to the King, who devoured it greedily.</p>
<p>'Another sandwich!' said the King.</p>
<p>'There's nothing but hay left now,' the Messenger said, peeping into the bag.</p>
        <p>'Hay, then,' the King murmured in a faint whisper.</p>
<p>Alice was glad to see that it revived him a good deal. 'There's nothing
like eating hay when you're faint,' he remarked to her, as he munched
away.</p>
<p>'I should think throwing cold water over you would be better,' Alice
suggested: 'or some sal-volatile.'</p>
<p>'I didn't say there was nothing BETTER,' the King replied. 'I said there
was nothing LIKE it.' Which Alice did not venture to deny.</p>
<p>'Who did you pass on the road?' the King went on, holding out his hand
to the Messenger for some more hay.</p>
<p>'Nobody,' said the Messenger.</p>
<p>'Quite right,' said the King: 'this young lady saw him too. So of course
Nobody walks slower than you.'</p>
<p>'I do my best,' the Messenger said in a sulky tone. 'I'm sure nobody
walks much faster than I do!'</p>
<p>'He can't do that,' said the King, 'or else he'd have been here first.
However, now you've got your breath, you may tell us what's happened in
the town.'</p>
<p>'I'll whisper it,' said the Messenger, putting his hands to his mouth
in the shape of a trumpet, and stooping so as to get close to the King's
ear. Alice was sorry for this, as she wanted to hear the news too.
However, instead of whispering, he simply shouted at the top of his
voice 'They're at it again!'</p>
<p>'Do you call THAT a whisper?' cried the poor King, jumping up and
shaking himself. 'If you do such a thing again, I'll have you buttered!
It went through and through my head like an earthquake!'</p>
<p>'It would have to be a very tiny earthquake!' thought Alice. 'Who are at
it again?' she ventured to ask.</p>
<p>'Why the Lion and the Unicorn, of course,' said the King.</p>
<p>'Fighting for the crown?'</p>
        <p>'Yes, to be sure,' said the King: 'and the best of the joke is, that
it's MY crown all the while! Let's run and see them.' And they trotted
off, Alice repeating to herself, as she ran, the words of the old
song:--</p>
<p>   'The Lion and the Unicorn were fighting for the crown:
   The Lion beat the Unicorn all round the town.
   Some gave them white bread, some gave them brown;
   Some gave them plum-cake and drummed them out of town.'</p>
<p>'Does--the one--that wins--get the crown?' she asked, as well as she
could, for the run was putting her quite out of breath.</p>
<p>'Dear me, no!' said the King. 'What an idea!'</p>
<p>'Would you--be good enough,' Alice panted out, after running a little
further, 'to stop a minute--just to get--one's breath again?'</p>
<p>'I'm GOOD enough,' the King said, 'only I'm not strong enough. You see,
a minute goes by so fearfully quick. You might as well try to stop a
Bandersnatch!'</p>
<p>Alice had no more breath for talking, so they trotted on in silence,
till they came in sight of a great crowd, in the middle of which the
Lion and Unicorn were fighting. They were in such a cloud of dust, that
at first Alice could not make out which was which: but she soon managed
to distinguish the Unicorn by his horn.</p>
<p>They placed themselves close to where Hatta, the other messenger, was
standing watching the fight, with a cup of tea in one hand and a piece
of bread-and-butter in the other.</p>
        <p>'He's only just out of prison, and he hadn't finished his tea when
he was sent in,' Haigha whispered to Alice: 'and they only give them
oyster-shells in there--so you see he's very hungry and thirsty. How
are you, dear child?' he went on, putting his arm affectionately round
Hatta's neck.</p>
<p>Hatta looked round and nodded, and went on with his bread and butter.</p>
<p>'Were you happy in prison, dear child?' said Haigha.</p>
<p>Hatta looked round once more, and this time a tear or two trickled down
his cheek: but not a word would he say.</p>
<p>'Speak, can't you!' Haigha cried impatiently. But Hatta only munched
away, and drank some more tea.</p>
<p>'Speak, won't you!' cried the King. 'How are they getting on with the
fight?'</p>
<p>Hatta made a desperate effort, and swallowed a large piece of
bread-and-butter. 'They're getting on very well,' he said in a choking
voice: 'each of them has been down about eighty-seven times.'</p>
<p>'Then I suppose they'll soon bring the white bread and the brown?' Alice
ventured to remark.</p>
<p>'It's waiting for 'em now,' said Hatta: 'this is a bit of it as I'm
eating.'</p>
<p>There was a pause in the fight just then, and the Lion and the Unicorn
sat down, panting, while the King called out 'Ten minutes allowed for
refreshments!' Haigha and Hatta set to work at once, carrying rough
trays of white and brown bread. Alice took a piece to taste, but it was
VERY dry.</p>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Who were coming through the woods? What was so strange about them?</p>
        <p>2. How many soldiers did the white king say?</p>
        <p>3. Where did the king send the messengers to?</p>
        <p>4. What does fretful mean? Make a sentence with it.</p>
        <p>5. What are the 2 messengers’ name? Why did the king need to have two of them?</p>
        <p>6. What did the king ask his messenger to give him?</p>
        <p>7. What did the messenger tell the king? Why did the king get angry at first?</p>
        <p>8. Alice trotted with the king, who did she saw fighting to each other?</p>
        <p>9. Why couldn’t Alice tell which was which?</p>
        <p>10. The lion and unicorn took a break for refreshment, what did they eat?</p>
        <p>11. Can you summarise this part of the passage?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Soldiers were coming through the woods. They were uncertain on their feet and always tripping over something or other, causing several more soldiers to fall over them, resulting in little heaps of men on the ground.</p>
        <p>2. The White King said that there were 4,207 soldiers.</p>
        <p>3. The king sent the messengers to the town.</p>
        <p>4. Fretful means feeling or expressing distress or irritation. Example sentence: The baby was fretful and couldn't seem to stop crying.</p>
        <p>5. The two messengers’ names are Haigha and Hatta. The king needed to have two of them because one messenger would come and the other would  go.</p>
        <p>6. The King asked his messenger to give him a ham sandwich.</p>
        <p>7. The messenger told the king that the Lion and the Unicorn were getting on well with the fight, and that they were each down about eighty-seven times. At first, the king got angry because he thought the messenger was not answering his question about Hatta's time in prison.</p>
        <p>8. Alice saw the Lion and the Unicorn fighting each other.</p>
        <p>9. Alice couldn't tell which was which because they were in a cloud of dust, but she soon managed to distinguish the Unicorn by his horn.</p>
        <p>10. The Lion and the Unicorn ate white and brown bread for refreshment.</p>
        <p>11. Alice trotted with the king to see the Lion and the Unicorn fighting for the crown. They met Hatta, who had just come out of prison, and was hungry and thirsty. The fight was fierce, and both animals had been down about eighty-seven times. The Lion and the Unicorn took a break for refreshment, and Alice tasted a piece of bread, which was very dry.</p>
    </div>
</div>



<!-- Reading Section 2 -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER VII. The Lion and the Unicorn - Part 2</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
       <p>'I don't think they'll fight any more to-day,' the King said to Hatta:
'go and order the drums to begin.' And Hatta went bounding away like a
grasshopper.</p>
<p>For a minute or two Alice stood silent, watching him. Suddenly she
brightened up. 'Look, look!' she cried, pointing eagerly. 'There's the
White Queen running across the country! She came flying out of the wood
over yonder--How fast those Queens CAN run!'</p>
<p>'There's some enemy after her, no doubt,' the King said, without even
looking round. 'That wood's full of them.'</p>
<p>'But aren't you going to run and help her?' Alice asked, very much
surprised at his taking it so quietly.</p>
<p>'No use, no use!' said the King. 'She runs so fearfully quick. You might
as well try to catch a Bandersnatch! But I'll make a memorandum about
her, if you like--She's a dear good creature,' he repeated softly to
himself, as he opened his memorandum-book. 'Do you spell "creature" with
a double "e"?' </p>
<p>At this moment the Unicorn sauntered by them, with his hands in his
pockets. 'I had the best of it this time?' he said to the King, just
glancing at him as he passed.</p>
<p>'A little--a little,' the King replied, rather nervously. 'You shouldn't
have run him through with your horn, you know.'</p>
<p>'It didn't hurt him,' the Unicorn said carelessly, and he was going
on, when his eye happened to fall upon Alice: he turned round rather
instantly, and stood for some time looking at her with an air of the
deepest disgust.</p>
<p>'What--is--this?' he said at last.</p>
        <p>'This is a child!' Haigha replied eagerly, coming in front of Alice
to introduce her, and spreading out both his hands towards her in an
Anglo-Saxon attitude. 'We only found it to-day. It's as large as life,
and twice as natural!'</p>
<p>'I always thought they were fabulous monsters!' said the Unicorn. 'Is it
alive?'</p>
<p>'It can talk,' said Haigha, solemnly.</p>
<p>The Unicorn looked dreamily at Alice, and said 'Talk, child.'</p>
<p>Alice could not help her lips curling up into a smile as she began: 'Do
you know, I always thought Unicorns were fabulous monsters, too! I never
saw one alive before!'</p>
<p>'Well, now that we HAVE seen each other,' said the Unicorn, 'if you'll
believe in me, I'll believe in you. Is that a bargain?'</p>
<p>'Yes, if you like,' said Alice.</p>
<p>'Come, fetch out the plum-cake, old man!' the Unicorn went on, turning
from her to the King. 'None of your brown bread for me!'</p>
<p>'Certainly--certainly!' the King muttered, and beckoned to Haigha. 'Open
the bag!' he whispered. 'Quick! Not that one--that's full of hay!'</p>
<p>Haigha took a large cake out of the bag, and gave it to Alice to hold,
while he got out a dish and carving-knife. How they all came out of it
Alice couldn't guess. It was just like a conjuring-trick, she thought.</p>
<p>The Lion had joined them while this was going on: he looked very
tired and sleepy, and his eyes were half shut. 'What's this!' he said,
blinking lazily at Alice, and speaking in a deep hollow tone that
sounded like the tolling of a great bell.</p>
<p>'Ah, what IS it, now?' the Unicorn cried eagerly. 'You'll never guess!
_I_ couldn't.'</p>
<p>The Lion looked at Alice wearily. 'Are you animal--vegetable--or
mineral?' he said, yawning at every other word.</p>
<p>'It's a fabulous monster!' the Unicorn cried out, before Alice could
reply.</p>
        <p>'Then hand round the plum-cake, Monster,' the Lion said, lying down and
putting his chin on this paws. 'And sit down, both of you,' (to the King
and the Unicorn): 'fair play with the cake, you know!'</p>
<p>The King was evidently very uncomfortable at having to sit down between
the two great creatures; but there was no other place for him.</p>
<p>'What a fight we might have for the crown, NOW!' the Unicorn said,
looking slyly up at the crown, which the poor King was nearly shaking
off his head, he trembled so much.</p>
<p>'I should win easy,' said the Lion.</p>
<p>'I'm not so sure of that,' said the Unicorn.</p>
<p>'Why, I beat you all round the town, you chicken!' the Lion replied
angrily, half getting up as he spoke.</p>
<p>Here the King interrupted, to prevent the quarrel going on: he was very
nervous, and his voice quite quivered. 'All round the town?' he
said. 'That's a good long way. Did you go by the old bridge, or the
market-place? You get the best view by the old bridge.'</p>
<p>'I'm sure I don't know,' the Lion growled out as he lay down again.
'There was too much dust to see anything. What a time the Monster is,
cutting up that cake!'</p>
<p>Alice had seated herself on the bank of a little brook, with the great
dish on her knees, and was sawing away diligently with the knife. 'It's
very provoking!' she said, in reply to the Lion (she was getting quite
used to being called 'the Monster'). 'I've cut several slices already,
but they always join on again!'</p>
<p>'You don't know how to manage Looking-glass cakes,' the Unicorn
remarked. 'Hand it round first, and cut it afterwards.'</p>
        <p>This sounded nonsense, but Alice very obediently got up, and carried the
dish round, and the cake divided itself into three pieces as she did so.
'NOW cut it up,' said the Lion, as she returned to her place with the
empty dish.</p>
<p>'I say, this isn't fair!' cried the Unicorn, as Alice sat with the knife
in her hand, very much puzzled how to begin. 'The Monster has given the
Lion twice as much as me!'</p>
<p>'She's kept none for herself, anyhow,' said the Lion. 'Do you like
plum-cake, Monster?'</p>
<p>But before Alice could answer him, the drums began.</p>
<p>Where the noise came from, she couldn't make out: the air seemed full
of it, and it rang through and through her head till she felt quite
deafened. She started to her feet and sprang across the little brook in
her terror,</p>
<p>  *    *    *    *    *    *    *</p>
<p>    *    *    *    *    *    *</p>
<p>  *    *    *    *    *    *    *</p>
<p>and had just time to see the Lion and the Unicorn rise to their feet,
with angry looks at being interrupted in their feast, before she dropped
to her knees, and put her hands over her ears, vainly trying to shut out
the dreadful uproar.</p>
<p>'If THAT doesn't "drum them out of town,"' she thought to herself,
'nothing ever will!'</p>

    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why didn’t the king want to help the white queen?</p>
        <p>2. The unicorn was rude when talking, how can you tell?</p>
        <p>3. What did Alice respond to the Unicorn when he is not being friendly?</p>
        <p>4. How did the passage describe the lion?</p>
        <p>5. What did both the lion and the unicorn eat?</p>
        <p>6. The unicorn and lion had a little argument, what was that?</p>
        <p>7. What was the problem with Alice when cutting the cake?</p>
        <p>8. What was the correct way to cut looking-glass cakes?</p>
        <p>9. Why was Alice sure the drum will get the lion and the unicorn out of town?</p>
        <p>10. What do you think the unicorn and the lion’s personality in this passage?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The King said there was no use in helping the White Queen because she runs so fast that it's like trying to catch a Bandersnatch.</p>
        <p>2. The Unicorn showed an air of deepest disgust when he saw Alice, which implies rudeness.</p>
        <p>3. Alice responded to the Unicorn by saying that she always thought Unicorns were fabulous monsters, too, and that she had never seen one alive before.</p>
        <p>4. The passage described the Lion as looking very tired and sleepy with his eyes half shut, and speaking in a deep, hollow tone that sounded like the tolling of a great bell.</p>
        <p>5. Both the Lion and the Unicorn ate plum-cake.</p>
        <p>6. The Unicorn and the Lion had a little argument about who would win if they were to fight for the crown. The Lion claimed that he would win easily, but the Unicorn was not so sure, and they started to argue before the King interrupted them.</p>
        <p>7. The problem with Alice when cutting the cake was that she couldn't guess how they all came out of the bag. It was like a conjuring-trick, and she couldn't figure out how the dish and carving-knife came out of the bag along with the cake.</p>
        <p>8. According to the Unicorn in the passage, the correct way to cut looking-glass cakes is to hand it round first and cut it afterwards.</p>
        <p>9. Alice thought the drum would get the lion and the unicorn out of town because the noise was so loud and deafening that she couldn't imagine anyone being able to tolerate it.</p>
        <p>10. The unicorn appears to be sly and competitive while the lion seems easily angered and boastful. </p>
    </div>


</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}
</script>
{% endblock %}