{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER IX. Queen Alice - Part 1</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
      <p>'Well, this IS grand!' said Alice. 'I never expected I should be a Queen
so soon--and I'll tell you what it is, your majesty,' she went on in
a severe tone (she was always rather fond of scolding herself), 'it'll
never do for you to be lolling about on the grass like that! Queens have
to be dignified, you know!'</p>
<p>So she got up and walked about--rather stiffly just at first, as she was
afraid that the crown might come off: but she comforted herself with the
thought that there was nobody to see her, 'and if I really am a Queen,'
she said as she sat down again, 'I shall be able to manage it quite well
in time.'</p>
<p>Everything was happening so oddly that she didn't feel a bit surprised
at finding the Red Queen and the White Queen sitting close to her, one
on each side: she would have liked very much to ask them how they came
there, but she feared it would not be quite civil. However, there would
be no harm, she thought, in asking if the game was over. 'Please, would
you tell me--' she began, looking timidly at the Red Queen.</p>
<p>'Speak when you're spoken to!' The Queen sharply interrupted her.</p>
<p>'But if everybody obeyed that rule,' said Alice, who was always ready
for a little argument, 'and if you only spoke when you were spoken to,
and the other person always waited for YOU to begin, you see nobody
would ever say anything, so that--'</p>
<p>'Ridiculous!' cried the Queen. 'Why, don't you see, child--' here she
broke off with a frown, and, after thinking for a minute, suddenly
changed the subject of the conversation. 'What do you mean by "If you
really are a Queen"? What right have you to call yourself so? You can't
be a Queen, you know, till you've passed the proper examination. And the
sooner we begin it, the better.'</p>
<p>'I only said "if"!' poor Alice pleaded in a piteous tone.</p>
<p>The two Queens looked at each other, and the Red Queen remarked, with a
little shudder, 'She SAYS she only said "if"--'</p>
        <p>'But she said a great deal more than that!' the White Queen moaned,
wringing her hands. 'Oh, ever so much more than that!'</p>
<p>'So you did, you know,' the Red Queen said to Alice. 'Always speak the
truth--think before you speak--and write it down afterwards.'</p>
<p>'I'm sure I didn't mean--' Alice was beginning, but the Red Queen
interrupted her impatiently.</p>
<p>'That's just what I complain of! You SHOULD have meant! What do you
suppose is the use of child without any meaning? Even a joke should
have some meaning--and a child's more important than a joke, I hope. You
couldn't deny that, even if you tried with both hands.'</p>
<p>'I don't deny things with my HANDS,' Alice objected.</p>
<p>'Nobody said you did,' said the Red Queen. 'I said you couldn't if you
tried.'</p>
<p>'She's in that state of mind,' said the White Queen, 'that she wants to
deny SOMETHING--only she doesn't know what to deny!'</p>
<p>'A nasty, vicious temper,' the Red Queen remarked; and then there was an
uncomfortable silence for a minute or two.</p>
<p>The Red Queen broke the silence by saying to the White Queen, 'I invite
you to Alice's dinner-party this afternoon.'</p>
<p>The White Queen smiled feebly, and said 'And I invite YOU.'</p>
<p>'I didn't know I was to have a party at all,' said Alice; 'but if there
is to be one, I think _I_ ought to invite the guests.'</p>
<p>'We gave you the opportunity of doing it,' the Red Queen remarked: 'but
I daresay you've not had many lessons in manners yet?'</p>
<p>'Manners are not taught in lessons,' said Alice. 'Lessons teach you to
do sums, and things of that sort.'</p>
<p>'And you do Addition?' the White Queen asked. 'What's one and one and
one and one and one and one and one and one and one and one?'</p>
<p>'I don't know,' said Alice. 'I lost count.'</p>
        <p>'She can't do Addition,' the Red Queen interrupted. 'Can you do
Subtraction? Take nine from eight.'</p>
<p>'Nine from eight I can't, you know,' Alice replied very readily: 'but--'</p>
<p>'She can't do Subtraction,' said the White Queen. 'Can you do Division?
Divide a loaf by a knife--what's the answer to that?'</p>
<p>'I suppose--' Alice was beginning, but the Red Queen answered for her.
'Bread-and-butter, of course. Try another Subtraction sum. Take a bone
from a dog: what remains?'</p>
<p>Alice considered. 'The bone wouldn't remain, of course, if I took
it--and the dog wouldn't remain; it would come to bite me--and I'm sure
I shouldn't remain!'</p>
<p>'Then you think nothing would remain?' said the Red Queen.</p>
<p>'I think that's the answer.'</p>
<p>'Wrong, as usual,' said the Red Queen: 'the dog's temper would remain.'</p>
<p>'But I don't see how--'</p>
<p>'Why, look here!' the Red Queen cried. 'The dog would lose its temper,
wouldn't it?'</p>
<p>'Perhaps it would,' Alice replied cautiously.</p>
<p>'Then if the dog went away, its temper would remain!' the Queen
exclaimed triumphantly.</p>
<p>Alice said, as gravely as she could, 'They might go different ways.' But
she couldn't help thinking to herself, 'What dreadful nonsense we ARE
talking!'</p>
<p>'She can't do sums a BIT!' the Queens said together, with great
emphasis.</p>
<p>'Can YOU do sums?' Alice said, turning suddenly on the White Queen, for
she didn't like being found fault with so much.</p>
<p>The Queen gasped and shut her eyes. 'I can do Addition, if you give me
time--but I can't do Subtraction, under ANY circumstances!'</p>
<p>'Of course you know your A B C?' said the Red Queen.</p>
<p>'To be sure I do.' said Alice.</p>
        <p>'So do I,' the White Queen whispered: 'we'll often say it over together,
dear. And I'll tell you a secret--I can read words of one letter! Isn't
THAT grand! However, don't be discouraged. You'll come to it in time.'</p>
<p>Here the Red Queen began again. 'Can you answer useful questions?' she
said. 'How is bread made?'</p>
<p>'I know THAT!' Alice cried eagerly. 'You take some flour--'</p>
<p>'Where do you pick the flower?' the White Queen asked. 'In a garden, or
in the hedges?'</p>
<p>'Well, it isn't PICKED at all,' Alice explained: 'it's GROUND--'</p>
<p>'How many acres of ground?' said the White Queen. 'You mustn't leave out
so many things.'</p>
<p>'Fan her head!' the Red Queen anxiously interrupted. 'She'll be feverish
after so much thinking.' So they set to work and fanned her with bunches
of leaves, till she had to beg them to leave off, it blew her hair about
so.</p>
<p>'She's all right again now,' said the Red Queen. 'Do you know Languages?
What's the French for fiddle-de-dee?'</p>
<p>'Fiddle-de-dee's not English,' Alice replied gravely.</p>
<p>'Who ever said it was?' said the Red Queen.</p>
<p>Alice thought she saw a way out of the difficulty this time. 'If you'll
tell me what language "fiddle-de-dee" is, I'll tell you the French for
it!' she exclaimed triumphantly.</p>
<p>But the Red Queen drew herself up rather stiffly, and said 'Queens never
make bargains.'</p>
<p>'I wish Queens never asked questions,' Alice thought to herself.</p>
        <p>'Don't let us quarrel,' the White Queen said in an anxious tone. 'What
is the cause of lightning?'</p>
<p>'The cause of lightning,' Alice said very decidedly, for she felt quite
certain about this, 'is the thunder--no, no!' she hastily corrected
herself. 'I meant the other way.'</p>
<p>'It's too late to correct it,' said the Red Queen: 'when you've once
said a thing, that fixes it, and you must take the consequences.'</p>
<p>'Which reminds me--' the White Queen said, looking down and nervously
clasping and unclasping her hands, 'we had SUCH a thunderstorm last
Tuesday--I mean one of the last set of Tuesdays, you know.'</p>
<p>Alice was puzzled. 'In OUR country,' she remarked, 'there's only one day
at a time.'</p>
<p>The Red Queen said, 'That's a poor thin way of doing things. Now HERE,
we mostly have days and nights two or three at a time, and sometimes
in the winter we take as many as five nights together--for warmth, you
know.'</p>
<p>'Are five nights warmer than one night, then?' Alice ventured to ask.</p>
<p>'Five times as warm, of course.'</p>
<p>'But they should be five times as COLD, by the same rule--'</p>
<p>'Just so!' cried the Red Queen. 'Five times as warm, AND five times
as cold--just as I'm five times as rich as you are, AND five times as
clever!'</p>
    </div>
    <p class="w3-large" id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. At the beginning, what was Alice trying to get used to?</p>
        <p>2. Who did Alice see?</p>
        <p>3. What argument did Alice had with the Queen?</p>
        <p>4. What does shudder mean? Make a sentence with it.</p>
        <p>5. What do you think the two Queens’ personality so far?</p>
        <p>6. What would happen in the afternoon that Alice didn’t know about?</p>
        <p>7. The Queens asked Alice questions about addition, subtraction and so on, can Alice answer them? Why do you think she can’t figure the answers?</p>
        <p>8. What was the answer of this question - ‘ take a bone, from a dog: what remains?’</p>
        <p>9. The red queen asked a question that Alice knew the answer, what was that question?</p>
        <p>10. Do you think thunder causes lightning or lightning causes thunder?</p>
        <p>11. If you were Alice, how would you feel after these many nonsense questions and conversations?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. At the beginning, Alice was trying to get used to the idea that she had become a Queen.</p>
        <p>2. Alice saw the Red Queen and the White Queen sitting close to her, one on each side.</p>
        <p>3. Alice had an argument with the Red Queen about the rule of speaking only when spoken to. Alice tried to argue that if everyone followed that rule, nobody would ever speak, but the Red Queen interrupted her and changed the subject to Alice's claim of being a Queen without passing the proper examination.</p>
        <p>4. Shudder means to tremble or shake involuntarily, typically as a result of fear or revulsion. Example sentence: The thought of going into the haunted house made her shudder with fear.</p>
        <p>5. The Red Queen seems to have a nasty and vicious temper, while the White Queen appears to be feeble and timid.</p>
        <p>6. Alice will be hosting a dinner-party in the afternoon, and the Red Queen has invited the White Queen to attend.</p>
        <p>7. Alice struggles to answer the Queens' questions about math, indicating that she may not be very skilled in the subject. She may also be easily distracted and overwhelmed by the absurdity of the questions. Additionally, she seems to be more interested in manners and social etiquette than math, as she argues that manners are not taught in lessons but are still important to know.</p>
        <p>8. according to the Red Queen is the dog's temper would remain.</p>
        <p>9. The question that the Red Queen asked and Alice knew the answer to was, "What's the French for fiddle-de-dee?"</p>
        <p>10. Alice initially said that thunder causes lightning, but she quickly corrected herself and said that lightning causes thunder.</p>
        <p>11. If I were Alice, I would probably feel frustrated and confused after all the nonsense questions and conversations.</p>
    </div>
</div>



<!-- Reading Section 2 -->
<div class="w3-row-padding w3-center" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>CHAPTER IX. Queen Alice - Part 2</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
      <p>Alice sighed and gave it up. 'It's exactly like a riddle with no
answer!' she thought.</p>
<p>'Humpty Dumpty saw it too,' the White Queen went on in a low voice, more
as if she were talking to herself. 'He came to the door with a corkscrew
in his hand--'</p>
<p>'What did he want?' said the Red Queen.</p>
<p>'He said he WOULD come in,' the White Queen went on, 'because he was
looking for a hippopotamus. Now, as it happened, there wasn't such a
thing in the house, that morning.'</p>
<p>'Is there generally?' Alice asked in an astonished tone.</p>
<p>'Well, only on Thursdays,' said the Queen.</p>
<p>'I know what he came for,' said Alice: 'he wanted to punish the fish,
because--'</p>
<p>Here the White Queen began again. 'It was SUCH a thunderstorm, you can't
think!' ('She NEVER could, you know,' said the Red Queen.) 'And part of
the roof came off, and ever so much thunder got in--and it went
rolling round the room in great lumps--and knocking over the tables and
things--till I was so frightened, I couldn't remember my own name!'</p>
<p>Alice thought to herself, 'I never should TRY to remember my name in the
middle of an accident! Where would be the use of it?' but she did not
say this aloud, for fear of hurting the poor Queen's feeling.</p>
<p>'Your Majesty must excuse her,' the Red Queen said to Alice, taking
one of the White Queen's hands in her own, and gently stroking it:
'she means well, but she can't help saying foolish things, as a general
rule.'</p>
<p>The White Queen looked timidly at Alice, who felt she OUGHT to say
something kind, but really couldn't think of anything at the moment.</p>
<p>'She never was really well brought up,' the Red Queen went on: 'but
it's amazing how good-tempered she is! Pat her on the head, and see how
pleased she'll be!' But this was more than Alice had courage to do.</p>
<p>'A little kindness--and putting her hair in papers--would do wonders
with her--'</p>
<p>The White Queen gave a deep sigh, and laid her head on Alice's shoulder.
'I AM so sleepy?' she moaned.</p>
<p>'She's tired, poor thing!' said the Red Queen. 'Smooth her hair--lend
her your nightcap--and sing her a soothing lullaby.'</p>
        <p>'I haven't got a nightcap with me,' said Alice, as she tried to obey the
first direction: 'and I don't know any soothing lullabies.'</p>
<p>'I must do it myself, then,' said the Red Queen, and she began:</p>
<p>'Hush-a-by lady, in Alice's lap!<br>
Till the feast's ready, we've time for a nap:<br>
When the feast's over, we'll go to the ball--<br>
Red Queen, and White Queen, and Alice, and all!</p>
<p>'And now you know the words,' she added, as she put her head down on
Alice's other shoulder, 'just sing it through to ME. I'm getting sleepy,
too.' In another moment both Queens were fast asleep, and snoring loud.</p>
<p>'What AM I to do?' exclaimed Alice, looking about in great perplexity,
as first one round head, and then the other, rolled down from her
shoulder, and lay like a heavy lump in her lap. 'I don't think it EVER
happened before, that anyone had to take care of two Queens asleep
at once! No, not in all the History of England--it couldn't, you know,
because there never was more than one Queen at a time. Do wake up, you
heavy things!' she went on in an impatient tone; but there was no answer
but a gentle snoring.</p>
<p>The snoring got more distinct every minute, and sounded more like a
tune: at last she could even make out the words, and she listened so
eagerly that, when the two great heads vanished from her lap, she hardly
missed them.</p>
<p>She was standing before an arched doorway over which were the words
QUEEN ALICE in large letters, and on each side of the arch there was a
bell-handle; one was marked 'Visitors' Bell,' and the other 'Servants'
Bell.'</p>
<p>'I'll wait till the song's over,' thought Alice, 'and then I'll
ring--the--WHICH bell must I ring?' she went on, very much puzzled by
the names. 'I'm not a visitor, and I'm not a servant. There OUGHT to be
one marked "Queen," you know--'</p>
<p>Just then the door opened a little way, and a creature with a long beak
put its head out for a moment and said 'No admittance till the week
after next!' and shut the door again with a bang.</p>
<p>Alice knocked and rang in vain for a long time, but at last, a very old
Frog, who was sitting under a tree, got up and hobbled slowly towards
her: he was dressed in bright yellow, and had enormous boots on.</p>
<p>'What is it, now?' the Frog said in a deep hoarse whisper.</p>
<p>Alice turned round, ready to find fault with anybody. 'Where's the
servant whose business it is to answer the door?' she began angrily.</p>
<p>'Which door?' said the Frog.</p>
<p>Alice almost stamped with irritation at the slow drawl in which he
spoke. 'THIS door, of course!'</p>
<p>The Frog looked at the door with his large dull eyes for a minute:
then he went nearer and rubbed it with his thumb, as if he were trying
whether the paint would come off; then he looked at Alice.</p>
<p>'To answer the door?' he said. 'What's it been asking of?' He was so
hoarse that Alice could scarcely hear him.</p>
<p>'I don't know what you mean,' she said.</p>
<p>'I talks English, doesn't I?' the Frog went on. 'Or are you deaf? What
did it ask you?'</p>
<p>'Nothing!' Alice said impatiently. 'I've been knocking at it!'</p>
<p>'Shouldn't do that--shouldn't do that--' the Frog muttered. 'Vexes it,
you know.' Then he went up and gave the door a kick with one of his
great feet. 'You let IT alone,' he panted out, as he hobbled back to his
tree, 'and it'll let YOU alone, you know.'</p>
<p>At this moment the door was flung open, and a shrill voice was heard
singing:</p>
        <p style="text-align:center">'To the Looking-Glass world it was Alice that said,</p>
<p style="text-align:center">"I've a sceptre in hand, I've a crown on my head;</p>
<p style="text-align:center">Let the Looking-Glass creatures, whatever they be,</p>
<p style="text-align:center">Come and dine with the Red Queen, the White Queen, and me."</p>
<p>And hundreds of voices joined in the chorus:</p>
<p style="text-align:center">'Then fill up the glasses as quick as you can,</p>
<p style="text-align:center">And sprinkle the table with buttons and bran:</p>
<p style="text-align:center">Put cats in the coffee, and mice in the tea--</p>
<p style="text-align:center">And welcome Queen Alice with thirty-times-three!'</p>
<p>Then followed a confused noise of cheering, and Alice thought to herself,</p>
<p>'Thirty times three makes ninety. I wonder if any one's counting?'</p>
<p>In a minute there was silence again, and the same shrill voice sang another verse;</p>
<p style="text-align:center">'"O Looking-Glass creatures," quoth Alice, "draw near!</p>
<p style="text-align:center">'Tis an honour to see me, a favour to hear:</p>
<p style="text-align:center"> 'Tis a privilege high to have dinner and tea</p>
<p style="text-align:center">Along with the Red Queen, the White Queen, and me!"'</p>
<p style="text-align:center">Then came the chorus again:--</p>
<p>'Then fill up the glasses with treacle and ink,</p>
<p style="text-align:center">Or anything else that is pleasant to drink:</p>
<p style="text-align:center">Mix sand with the cider, and wool with the wine--</p>
<p style="text-align:center">And welcome Queen Alice with ninety-times-nine!'</p>
<p>'Ninety times nine!' Alice repeated in despair, 'Oh, that'll never
be done! I'd better go in at once--' and there was a dead silence the
moment she appeared.</p>
<p>Alice glanced nervously along the table, as she walked up the large
hall, and noticed that there were about fifty guests, of all kinds: some
were animals, some birds, and there were even a few flowers among them.
'I'm glad they've come without waiting to be asked,' she thought: 'I
should never have known who were the right people to invite!'</p>
<p>There were three chairs at the head of the table; the Red and White
Queens had already taken two of them, but the middle one was empty.
Alice sat down in it, rather uncomfortable in the silence, and longing
for some one to speak.</p>
<p>At last the Red Queen began. 'You've missed the soup and fish,' she
said. 'Put on the joint!' And the waiters set a leg of mutton before
Alice, who looked at it rather anxiously, as she had never had to carve
a joint before.</p>
<p>'You look a little shy; let me introduce you to that leg of mutton,'
said the Red Queen. 'Alice--Mutton; Mutton--Alice.' The leg of mutton
got up in the dish and made a little bow to Alice; and Alice returned
the bow, not knowing whether to be frightened or amused.</p>
<p>'May I give you a slice?' she said, taking up the knife and fork, and
looking from one Queen to the other.</p>
<p>'Certainly not,' the Red Queen said, very decidedly: 'it isn't etiquette
to cut any one you've been introduced to. Remove the joint!' And the
waiters carried it off, and brought a large plum-pudding in its place.</p>
    </div>
    <p class="w3-large" id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. According to the white queen, what incident happened?</p>
        <p>2. When the queen said she was so frightened and she couldn't remember her name, what did Alice think? Why do you think she didn’t speak out aloud?</p>
        <p>3. What is a lullaby?</p>
        <p>4. What happened to the 2 queens?</p>
        <p>5. What were the 2 bells?</p>
        <p>6. When Alice walked in the hall, who were in there?</p>
        <p>7. What was in the dish in front of Alice?</p>
        <p>8. What was so strange about the dish?</p>
        <p>9. Why did the Red Queen ask to remove the dish?</p>
        <p>10. Summarise this passage in a few sentences.</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. According to the White Queen, the incident of the brooch happened.</p>
        <p>2. When the queen said she was so frightened and couldn't remember her name, Alice thought that it was impossible to forget one's name, but she didn't speak out aloud as she didn't want to offend the queen.</p>
        <p>3. A lullaby is a soothing song that is usually sung to put someone to sleep.</p>
        <p>4. The two queens were quarrelling and fell asleep. </p>
        <p>5. The two bells were the curfew bell, which meant that it was time to go to bed, and the breakfast bell, which meant that it was time to wake up.</p>
        <p>6. When Alice walked in the hall, there were about fifty guests, including animals, birds, and flowers.</p>
        <p>7. In the dish in front of Alice, there was a leg of mutton.</p>
        <p>8. What was strange about the dish was that the leg of mutton got up and made a little bow to Alice.</p>
        <p>9. The Red Queen asked to remove the dish because it was not etiquette to cut any one you've been introduced to.</p>
        <p>10. Alice attends a dinner party with the Red Queen, the White Queen, and many strange guests. She struggles with the unfamiliar customs and etiquette and is surprised when a leg of mutton gets up and bows to her. The Red Queen corrects Alice's etiquette and has the leg of mutton removed, and it is replaced with a large plum pudding.</p>
    </div>


</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}
</script>
{% endblock %}