{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehesion with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Reading Section 1 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-xlarge"><strong>Peter Pan Chapter 10, 11, 12<br></strong></p>
    <p class="w3-large"><strong>10. THE HAPPY HOME<br></strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
<br>
One important result of the brush [with the pirates] on the lagoon was<br>
that it made the redskins their friends. Peter had saved Tiger Lily from<br>
a dreadful fate, and now there was nothing she and her braves would not<br>
do for him. All night they sat above, keeping watch over the home under<br>
the ground and awaiting the big attack by the pirates which obviously<br>
could not be much longer delayed. Even by day they hung about, smoking<br>
the pipe of peace, and looking almost as if they wanted tit-bits to eat.<br>
<br>
They called Peter the Great White Father, prostrating themselves [lying<br>
down] before him; and he liked this tremendously, so that it was not<br>
really good for him.<br>
<br>
&quot;The great white father,&quot; he would say to them in a very lordly
manner,<br>
as they grovelled at his feet, &quot;is glad to see the Piccaninny warriors<br>
protecting his wigwam from the pirates.&quot;<br>
<br>
&quot;Me Tiger Lily,&quot; that lovely creature would reply. &quot;Peter Pan
save me,<br>
me his velly nice friend. Me no let pirates hurt him.&quot;<br>
<br>
She was far too pretty to cringe in this way, but Peter thought it his<br>
due, and he would answer condescendingly, &quot;It is good. Peter Pan has<br>
spoken.&quot;<br>
<br>
Always when he said, &quot;Peter Pan has spoken,&quot; it meant that they must
now<br>
shut up, and they accepted it humbly in that spirit; but they were by<br>
no means so respectful to the other boys, whom they looked upon as just<br>
ordinary braves. They said &quot;How-do?&quot; to them, and things like that;
and<br>
what annoyed the boys was that Peter seemed to think this all right.<br>
<br>
Secretly Wendy sympathised with them a little, but she was far too loyal<br>
a housewife to listen to any complaints against father. &quot;Father knows<br>
best,&quot; she always said, whatever her private opinion must be. Her<br>
private opinion was that the redskins should not call her a squaw.<br>
<br>
We have now reached the evening that was to be known among them as the<br>
Night of Nights, because of its adventures and their upshot. The day, as<br>
if quietly gathering its forces, had been almost uneventful, and now the<br>
redskins in their blankets were at their posts above, while, below, the<br>
children were having their evening meal; all except Peter, who had gone<br>
out to get the time. The way you got the time on the island was to find<br>
the crocodile, and then stay near him till the clock struck.<br>
<br>
The meal happened to be a make-believe tea, and they sat around the<br>
board, guzzling in their greed; and really, what with their chatter and<br>
recriminations, the noise, as Wendy said, was positively deafening.<br>
To be sure, she did not mind noise, but she simply would not have them<br>
grabbing things, and then excusing themselves by saying that Tootles had<br>
pushed their elbow. There was a fixed rule that they must never hit back<br>
at meals, but should refer the matter of dispute to Wendy by raising<br>
the right arm politely and saying, &quot;I complain of so-and-so;&quot; but
what<br>
usually happened was that they forgot to do this or did it too much.<br>
<br>
&quot;Silence,&quot; cried Wendy when for the twentieth time she had told them<br>
that they were not all to speak at once. &quot;Is your mug empty, Slightly<br>
darling?&quot;<br>
<br>
&quot;Not quite empty, mummy,&quot; Slightly said, after looking into an
imaginary<br>
mug.<br>
<br>
&quot;He hasn't even begun to drink his milk,&quot; Nibs interposed.<br>
<br>
This was telling, and Slightly seized his chance.<br>
<br>
&quot;I complain of Nibs,&quot; he cried promptly.<br>
<br>
John, however, had held up his hand first.<br>
<br>
&quot;Well, John?&quot;<br>
<br>
&quot;May I sit in Peter's chair, as he is not here?&quot;<br>
<br>
&quot;Sit in father's chair, John!&quot; Wendy was scandalised. &quot;Certainly
not.&quot;<br>
<br>
&quot;He is not really our father,&quot; John answered. &quot;He didn't even
know how a<br>
father does till I showed him.&quot;<br>
<br>
This was grumbling. &quot;We complain of John,&quot; cried the twins.<br>
<br>
Tootles held up his hand. He was so much the humblest of them, indeed he<br>
was the only humble one, that Wendy was specially gentle with him.<br>
<br>
&quot;I don't suppose,&quot; Tootles said diffidently [bashfully or timidly],<br>
&quot;that I could be father.&quot;<br>
<br>
&quot;No, Tootles.&quot;<br>
<br>
Once Tootles began, which was not very often, he had a silly way of<br>
going on.<br>
<br>
&quot;As I can't be father,&quot; he said heavily, &quot;I don't suppose,
Michael, you<br>
would let me be baby?&quot;<br>
<br>
&quot;No, I won't,&quot; Michael rapped out. He was already in his basket.<br>
<br>
&quot;As I can't be baby,&quot; Tootles said, getting heavier and heavier and<br>
heavier, &quot;do you think I could be a twin?&quot;<br>
<br>
&quot;No, indeed,&quot; replied the twins; &quot;it's awfully difficult to be a
twin.&quot;<br>
<br>
&quot;As I can't be anything important,&quot; said Tootles, &quot;would any of
you like<br>
to see me do a trick?&quot;<br>
<br>
&quot;No,&quot; they all replied.<br>
<br>
Then at last he stopped. &quot;I hadn't really any hope,&quot; he said.<br>
<br>
The hateful telling broke out again.<br>
<br>
&quot;Slightly is coughing on the table.&quot;<br>
<br>
&quot;The twins began with cheese-cakes.&quot;<br>
<br>
&quot;Curly is taking both butter and honey.&quot;<br>
<br>
&quot;Nibs is speaking with his mouth full.&quot;<br>
<br>
&quot;I complain of the twins.&quot;<br>
<br>
&quot;I complain of Curly.&quot;<br>
<br>
&quot;I complain of Nibs.&quot;<br>
<br>
&quot;Oh dear, oh dear,&quot; cried Wendy, &quot;I'm sure I sometimes think
that<br>
spinsters are to be envied.&quot;<br>
<br>
She told them to clear away, and sat down to her work-basket, a heavy<br>
load of stockings and every knee with a hole in it as usual.<br>
<br>
&quot;Wendy,&quot; remonstrated [scolded] Michael, &quot;I'm too big for a
cradle.&quot;<br>
<br>
&quot;I must have somebody in a cradle,&quot; she said almost tartly, &quot;and
you<br>
are the littlest. A cradle is such a nice homely thing to have about a<br>
house.&quot;<br>
<br>
While she sewed they played around her; such a group of happy faces<br>
and dancing limbs lit up by that romantic fire. It had become a very<br>
familiar scene, this, in the home under the ground, but we are looking<br>
on it for the last time.<br>
<br>
There was a step above, and Wendy, you may be sure, was the first to<br>
recognize it.<br>
<br>
&quot;Children, I hear your father's step. He likes you to meet him at the<br>
door.&quot;<br>
<br>
Above, the redskins crouched before Peter.<br>
<br>
&quot;Watch well, braves. I have spoken.&quot;<br>
<br>
And then, as so often before, the gay children dragged him from his<br>
tree. As so often before, but never again.<br>
<br>
He had brought nuts for the boys as well as the correct time for Wendy.<br>
<br>
&quot;Peter, you just spoil them, you know,&quot; Wendy simpered [exaggerated a<br>
smile].<br>
<br>
&quot;Ah, old lady,&quot; said Peter, hanging up his gun.<br>
<br>
&quot;It was me told him mothers are called old lady,&quot; Michael whispered
to<br>
Curly.<br>
<br>
&quot;I complain of Michael,&quot; said Curly instantly.<br>
<br>
The first twin came to Peter. &quot;Father, we want to dance.&quot;<br>
<br>
&quot;Dance away, my little man,&quot; said Peter, who was in high good humour.<br>
<br>
&quot;But we want you to dance.&quot;<br>
<br>
Peter was really the best dancer among them, but he pretended to be<br>
scandalised.<br>
<br>
&quot;Me! My old bones would rattle!&quot;<br>
<br>
&quot;And mummy too.&quot;<br>
<br>
&quot;What,&quot; cried Wendy, &quot;the mother of such an armful, dance!&quot;<br>
<br>
&quot;But on a Saturday night,&quot; Slightly insinuated.<br>
<br>
It was not really Saturday night, at least it may have been, for<br>
they had long lost count of the days; but always if they wanted to do<br>
anything special they said this was Saturday night, and then they did<br>
it.<br>
<br>
&quot;Of course it is Saturday night, Peter,&quot; Wendy said, relenting.<br>
<br>
&quot;People of our figure, Wendy!&quot;<br>
<br>
&quot;But it is only among our own progeny [children].&quot;<br>
<br>
&quot;True, true.&quot;<br>
<br>
So they were told they could dance, but they must put on their nighties<br>
first.<br>
<br>
&quot;Ah, old lady,&quot; Peter said aside to Wendy, warming himself by the
fire<br>
and looking down at her as she sat turning a heel, &quot;there is nothing<br>
more pleasant of an evening for you and me when the day's toil is over<br>
than to rest by the fire with the little ones near by.&quot;<br>
<br>
&quot;It is sweet, Peter, isn't it?&quot; Wendy said, frightfully gratified.<br>
&quot;Peter, I think Curly has your nose.&quot;<br>
<br>
&quot;Michael takes after you.&quot;<br>
<br>
She went to him and put her hand on his shoulder.<br>
<br>
&quot;Dear Peter,&quot; she said, &quot;with such a large family, of course, I
have now<br>
passed my best, but you don't want to [ex]change me, do you?&quot;<br>
<br>
&quot;No, Wendy.&quot;<br>
<br>
Certainly he did not want a change, but he looked at her uncomfortably,<br>
blinking, you know, like one not sure whether he was awake or asleep.<br>
<br>
&quot;Peter, what is it?&quot;<br>
<br>
&quot;I was just thinking,&quot; he said, a little scared. &quot;It is only<br>
make-believe, isn't it, that I am their father?&quot;<br>
<br>
&quot;Oh yes,&quot; Wendy said primly [formally and properly].<br>
<br>
&quot;You see,&quot; he continued apologetically, &quot;it would make me seem
so old to<br>
be their real father.&quot;<br>
<br>
&quot;But they are ours, Peter, yours and mine.&quot;<br>
<br>
&quot;But not really, Wendy?&quot; he asked anxiously.<br>
<br>
&quot;Not if you don't wish it,&quot; she replied; and she distinctly heard his<br>
sigh of relief. &quot;Peter,&quot; she asked, trying to speak firmly,
&quot;what are<br>
your exact feelings to [about] me?&quot;<br>
<br>
&quot;Those of a devoted son, Wendy.&quot;<br>
<br>
&quot;I thought so,&quot; she said, and went and sat by herself at the extreme
end<br>
of the room.<br>
<br>
&quot;You are so queer,&quot; he said, frankly puzzled, &quot;and Tiger Lily is
just<br>
the same. There is something she wants to be to me, but she says it is<br>
not my mother.&quot;<br>
<br>
&quot;No, indeed, it is not,&quot; Wendy replied with frightful emphasis. Now
we<br>
know why she was prejudiced against the redskins.<br>
<br>
&quot;Then what is it?&quot;<br>
<br>
&quot;It isn't for a lady to tell.&quot;<br>
<br>
&quot;Oh, very well,&quot; Peter said, a little nettled. &quot;Perhaps Tinker
Bell will<br>
tell me.&quot;<br>
<br>
&quot;Oh yes, Tinker Bell will tell you,&quot; Wendy retorted scornfully.
&quot;She is<br>
an abandoned little creature.&quot;<br>
<br>
Here Tink, who was in her bedroom, eavesdropping, squeaked out something<br>
impudent.<br>
<br>
&quot;She says she glories in being abandoned,&quot; Peter interpreted.<br>
<br>
He had a sudden idea. &quot;Perhaps Tink wants to be my mother?&quot;<br>
<br>
&quot;You silly ass!&quot; cried Tinker Bell in a passion.<br>
<br>
She had said it so often that Wendy needed no translation.<br>
<br>
&quot;I almost agree with her,&quot; Wendy snapped. Fancy Wendy snapping! But
she<br>
had been much tried, and she little knew what was to happen before the<br>
night was out. If she had known she would not have snapped.<br>
<br>
None of them knew. Perhaps it was best not to know. Their ignorance<br>
gave them one more glad hour; and as it was to be their last hour on the<br>
island, let us rejoice that there were sixty glad minutes in it. They<br>
sang and danced in their night-gowns. Such a deliciously creepy song<br>
it was, in which they pretended to be frightened at their own shadows,<br>
little witting that so soon shadows would close in upon them, from whom<br>
they would shrink in real fear. So uproariously gay was the dance, and<br>
how they buffeted each other on the bed and out of it! It was a pillow<br>
fight rather than a dance, and when it was finished, the pillows<br>
insisted on one bout more, like partners who know that they may never<br>
meet again. The stories they told, before it was time for Wendy's<br>
good-night story! Even Slightly tried to tell a story that night, but<br>
the beginning was so fearfully dull that it appalled not only the others<br>
but himself, and he said happily:<br>
<br>
&quot;Yes, it is a dull beginning. I say, let us pretend that it is the
end.&quot;<br>
<br>
And then at last they all got into bed for Wendy's story, the story they<br>
loved best, the story Peter hated. Usually when she began to tell this<br>
story he left the room or put his hands over his ears; and possibly if<br>
he had done either of those things this time they might all still be on<br>
the island. But to-night he remained on his stool; and we shall see what<br>
happened.<br>
    </div>
    <p class="w3-large"id="questions1">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why did the brush with the pirates on the lagoon make the redskins friendly towards Peter?</p>
        <p>2. How does Peter interact with the redskins, and how do they respond to him?</p>
        <p>3. Why does Wendy feel sympathetic towards the other boys, and what is her private opinion about the redskins?</p>
    </div>
    <p><a href="#" onclick="show_answer1();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message1" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The brush with the pirates on the lagoon resulted in Peter saving Tiger Lily from a dreadful fate. As a result, Tiger Lily and her braves became indebted to Peter, and there was nothing they wouldn't do for him. They even called him the "Great White Father" and were willing to protect his home under the ground from the impending pirate attack.</p>
        <p>2. Peter interacts with the redskins in a lordly manner, appreciating their loyalty and referring to himself as the "Great White Father." He enjoys the respect and adoration they show him, which he finds tremendously pleasing. However, the redskins are not as respectful to the other boys, whom they consider ordinary braves. Despite their admiration for Peter, they exhibit less deference to the other boys.</p>
        <p>3. Wendy feels sympathetic towards the other boys because, unlike Peter, they don't receive the same level of respect and courtesy from the redskins. However, Wendy remains loyal and does not entertain complaints against Peter, referring to him as the "Great White Father." Her private opinion is that the redskins should not call her a squaw, indicating that she might not entirely agree with the way they address her but remains steadfast in supporting Peter's authority.</p>
    </div>
</div>

<!-- Reading Section 2 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>11. WENDY'S STORY</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
       <br>
&quot;Listen, then,&quot; said Wendy, settling down to her story, with Michael
at<br>
her feet and seven boys in the bed. &quot;There was once a gentleman--&quot;<br>
<br>
&quot;I had rather he had been a lady,&quot; Curly said.<br>
<br>
&quot;I wish he had been a white rat,&quot; said Nibs.<br>
<br>
&quot;Quiet,&quot; their mother admonished [cautioned] them. &quot;There was a
lady<br>
also, and--&quot;<br>
<br>
&quot;Oh, mummy,&quot; cried the first twin, &quot;you mean that there is a
lady also,<br>
don't you? She is not dead, is she?&quot;<br>
<br>
&quot;Oh, no.&quot;<br>
<br>
&quot;I am awfully glad she isn't dead,&quot; said Tootles. &quot;Are you glad,
John?&quot;<br>
<br>
&quot;Of course I am.&quot;<br>
<br>
&quot;Are you glad, Nibs?&quot;<br>
<br>
&quot;Rather.&quot;<br>
<br>
&quot;Are you glad, Twins?&quot;<br>
<br>
&quot;We are glad.&quot;<br>
<br>
&quot;Oh dear,&quot; sighed Wendy.<br>
<br>
&quot;Little less noise there,&quot; Peter called out, determined that she
should<br>
have fair play, however beastly a story it might be in his opinion.<br>
<br>
&quot;The gentleman's name,&quot; Wendy continued, &quot;was Mr. Darling, and
her name<br>
was Mrs. Darling.&quot;<br>
<br>
&quot;I knew them,&quot; John said, to annoy the others.<br>
<br>
&quot;I think I knew them,&quot; said Michael rather doubtfully.<br>
<br>
&quot;They were married, you know,&quot; explained Wendy, &quot;and what do you
think<br>
they had?&quot;<br>
<br>
&quot;White rats,&quot; cried Nibs, inspired.<br>
<br>
&quot;No.&quot;<br>
<br>
&quot;It's awfully puzzling,&quot; said Tootles, who knew the story by heart.<br>
<br>
&quot;Quiet, Tootles. They had three descendants.&quot;<br>
<br>
&quot;What is descendants?&quot;<br>
<br>
&quot;Well, you are one, Twin.&quot;<br>
<br>
&quot;Did you hear that, John? I am a descendant.&quot;<br>
<br>
&quot;Descendants are only children,&quot; said John.<br>
<br>
&quot;Oh dear, oh dear,&quot; sighed Wendy. &quot;Now these three children had
a<br>
faithful nurse called Nana; but Mr. Darling was angry with her and<br>
chained her up in the yard, and so all the children flew away.&quot;<br>
<br>
&quot;It's an awfully good story,&quot; said Nibs.<br>
<br>
&quot;They flew away,&quot; Wendy continued, &quot;to the Neverland, where the
lost<br>
children are.&quot;<br>
<br>
&quot;I just thought they did,&quot; Curly broke in excitedly. &quot;I don't
know how<br>
it is, but I just thought they did!&quot;<br>
<br>
&quot;O Wendy,&quot; cried Tootles, &quot;was one of the lost children called
Tootles?&quot;<br>
<br>
&quot;Yes, he was.&quot;<br>
<br>
&quot;I am in a story. Hurrah, I am in a story, Nibs.&quot;<br>
<br>
&quot;Hush. Now I want you to consider the feelings of the unhappy parents<br>
with all their children flown away.&quot;<br>
<br>
&quot;Oo!&quot; they all moaned, though they were not really considering the<br>
feelings of the unhappy parents one jot.<br>
<br>
&quot;Think of the empty beds!&quot;<br>
<br>
&quot;Oo!&quot;<br>
<br>
&quot;It's awfully sad,&quot; the first twin said cheerfully.<br>
<br>
&quot;I don't see how it can have a happy ending,&quot; said the second twin.
&quot;Do<br>
you, Nibs?&quot;<br>
<br>
&quot;I'm frightfully anxious.&quot;<br>
<br>
&quot;If you knew how great is a mother's love,&quot; Wendy told them<br>
triumphantly, &quot;you would have no fear.&quot; She had now come to the part<br>
that Peter hated.<br>
<br>
&quot;I do like a mother's love,&quot; said Tootles, hitting Nibs with a
pillow.<br>
&quot;Do you like a mother's love, Nibs?&quot;<br>
<br>
&quot;I do just,&quot; said Nibs, hitting back.<br>
<br>
&quot;You see,&quot; Wendy said complacently, &quot;our heroine knew that the
mother<br>
would always leave the window open for her children to fly back by; so<br>
they stayed away for years and had a lovely time.&quot;<br>
<br>
&quot;Did they ever go back?&quot;<br>
<br>
&quot;Let us now,&quot; said Wendy, bracing herself up for her finest effort,<br>
&quot;take a peep into the future;&quot; and they all gave themselves the twist<br>
that makes peeps into the future easier. &quot;Years have rolled by, and who<br>
is this elegant lady of uncertain age alighting at London Station?&quot;<br>
<br>
&quot;O Wendy, who is she?&quot; cried Nibs, every bit as excited as if he
didn't<br>
know.<br>
<br>
&quot;Can it be--yes--no--it is--the fair Wendy!&quot;<br>
<br>
&quot;Oh!&quot;<br>
<br>
&quot;And who are the two noble portly figures accompanying her, now grown to<br>
man's estate? Can they be John and Michael? They are!&quot;<br>
<br>
&quot;Oh!&quot;<br>
<br>
&quot;'See, dear brothers,' says Wendy pointing upwards, 'there is the window<br>
still standing open. Ah, now we are rewarded for our sublime faith in a<br>
mother's love.' So up they flew to their mummy and daddy, and pen cannot<br>
describe the happy scene, over which we draw a veil.&quot;<br>
<br>
That was the story, and they were as pleased with it as the fair<br>
narrator herself. Everything just as it should be, you see. Off we skip<br>
like the most heartless things in the world, which is what children are,<br>
but so attractive; and we have an entirely selfish time, and then when<br>
we have need of special attention we nobly return for it, confident that<br>
we shall be rewarded instead of smacked.<br>
<br>
So great indeed was their faith in a mother's love that they felt they<br>
could afford to be callous for a bit longer.<br>
<br>
But there was one there who knew better, and when Wendy finished he<br>
uttered a hollow groan.<br>
<br>
&quot;What is it, Peter?&quot; she cried, running to him, thinking he was ill.
She<br>
felt him solicitously, lower down than his chest. &quot;Where is it,
Peter?&quot;<br>
<br>
&quot;It isn't that kind of pain,&quot; Peter replied darkly.<br>
<br>
&quot;Then what kind is it?&quot;<br>
<br>
&quot;Wendy, you are wrong about mothers.&quot;<br>
<br>
They all gathered round him in affright, so alarming was his agitation;<br>
and with a fine candour he told them what he had hitherto concealed.<br>
<br>
&quot;Long ago,&quot; he said, &quot;I thought like you that my mother would
always<br>
keep the window open for me, so I stayed away for moons and moons and<br>
moons, and then flew back; but the window was barred, for mother had<br>
forgotten all about me, and there was another little boy sleeping in my<br>
bed.&quot;<br>
<br>
I am not sure that this was true, but Peter thought it was true; and it<br>
scared them.<br>
<br>
&quot;Are you sure mothers are like that?&quot;<br>
<br>
&quot;Yes.&quot;<br>
<br>
So this was the truth about mothers. The toads!<br>
<br>
Still it is best to be careful; and no one knows so quickly as a child<br>
when he should give in. &quot;Wendy, let us [let's] go home,&quot; cried John
and<br>
Michael together.<br>
<br>
&quot;Yes,&quot; she said, clutching them.<br>
<br>
&quot;Not to-night?&quot; asked the lost boys bewildered. They knew in what
they<br>
called their hearts that one can get on quite well without a mother, and<br>
that it is only the mothers who think you can't.<br>
<br>
&quot;At once,&quot; Wendy replied resolutely, for the horrible thought had
come<br>
to her: &quot;Perhaps mother is in half mourning by this time.&quot;<br>
<br>
This dread made her forgetful of what must be Peter's feelings, and<br>
she said to him rather sharply, &quot;Peter, will you make the necessary<br>
arrangements?&quot;<br>
<br>
&quot;If you wish it,&quot; he replied, as coolly as if she had asked him to
pass<br>
the nuts.<br>
<br>
Not so much as a sorry-to-lose-you between them! If she did not mind the<br>
parting, he was going to show her, was Peter, that neither did he.<br>
<br>
But of course he cared very much; and he was so full of wrath against<br>
grown-ups, who, as usual, were spoiling everything, that as soon as he<br>
got inside his tree he breathed intentionally quick short breaths at the<br>
rate of about five to a second. He did this because there is a saying in<br>
the Neverland that, every time you breathe, a grown-up dies; and Peter<br>
was killing them off vindictively as fast as possible.<br>
<br>
Then having given the necessary instructions to the redskins he returned<br>
to the home, where an unworthy scene had been enacted in his absence.<br>
Panic-stricken at the thought of losing Wendy the lost boys had advanced<br>
upon her threateningly.<br>
<br>
&quot;It will be worse than before she came,&quot; they cried.<br>
<br>
&quot;We shan't let her go.&quot;<br>
<br>
&quot;Let's keep her prisoner.&quot;<br>
<br>
&quot;Ay, chain her up.&quot;<br>
<br>
In her extremity an instinct told her to which of them to turn.<br>
<br>
&quot;Tootles,&quot; she cried, &quot;I appeal to you.&quot;<br>
<br>
Was it not strange? She appealed to Tootles, quite the silliest one.<br>
<br>
Grandly, however, did Tootles respond. For that one moment he dropped<br>
his silliness and spoke with dignity.<br>
<br>
&quot;I am just Tootles,&quot; he said, &quot;and nobody minds me. But the
first who<br>
does not behave to Wendy like an English gentleman I will blood him<br>
severely.&quot;<br>
<br>
He drew back his hanger; and for that instant his sun was at noon. The<br>
others held back uneasily. Then Peter returned, and they saw at once<br>
that they would get no support from him. He would keep no girl in the<br>
Neverland against her will.<br>
<br>
&quot;Wendy,&quot; he said, striding up and down, &quot;I have asked the
redskins to<br>
guide you through the wood, as flying tires you so.&quot;<br>
<br>
&quot;Thank you, Peter.&quot;<br>
<br>
&quot;Then,&quot; he continued, in the short sharp voice of one accustomed to
be<br>
obeyed, &quot;Tinker Bell will take you across the sea. Wake her, Nibs.&quot;<br>
<br>
Nibs had to knock twice before he got an answer, though Tink had really<br>
been sitting up in bed listening for some time.<br>
<br>
&quot;Who are you? How dare you? Go away,&quot; she cried.<br>
<br>
&quot;You are to get up, Tink,&quot; Nibs called, &quot;and take Wendy on a
journey.&quot;<br>
<br>
Of course Tink had been delighted to hear that Wendy was going; but<br>
she was jolly well determined not to be her courier, and she said so in<br>
still more offensive language. Then she pretended to be asleep again.<br>
<br>
&quot;She says she won't!&quot; Nibs exclaimed, aghast at such insubordination,<br>
whereupon Peter went sternly toward the young lady's chamber.<br>
<br>
&quot;Tink,&quot; he rapped out, &quot;if you don't get up and dress at once I
will<br>
open the curtains, and then we shall all see you in your negligee<br>
[nightgown].&quot;<br>
<br>
This made her leap to the floor. &quot;Who said I wasn't getting up?&quot; she<br>
cried.<br>
<br>
In the meantime the boys were gazing very forlornly at Wendy, now<br>
equipped with John and Michael for the journey. By this time they were<br>
dejected, not merely because they were about to lose her, but also<br>
because they felt that she was going off to something nice to which they<br>
had not been invited. Novelty was beckoning to them as usual.<br>
<br>
Crediting them with a nobler feeling Wendy melted.<br>
<br>
&quot;Dear ones,&quot; she said, &quot;if you will all come with me I feel
almost sure<br>
I can get my father and mother to adopt you.&quot;<br>
<br>
The invitation was meant specially for Peter, but each of the boys was<br>
thinking exclusively of himself, and at once they jumped with joy.<br>
<br>
&quot;But won't they think us rather a handful?&quot; Nibs asked in the middle
of<br>
his jump.<br>
<br>
&quot;Oh no,&quot; said Wendy, rapidly thinking it out, &quot;it will only mean
having<br>
a few beds in the drawing-room; they can be hidden behind the screens on<br>
first Thursdays.&quot;<br>
<br>
&quot;Peter, can we go?&quot; they all cried imploringly. They took it for
granted<br>
that if they went he would go also, but really they scarcely cared. Thus<br>
children are ever ready, when novelty knocks, to desert their dearest<br>
ones.<br>
<br>
&quot;All right,&quot; Peter replied with a bitter smile, and immediately they<br>
rushed to get their things.<br>
<br>
&quot;And now, Peter,&quot; Wendy said, thinking she had put everything right,<br>
&quot;I am going to give you your medicine before you go.&quot; She loved to
give<br>
them medicine, and undoubtedly gave them too much. Of course it was only<br>
water, but it was out of a bottle, and she always shook the bottle and<br>
counted the drops, which gave it a certain medicinal quality. On this<br>
occasion, however, she did not give Peter his draught [portion], for<br>
just as she had prepared it, she saw a look on his face that made her<br>
heart sink.<br>
<br>
&quot;Get your things, Peter,&quot; she cried, shaking.<br>
<br>
&quot;No,&quot; he answered, pretending indifference, &quot;I am not going with
you,<br>
Wendy.&quot;<br>
<br>
&quot;Yes, Peter.&quot;<br>
<br>
&quot;No.&quot;<br>
<br>
To show that her departure would leave him unmoved, he skipped up and<br>
down the room, playing gaily on his heartless pipes. She had to run<br>
about after him, though it was rather undignified.<br>
<br>
&quot;To find your mother,&quot; she coaxed.<br>
<br>
Now, if Peter had ever quite had a mother, he no longer missed her. He<br>
could do very well without one. He had thought them out, and remembered<br>
only their bad points.<br>
<br>
&quot;No, no,&quot; he told Wendy decisively; &quot;perhaps she would say I was
old,<br>
and I just want always to be a little boy and to have fun.&quot;<br>
<br>
&quot;But, Peter--&quot;<br>
<br>
&quot;No.&quot;<br>
<br>
And so the others had to be told.<br>
<br>
&quot;Peter isn't coming.&quot;<br>
<br>
Peter not coming! They gazed blankly at him, their sticks over their<br>
backs, and on each stick a bundle. Their first thought was that if Peter<br>
was not going he had probably changed his mind about letting them go.<br>
<br>
But he was far too proud for that. &quot;If you find your mothers,&quot; he
said<br>
darkly, &quot;I hope you will like them.&quot;<br>
<br>
The awful cynicism of this made an uncomfortable impression, and most<br>
of them began to look rather doubtful. After all, their faces said, were<br>
they not noodles to want to go?<br>
<br>
&quot;Now then,&quot; cried Peter, &quot;no fuss, no blubbering; good-bye,
Wendy;&quot; and<br>
he held out his hand cheerily, quite as if they must really go now, for<br>
he had something important to do.<br>
<br>
She had to take his hand, and there was no indication that he would<br>
prefer a thimble.<br>
<br>
&quot;You will remember about changing your flannels, Peter?&quot; she said,<br>
lingering over him. She was always so particular about their flannels.<br>
<br>
&quot;Yes.&quot;<br>
<br>
&quot;And you will take your medicine?&quot;<br>
<br>
&quot;Yes.&quot;<br>
<br>
That seemed to be everything, and an awkward pause followed. Peter,<br>
however, was not the kind that breaks down before other people. &quot;Are you<br>
ready, Tinker Bell?&quot; he called out.<br>
<br>
&quot;Ay, ay.&quot;<br>
<br>
&quot;Then lead the way.&quot;<br>
<br>
Tink darted up the nearest tree; but no one followed her, for it was<br>
at this moment that the pirates made their dreadful attack upon the<br>
redskins. Above, where all had been so still, the air was rent with<br>
shrieks and the clash of steel. Below, there was dead silence. Mouths<br>
opened and remained open. Wendy fell on her knees, but her arms were<br>
extended toward Peter. All arms were extended to him, as if suddenly<br>
blown in his direction; they were beseeching him mutely not to desert<br>
them. As for Peter, he seized his sword, the same he thought he had<br>
slain Barbecue with, and the lust of battle was in his eye.<br>
    </div>
    <p class="w3-large"id="questions2">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why do the lost boys initially react negatively to Wendy's departure, and how does Tootles respond to the situation?</p>
        <p>2. What is Peter's attitude toward Wendy's departure, and how does he handle the situation?</p>
        <p>3. Why does Peter tell the boys that if they find their mothers, he hopes they will like them?</p>
    </div>
    <p><a href="#" onclick="show_answer2();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message2" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The lost boys react negatively to Wendy's departure, feeling that it will be worse than before she came. They suggest keeping her as a prisoner or chaining her up. However, Tootles responds with dignity, declaring that he is just Tootles but will severely "blood" (fight) anyone who doesn't behave to Wendy like an English gentleman. This shows Tootles' loyalty and protective stance towards Wendy.</p>
        <p>2. Peter initially pretends indifference to Wendy's departure, insisting that he's not going with her because he wants to remain a little boy and have fun. He plays on his pipes and skips around, trying to show that he's unaffected. However, there's a bitterness in his smile, and it becomes evident that he cares deeply. He ultimately chooses not to accompany Wendy and the others, expressing a desire to remain a perpetual child.</p>
        <p>3. Peter's statement reflects his cynicism and disillusionment with the concept of mothers. He implies that mothers might not be as loving or reliable as the boys believe. This cynicism aligns with Peter's desire to avoid growing up and facing the complexities of adult relationships. The statement adds a somber note to the departure, emphasizing Peter's refusal to confront the idea of having a mother.</p>
    </div>
</div>

<!-- Reading Section 3 -->
<div class="w3-row-padding" style="margin-top:30px; padding-left: 24px; padding-right: 24px;">
    <p class="w3-large"><strong>12. THE CHILDREN ARE CARRIED OFF</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <br>
The pirate attack had been a complete surprise: a sure proof that the<br>
unscrupulous Hook had conducted it improperly, for to surprise redskins<br>
fairly is beyond the wit of the white man.<br>
<br>
By all the unwritten laws of savage warfare it is always the redskin who<br>
attacks, and with the wiliness of his race he does it just before the<br>
dawn, at which time he knows the courage of the whites to be at its<br>
lowest ebb. The white men have in the meantime made a rude stockade on<br>
the summit of yonder undulating ground, at the foot of which a stream<br>
runs, for it is destruction to be too far from water. There they await<br>
the onslaught, the inexperienced ones clutching their revolvers and<br>
treading on twigs, but the old hands sleeping tranquilly until just<br>
before the dawn. Through the long black night the savage scouts wriggle,<br>
snake-like, among the grass without stirring a blade. The brushwood<br>
closes behind them, as silently as sand into which a mole has dived.<br>
Not a sound is to be heard, save when they give vent to a wonderful<br>
imitation of the lonely call of the coyote. The cry is answered by other<br>
braves; and some of them do it even better than the coyotes, who are not<br>
very good at it. So the chill hours wear on, and the long suspense is<br>
horribly trying to the paleface who has to live through it for the first<br>
time; but to the trained hand those ghastly calls and still ghastlier<br>
silences are but an intimation of how the night is marching.<br>
<br>
That this was the usual procedure was so well known to Hook that in<br>
disregarding it he cannot be excused on the plea of ignorance.<br>
<br>
The Piccaninnies, on their part, trusted implicitly to his honour, and<br>
their whole action of the night stands out in marked contrast to his.<br>
They left nothing undone that was consistent with the reputation of<br>
their tribe. With that alertness of the senses which is at once the<br>
marvel and despair of civilised peoples, they knew that the pirates were<br>
on the island from the moment one of them trod on a dry stick; and in<br>
an incredibly short space of time the coyote cries began. Every foot of<br>
ground between the spot where Hook had landed his forces and the<br>
home under the trees was stealthily examined by braves wearing their<br>
mocassins with the heels in front. They found only one hillock with a<br>
stream at its base, so that Hook had no choice; here he must establish<br>
himself and wait for just before the dawn. Everything being thus mapped<br>
out with almost diabolical cunning, the main body of the redskins folded<br>
their blankets around them, and in the phlegmatic manner that is to<br>
them, the pearl of manhood squatted above the children's home, awaiting<br>
the cold moment when they should deal pale death.<br>
<br>
Here dreaming, though wide-awake, of the exquisite tortures to which<br>
they were to put him at break of day, those confiding savages were found<br>
by the treacherous Hook. From the accounts afterwards supplied by such<br>
of the scouts as escaped the carnage, he does not seem even to have<br>
paused at the rising ground, though it is certain that in that grey<br>
light he must have seen it: no thought of waiting to be attacked appears<br>
from first to last to have visited his subtle mind; he would not even<br>
hold off till the night was nearly spent; on he pounded with no policy<br>
but to fall to [get into combat]. What could the bewildered scouts do,<br>
masters as they were of every war-like artifice save this one, but trot<br>
helplessly after him, exposing themselves fatally to view, while they<br>
gave pathetic utterance to the coyote cry.<br>
<br>
Around the brave Tiger Lily were a dozen of her stoutest warriors, and<br>
they suddenly saw the perfidious pirates bearing down upon them. Fell<br>
from their eyes then the film through which they had looked at<br>
victory. No more would they torture at the stake. For them the happy<br>
hunting-grounds was now. They knew it; but as their father's sons they<br>
acquitted themselves. Even then they had time to gather in a phalanx<br>
[dense formation] that would have been hard to break had they risen<br>
quickly, but this they were forbidden to do by the traditions of their<br>
race. It is written that the noble savage must never express surprise in<br>
the presence of the white. Thus terrible as the sudden appearance of the<br>
pirates must have been to them, they remained stationary for a moment,<br>
not a muscle moving; as if the foe had come by invitation. Then, indeed,<br>
the tradition gallantly upheld, they seized their weapons, and the air<br>
was torn with the war-cry; but it was now too late.<br>
<br>
It is no part of ours to describe what was a massacre rather than a<br>
fight. Thus perished many of the flower of the Piccaninny tribe. Not all<br>
unavenged did they die, for with Lean Wolf fell Alf Mason, to disturb<br>
the Spanish Main no more, and among others who bit the dust were Geo.<br>
Scourie, Chas. Turley, and the Alsatian Foggerty. Turley fell to the<br>
tomahawk of the terrible Panther, who ultimately cut a way through the<br>
pirates with Tiger Lily and a small remnant of the tribe.<br>
<br>
To what extent Hook is to blame for his tactics on this occasion is for<br>
the historian to decide. Had he waited on the rising ground till the<br>
proper hour he and his men would probably have been butchered; and in<br>
judging him it is only fair to take this into account. What he should<br>
perhaps have done was to acquaint his opponents that he proposed to<br>
follow a new method. On the other hand, this, as destroying the element<br>
of surprise, would have made his strategy of no avail, so that the whole<br>
question is beset with difficulties. One cannot at least withhold a<br>
reluctant admiration for the wit that had conceived so bold a scheme,<br>
and the fell [deadly] genius with which it was carried out.<br>
<br>
What were his own feelings about himself at that triumphant moment?<br>
Fain [gladly] would his dogs have known, as breathing heavily and wiping<br>
their cutlasses, they gathered at a discreet distance from his hook, and<br>
squinted through their ferret eyes at this extraordinary man. Elation<br>
must have been in his heart, but his face did not reflect it: ever a<br>
dark and solitary enigma, he stood aloof from his followers in spirit as<br>
in substance.<br>
<br>
The night's work was not yet over, for it was not the redskins he had<br>
come out to destroy; they were but the bees to be smoked, so that he<br>
should get at the honey. It was Pan he wanted, Pan and Wendy and their<br>
band, but chiefly Pan.<br>
<br>
Peter was such a small boy that one tends to wonder at the man's hatred<br>
of him. True he had flung Hook's arm to the crocodile, but even this<br>
and the increased insecurity of life to which it led, owing to<br>
the crocodile's pertinacity [persistance], hardly account for a<br>
vindictiveness so relentless and malignant. The truth is that there was<br>
a something about Peter which goaded the pirate captain to frenzy. It<br>
was not his courage, it was not his engaging appearance, it was not--.<br>
There is no beating about the bush, for we know quite well what it was,<br>
and have got to tell. It was Peter's cockiness.<br>
<br>
This had got on Hook's nerves; it made his iron claw twitch, and at<br>
night it disturbed him like an insect. While Peter lived, the tortured<br>
man felt that he was a lion in a cage into which a sparrow had come.<br>
<br>
The question now was how to get down the trees, or how to get his dogs<br>
down? He ran his greedy eyes over them, searching for the thinnest<br>
ones. They wriggled uncomfortably, for they knew he would not scruple<br>
[hesitate] to ram them down with poles.<br>
<br>
In the meantime, what of the boys? We have seen them at the first clang<br>
of the weapons, turned as it were into stone figures, open-mouthed,<br>
all appealing with outstretched arms to Peter; and we return to them as<br>
their mouths close, and their arms fall to their sides. The pandemonium<br>
above has ceased almost as suddenly as it arose, passed like a fierce<br>
gust of wind; but they know that in the passing it has determined their<br>
fate.<br>
<br>
Which side had won?<br>
<br>
The pirates, listening avidly at the mouths of the trees, heard the<br>
question put by every boy, and alas, they also heard Peter's answer.<br>
<br>
&quot;If the redskins have won,&quot; he said, &quot;they will beat the
tom-tom; it is<br>
always their sign of victory.&quot;<br>
<br>
Now Smee had found the tom-tom, and was at that moment sitting on it.<br>
&quot;You will never hear the tom-tom again,&quot; he muttered, but inaudibly
of<br>
course, for strict silence had been enjoined [urged]. To his amazement<br>
Hook signed him to beat the tom-tom, and slowly there came to Smee an<br>
understanding of the dreadful wickedness of the order. Never, probably,<br>
had this simple man admired Hook so much.<br>
<br>
Twice Smee beat upon the instrument, and then stopped to listen<br>
gleefully.<br>
<br>
&quot;The tom-tom,&quot; the miscreants heard Peter cry; &quot;an Indian
victory!&quot;<br>
<br>
The doomed children answered with a cheer that was music to the black<br>
hearts above, and almost immediately they repeated their good-byes<br>
to Peter. This puzzled the pirates, but all their other feelings were<br>
swallowed by a base delight that the enemy were about to come up the<br>
trees. They smirked at each other and rubbed their hands. Rapidly and<br>
silently Hook gave his orders: one man to each tree, and the others to<br>
arrange themselves in a line two yards apart.<br>
    </div>
    <p class="w3-large"id="questions3">------------------------------</p>
    <p class="w3-large" ><strong>Questions</strong></p>
    <div class="w3-row-padding" style="margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. Why does the narrator suggest that the pirate attack was conducted improperly, and what is highlighted about the traditional tactics of redskins in warfare?</p>
        <p>2. Describe the events of the pirate attack and the reaction of the redskins. How did Hook deviate from the usual tactics, and what was the outcome of the battle?</p>
        <p>3. Why does Hook harbor such intense hatred toward Peter, and what specific quality of Peter irritates Hook?</p>
    </div>
    <p><a href="#" onclick="show_answer3();" class="w3-button w3-center w3-light-grey"> Show Answers </a></p>
    <div class="w3-row-padding" id="answer_message3" style="display: none; margin-top:15px; padding-left: 24px; padding-right: 24px; text-align: left;">
        <p>1. The narrator suggests that the pirate attack was improper because it was a complete surprise, and it's stated that to surprise redskins fairly is beyond the wit of the white man. The text highlights that in savage warfare, it is traditionally the redskins who initiate the attack with the cunning of their race, usually just before dawn when the courage of the whites is at its lowest ebb. This sets the stage for the surprise attack that the pirates were not prepared for.</p>
        <p>2. The pirates, led by the treacherous Hook, surprised the redskins with an attack. Instead of following the usual redskin tactics, Hook attacked before the dawn. The redskins, known for their keen senses, were aware of the pirates' presence from the moment they set foot on the island. Despite the surprise, the redskins quickly rallied and prepared for battle. The text describes a massacre where many redskins, including notable individuals like Lean Wolf, Alf Mason, Geo. Scourie, Chas. Turley, and the Alsatian Foggerty, perished. The pirates were successful, and Hook's strategy, while deviating from the norm, proved effective.</p>
        <p>3. Hook's intense hatred toward Peter is not entirely explained, but it is mentioned that something about Peter goaded Hook to frenzy. The text reveals that it was Peter's cockiness that irritated Hook. Peter's confidence, bordering on arrogance, and his fearless demeanor seemed to provoke and disturb Hook. This aspect of Peter's personality seems to be a significant factor in Hook's relentless and malignant vendetta against him.</p>
    </div>
</div>

<script>
function show_answer1() {
    event.preventDefault();
    document.querySelector('#answer_message1').style.display = "block";
    document.querySelector('#questions1').scrollIntoView();

}

function show_answer2() {
    event.preventDefault();
    document.querySelector('#answer_message2').style.display = "block";
    document.querySelector('#questions2').scrollIntoView();

}

function show_answer3() {
    event.preventDefault();
    document.querySelector('#answer_message3').style.display = "block";
    document.querySelector('#questions3').scrollIntoView();

}

</script>
{% endblock %}