{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Reading comprehension with classic.</span><br>
        <span class="w3-xlarge w3-hide-small">Download in app store today </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>

<!-- Audio Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <a href="https://amzn.to/3vJuQpJ" target="_blank">
        <img class="w3-image w3-large w3-hide-small" src="/static/audio.png" alt="audio">
        <img class="w3-image w3-large w3-hide-large w3-hide-medium" src="/static/audio-s.png" alt="audio-s">
    </a>
</div>

<!-- Alice Section -->
<div class="w3-row-padding" style="padding:30px 25px">
    <div class="w3-half w3-margin-bottom">
          <img class="w3-image w3-round-large" src="/static/alice1.png" alt="quotes" style="width:100%;">
          <div class="w3-container w3-white">
            <p style="padding-left: 24px;">
                <a href="{% url 'alice_one' %}">CHAPTER I. Down the Rabbit-Hole</a><br>
                <a href="{% url 'alice_two' %}">CHAPTER II. The Pool of Tears</a><br>
                <a href="{% url 'alice_three' %}">CHAPTER III. A Caucus-Race and a Long Tale</a><br>
                <a href="{% url 'alice_four' %}">CHAPTER IV. The Rabbit Sends in a Little Bill</a><br>
                <a href="{% url 'alice_five' %}">CHAPTER V. Advice from a Caterpillar</a><br>
                <a href="{% url 'alice_six' %}">CHAPTER VI. Pig and Pepper</a><br>
                <a href="{% url 'alice_seven' %}">CHAPTER VII. A Mad Tea-Party</a><br>
                <a href="{% url 'alice_eight' %}">CHAPTER VIII. The Queen’s Croquet-Ground</a><br>
                <a href="{% url 'alice_nine' %}">CHAPTER IX. The Mock Turtle’s Story</a><br>
                <a href="{% url 'alice_ten' %}">CHAPTER X. The Lobster Quadrille</a><br>
                <a href="{% url 'alice_eleven' %}">CHAPTER XI. Who Stole the Tarts?</a><br>
                <a href="{% url 'alice_twelve' %}">CHAPTER XII. Alice’s Evidence</a><br>
            </p>
            <a a href="{% url 'alice_one' %}" class="w3-button w3-light-grey w3-block">Start Now</a>
          </div>
    </div>
    <div class="w3-half w3-margin-bottom">
          <img class="w3-image w3-round-large" src="/static/alice2.png" alt="conversation" style="width:100%;">
          <div class="w3-container w3-white" >
            <p style="padding-left: 24px;">
                <a href="{% url 'glass_one' %}">CHAPTER I. Looking-Glass house</a><br>
                <a href="{% url 'glass_two' %}">CHAPTER II. The Garden of Live Flowers</a><br>
                <a href="{% url 'glass_three' %}">CHAPTER III. Looking-Glass Insects</a><br>
                <a href="{% url 'glass_four' %}">CHAPTER IV. Tweedledum And Tweedledee</a><br>
                <a href="{% url 'glass_five' %}">CHAPTER V. Wool and Water</a><br>
                <a href="{% url 'glass_six' %}">CHAPTER VI. Humpty Dumpty</a><br>
                <a href="{% url 'glass_seven' %}">CHAPTER VII. The Lion and the Unicorn</a><br>
                <a href="{% url 'glass_eight' %}">CHAPTER VIII. 'It's my own Invention'</a><br>
                <a href="{% url 'glass_nine' %}">CHAPTER IX. Queen Alice</a><br>
                <a href="{% url 'glass_ten' %}">CHAPTER X. Shaking</a><br>
                <a href="{% url 'glass_ten' %} ">CHAPTER XI. Waking</a>
            </p>
            <a href="{% url 'glass_one' %}" class="w3-button w3-light-grey w3-block">Start Now</a>
          </div>
    </div>
</div>

<!-- Children Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <a href="https://amzn.to/3JlsLmM" target="_blank">
        <img class="w3-image w3-large w3-hide-small" src="/static/children.png" alt="children">
        <img class="w3-image w3-large w3-hide-large w3-hide-medium" src="/static/children-s.png" alt="children-s">
    </a>
</div>

<!-- Treasure Island Section -->
<div class="w3-row-padding" style="padding:30px 25px">
    <div class="w3-half w3-margin-bottom">
          <img class="w3-image w3-round-large" src="/static/treasure.png" alt="quotes" style="width:100%;">
          <div class="w3-container w3-white">
            <p style="padding-left: 24px;">
                <a href="{% url 'treasure_one' %}">Part I. The Old Buccaneer</a><br>
                <a href="{% url 'treasure_two' %}">Part II. The Sea Cook</a><br>
                <a href="{% url 'treasure_three' %}">Part III. My Shore Adventure</a><br>
                <a href="{% url 'treasure_four' %}">Part IV. The Stockade</a><br>
                <a href="{% url 'treasure_five' %}">Part V. My Sea Adventure</a><br>
                <a href="{% url 'treasure_six' %}">Part VI. Captain Silver</a><br>
            </p>
            <a a href="{% url 'treasure_one' %}" class="w3-button w3-light-grey w3-block">Start Now</a>
          </div>
    </div>
    <div class="w3-half w3-margin-bottom">
          <img class="w3-image w3-round-large" src="/static/pan.png" alt="conversation" style="width:100%;">
          <div class="w3-container w3-white" >
            <p style="padding-left: 24px;">
                <a href="{% url 'peter_one' %}">Chapter 1 Peter Breaks Through, Chapter 2, 3</a><br>
                <a href="{% url 'peter_two' %}">Chapter 4 The Flight, Chapter 5, 6</a><br>
                <a href="{% url 'peter_three' %}">Chapter 7 The Home Under The Ground, Chapter 8, 9</a><br>
                <a href="{% url 'peter_four' %}">Chapter 10 The Happy Home, Chapter 11, 12</a><br>
                <a href="{% url 'peter_five' %}">Chapter 13 Do you Believe in Fairies, Chapter 14, 15</a><br>
                <a href="{% url 'peter_six' %}">Chapter 16 The Return Home, Chapter 17</a><br>
            </p>
            <a href="{% url 'peter_one' %}" class="w3-button w3-light-grey w3-block">Start Now</a>
          </div>
    </div>
</div>

<!-- Black Beauty Section -->
<div class="w3-row-padding" style="padding:30px 25px">
    <div class="w3-half w3-margin-bottom">
          <img class="w3-image w3-round-large" src="/static/black.png" alt="quotes" style="width:100%;">
          <div class="w3-container w3-white">
            <p style="padding-left: 24px;">
                <a href="{% url 'black_one' %}">Chapter 1 - 5 My Early Home</a><br>
                <a href="{% url 'black_two' %}">Chapter 6 - 10 Liberty</a><br>
                <a href="{% url 'black_three' %}">Chapter 11 - 15 Plain Speaking</a><br>
                <a href="{% url 'black_four' %}">Chapter 16 - 20 The Fire</a><br>
                <a href="{% url 'black_five' %}">Chapter 21 - 25 The Parting</a><br>
                <a href="{% url 'black_six' %}">Chapter 26 - 30 How it Ended</a><br>
                <a href="{% url 'black_seven' %}">Chapter 31 - 35 A Humbug</a><br>
                <a href="{% url 'black_eight' %}">Chapter 36 - 40 The Sunday Cab</a><br>
                <a href="{% url 'black_nine' %}">Chapter 41 - 45 The Butcher</a><br>
                <a href="{% url 'black_ten' %}">Chapter 46 - 49 Jakes and the Lady</a><br>
            </p>
            <a a href="{% url 'black_one' %}" class="w3-button w3-light-grey w3-block">Start Now</a>
          </div>
    </div>
    <div class="w3-half w3-margin-bottom">
          <img class="w3-image w3-round-large" src="/static/andersen.png" alt="conversation" style="width:100%;">
          <div class="w3-container w3-white" >
            <p style="padding-left: 24px;">
                <a href="{% url 'fairy_one' %}">The Emperor's New Clothes | The Swineherd | The Real Princess</a><br>
                <a href="{% url 'fairy_two' %}">The Shoes of Fortune Part I</a><br>
                <a href="{% url 'fairy_three' %}">The Shoes of Fortune Part II</a><br>
                <a href="{% url 'fairy_four' %}">The Fir Tree | The Snow Queen </a><br>
                <a href="{% url 'fairy_five' %}">The Leap-Frog | The Elderbush | The Bell | The Old House</a><br>
                <a href="{% url 'fairy_six' %}">The Happy Family | The Story of a Mother | The False Collar</a><br>
                <a href="{% url 'fairy_seven' %}">The Shadow | The Little Match Girl | The Dream of Little Tuk</a><br>
                <a href="{% url 'fairy_eight' %}">The Naughty Boy | The Red Shoes</a><br>
            </p>
            <a href="{% url 'fairy_one' %}" class="w3-button w3-light-grey w3-block">Start Now</a>
          </div>
    </div>
</div>



{% endblock %}

{% block content1 %}





<script>


</script>


{% endblock %}