{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
    <span class="w3-large"></span><br><br>
    <span class="w3-xxlarge w3-hide-small">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-large w3-hide-medium">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-small">Download in app store today </span>
    <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
    <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
  </div>
</header>

<!-- about Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <p class="w3-xlarge">About Wordier</p>
    <div class="w3-row-padding" style="margin-top:15px; text-align: justify; padding: 0 20px;">
        <p>Know that if you come to this page, you must be interested in Wordier and its creater. Wordier was launched on Apple store and Google place in late 2020, old name is 'Vocgo'. The original intent was simply to prepare exercises and English learning for the creater's daughter.</p>
        <p>It became popular, friends and families saw value using the app. As the daughter grew, more and more senior features were added as well as games. Hangman is great especially when you and family are on a long boring car trip.</p>
        <p>This website was created to host more complex vocabulary and writing exercises which are difficult to perform on a mobile.</p>
        <p>Both the Wordier app and the site are free, and don't require user information. So enjoy with a peace of mind! </p>
        <p>If you want to contact us for any business opportunity, please hit us up in twitter, <a href="https://twitter.com/VocgoApp">wordier or @vocgoapp.</a></p>
        <p>You can find the app's <a href="{% url 'privacy' %}">privacy statement here.</a></p>
    </div>
</div>

{% endblock %}