{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
    <span class="w3-large"></span><br><br>
    <span class="w3-xxlarge w3-hide-small">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-large w3-hide-medium">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-small">Download in app store today </span>
    <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
    <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
  </div>
</header>

<!-- about Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <p class="w3-xlarge">About The Chat AI Domains</p>
    <div class="w3-row-padding" style="margin-top:15px; text-align: justify; padding: 0 20px;">
        <p>When ChatGPT launched, I was passionate about it and became a true believer of its revolutional power. To show my support, I bought 3 domains:
        <ul>
          <li><strong>ai-chat.com.au</strong></li>
          <li><strong>chat-ai.com.au</strong></li>
          <li><strong>aichats.com.au</strong></li>
        </ul>
        <p>I haven't decided how I want to use them, if you have an idea or want to buy the domains, please hit us up in twitter, <a href="https://twitter.com/VocgoApp">wordier or @vocgoapp.</a></p>
        <p> </p>
    </div>
</div>

{% endblock %}