{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    @media (max-width: 600px) {
        .responsive-textarea {
            width: 100%;
            height: 80px;
        }
    }

    @media (min-width: 601px) and (max-width: 992px) {
        .responsive-textarea {
            width: 80%;
            height: 80px;
        }
    }

    @media (min-width: 993px) {
        .responsive-textarea {
            width: 60%;
            height: 100px;
        }
    }

</style>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
    <span class="w3-large"></span><br><br>
    <span class="w3-xxlarge w3-hide-small">WordierAI Opens for Testing.</span><br>
    <span class="w3-xlarge w3-hide-large w3-hide-medium">WordierAI Opens for Testing.</span><br>
    <span class="w3-xlarge w3-hide-small">Download in app store today </span>
    <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
    <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
  </div>
</header>

<section id="ai"></section>

<br>
<script>
function setInstructionType(type) {
    document.getElementById('instruction_type').value = type;
    var number = type;
    console.log("Selected instruction type:" + number);

}

function setLabelType(type) {
        var promptLabel = document.getElementById('prompt_label');
        var message = '';

        switch(type) {
            case 1:
                message = '<b>Explainer:</b> ask me a question, such as <br>How does DNA replication occur? <br>Can you explain the concept of opportunity cost in economics? <br>What are the main causes and effects of global warming?';
                break;
            case 2:
                message = '<b>Writer:</b> I can write a story, a descriptive text or a persuasive argument! <br>Give me a hint on what you want to write. <br>you can say, describe a chill winter morning in New York city. <br>Why is biodiversity important.';
                break;
            case 3:
                message = '<b>Researcher:</b> I am your research assistant. Give me a topic, I can tell you facts, events, viewpoints, timeline, causes and effects.';
                break;
            case 4:
                message = '<b>Tasker:</b> Try to do something you have never done? Let me break down to steps for you. <br>You can ask, what are the steps to grow strawberries? <br>Tell me how to bake a cheesecake?';
                break;
            default:
                message = 'Your message:';
        }

        promptLabel.innerHTML = message;
        document.getElementById('instruction_type').value = type;
    }
</script>

<!-- Chat Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <div class="w3-row-padding" style="margin-top:15px; text-align: justify; padding: 0 20px;">
        <form method="POST">
            {% csrf_token %}
            <!-- Filter Buttons -->
            <div class="w3-hide-small w3-hide-medium">
                <a href="#ai" class="w3-button w3-purple" type="button" onclick="setInstructionType(1); setLabelType(1)"><i class="fa fa-comments-o"> </i> Explainer+</a>
                <a href="#ai" class="w3-button w3-purple" type="button" onclick="setInstructionType(2); setLabelType(2)"><i class="fa fa-book"> </i> Writer+</a>
                <a href="#ai" class="w3-button w3-purple" type="button" onclick="setInstructionType(3); setLabelType(3)"><i class="fa fa fa-graduation-cap"> </i> Researcher+</a>
                <a href="#ai" class="w3-button w3-purple" type="button" onclick="setInstructionType(4); setLabelType(4)"><i class="fa fa-list-ul"> </i> Tasker+</a>
            </div>
            <div class="w3-hide-large">
                <div>
                    <a href="#ai" class="w3-button w3-purple" style="margin-bottom: 5px; display: block;" type="button" onclick="setInstructionType(1); setLabelType(1)"><i class="fa fa-comments-o"> </i> Explainer+</a>
                    <a href="#ai" class="w3-button w3-purple" style="margin-bottom: 5px; display: block;" type="button" onclick="setInstructionType(2); setLabelType(2)"><i class="fa fa-book"> </i> Writer+</a>
                    <a href="#ai" class="w3-button w3-purple" style="margin-bottom: 5px; display: block;" type="button" onclick="setInstructionType(3); setLabelType(3)"><i class="fa fa fa-graduation-cap"> </i> Researcher+</a>
                    <a href="#ai" class="w3-button w3-purple" style="margin-bottom: 5px; display: block;" type="button" onclick="setInstructionType(4); setLabelType(4)"><i class="fa fa-list-ul"> </i> Tasker+</a>
                </div>
            </div>
            <br>
            <label id="prompt_label" for="user_prompt"><b>Select an engine above, key in your message:</b></label><br><br>
            <textarea id="user_prompt" name="user_prompt" class="responsive-textarea">{{ user_input }}</textarea><br><br>
            <!-- Hidden input to store the selected instruction type -->
            <input type="hidden" id="instruction_type" name="instruction_type" value="1">

            <input type="submit" value="Send">
        </form>
        <p class="w3-large">Wordier AI:</p>
        <p>{{ generated_text|safe }}</p>
    </div>
</div>

<!-- Prime Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <a href="https://amzn.to/4cYDL7q" target="_blank">
        <img class="w3-image w3-large w3-hide-small" src="/static/prime.png" alt="prime">
        <img class="w3-image w3-large w3-hide-large w3-hide-medium" src="/static/prime-s.png" alt="prime-s">
    </a>
</div>

<!-- Audio Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <a href="https://amzn.to/3vJuQpJ" target="_blank">
        <img class="w3-image w3-large w3-hide-small" src="/static/audio.png" alt="audio">
        <img class="w3-image w3-large w3-hide-large w3-hide-medium" src="/static/audio-s.png" alt="audio-s">
    </a>
</div>


{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

document.addEventListener('DOMContentLoaded', (event) => {
    const textarea = document.getElementById('user_prompt');
    textarea.addEventListener('keydown', function(event) {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault();
            this.form.submit();
        }
    });
});
</script>