{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-xxlarge w3-hide-small">Today's Quote and Joke</span><br>
        <span class="w3-xlarge w3-hide-large w3-hide-medium">Today's Quote and Joke</span><br>
        <span class="w3-large" style="word-wrap: break-word; max-width: 500px;">{{ quote }}</span><br><br>
        <span class="w3-large">{{ joke }}</span><br>
        <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Download Wordier in app store today</a></p>
    </div>
</header>



<!-- dictionary Section -->
<div class="w3-row-padding w3-center" style="margin-top:64px">
    <p class="w3-center w3-large"><strong>Search Vocabulary Definition</strong></p>
    <form method="post" action="{% url 'dict_view' %}">
    {% csrf_token %}
        <input type="text" name="user_input" id="user_input">
        <input type="submit" value="GO">
    </form>
</div>

{% endblock %}

{% block content1 %}



<!-- Primary Words Section -->
<div class="w3-container w3-light-grey" style="padding:65px 25px">
  <div class="w3-row-padding" style="margin-top:15px">
    <div class="w3-col m6">
        <p class="w3-xlarge">Primary Words</p>
        <p class="w3-large">Learn vocabulary in Woridier, daily refresh of 10 words.</p>
        <p><strong>{{ w1 }}</strong></p>
        <p>{{ m1 }}</p>
        <p><strong>{{ w2 }}</strong></p>
        <p>{{ m2 }}</p>
        <p><a href="/pswords" class="w3-button w3-black"><i class="fa fa-th"> </i> Learn More Words</a></p>
        <p><a href="/seniorwords" class="w3-button w3-black"><i class="fa fa-th"> </i> Difficult Words</a></p>
    </div>
    <div class="w3-col m6">
        <img class="w3-image w3-round-large" src="https://www.w3schools.com/w3images/phone_buildings.jpg" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>

<!-- Jokes Section -->
<div class="w3-container" style="padding:75px 25px">
    <div class="w3-row-padding" style="margin-top:15px">
        <div class="w3-col m6" style="padding: 0px 10px">
            <img class="w3-image w3-round-large" src="https://www.w3schools.com/w3images/ocean2.jpg" alt="Buildings" width="1000" height="394">
        </div>
        <div class="w3-col m6" style="padding: 0px 10px">
            <p class="w3-xlarge">Cracking Jokes</p>
            <p class="w3-large">"A day without laughter is a day wasted.".</p>
            <p><strong>{{ jq1 }}</strong>    {{ ja1 }}</p>
            <p><strong>{{ jq2 }}</strong>    {{ ja2 }}</p>
            <p><strong>{{ jq3 }}</strong>    {{ ja3 }}</p>
            <p><strong>{{ jq4 }}</strong>    {{ ja4 }}</p>
            <p><a href="/jokes_quotes" class="w3-button w3-black"><i class="fa fa-th"> </i> Read More Jokes and Quotes</a></p>
        </div>
    </div>
</div>

<!-- Choice Section -->
<div class="w3-container w3-center w3-light-grey" style="padding:25px 25px">
    <a href = "/choice_helper">
        <p class="w3-large">Difficult to make a choice? Try our Choice Helper!</p>
    </a>
</div>

<!-- Quotes and Conversations -->
<div class="w3-row-padding" style="padding:75px 25px">
    <div class="w3-half w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/ocean2.jpg" alt="Norway" style="width:100%; height:30%;">
          <div class="w3-container w3-white">
            <p class="w3-xlarge">Inspirational Quotes</p>
            <p>{{ q1 }}</p>
            <p>{{ q2 }}</p>
            <p>{{ q3 }}</p>
            <p>{{ q4 }}</p>
            <a href="/quotes" class="w3-button w3-light-grey w3-block">Search Quotes</a>
          </div>
    </div>
    <div class="w3-half w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/mountains2.jpg" alt="Austria" style="width:100%; height:30%;">
          <div class="w3-container w3-white" >
            <p class="w3-xlarge">Conversation Starters</p>
            <p>{{ cq1 }}</p>
            <p>{{ cq2 }}</p>
            <p>{{ cq3 }}</p>
            <p>{{ cq4 }}</p>
            <a href="/conversations" class="w3-button w3-light-grey w3-block">More Conversation Ideas</a>
          </div>
    </div>
</div>

<script>
  var isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
  var isAndroid = /Android/.test(navigator.userAgent);
  var link = document.querySelector("a.w3-button");

  if (isIOS) {
    link.href = "https://apps.apple.com/us/app/wordier/id1600186527";
  } else if (isAndroid) {
    link.href = "https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp";
  }
</script>


{% endblock %}