{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
    <span class="w3-large"></span><br><br>
    <span class="w3-xxlarge w3-hide-small">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-large w3-hide-medium">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-small">Download in app store today </span>
    <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
    <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
  </div>
</header>

<!-- Search Quotes Section -->
<div class="w3-row-padding w3-center">
    <p class="w3-center w3-large"><strong>Search Quotes</strong></p>
    <form method="POST" action="{% url 'quotes' %}">
    {% csrf_token %}
        <input type="text" name="key_word" id="key_word">
        <input type="submit" value="GO">
    </form>
    {% if quote1 %}
    <p>{{ quote1 }}</p>
    {% endif %}
    {% if quote2 %}
    <p>{{ quote2 }}</p>
    {% endif %}
    {% if quote3 %}
    <p>{{ quote3 }}</p>
    {% endif %}
    {% if quote4 %}
    <p>{{ quote4 }}</p>
    {% endif %}
    <p>{{ quote5 }}</p>
</div>

<!-- Quotes Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <p class="w3-xlarge">Inspirational Quotes</p>
    <div class="w3-row-padding" style="margin-top:15px">
        <p>{{ q1 }}</p>
        <p>{{ q2 }}</p>
        <p>{{ q3 }}</p>
        <p>{{ q4 }}</p>
        <p>{{ q5 }}</p>
        <p>{{ q6 }}</p>
        <p>{{ q7 }}</p>
        <p>{{ q8 }}</p>
    </div>
    <p><a href="#" onclick="location.reload();" class="w3-button w3-center w3-light-grey"><i class="fa fa-refresh"> </i> Refresh</a>
</div>


{% endblock %}