{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
    <span class="w3-large"></span><br><br>
    <span class="w3-xxlarge w3-hide-small">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-large w3-hide-medium">Learn in games and laughter.</span><br>
    <span class="w3-xlarge w3-hide-small">Download in app store today </span>
    <span class="w3-large w3-hide-large w3-hide-medium">Download in app store today </span><br>
    <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
  </div>
</header>

<!-- Senior Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <p class="w3-xlarge">Senior Words</p>
    <div class="w3-row-padding" style="margin-top:15px">
        <div class="w3-col m6" style="padding: 0px 10px">
            <p><strong>{{ ws1 }}</strong></p>
            <p>{{ ms1 }}</p>
            <p><strong>{{ w2 }}</strong></p>
            <p>{{ ms2 }}</p>
            <p><strong>{{ ws3 }}</strong></p>
            <p>{{ ms3 }}</p>
            <p><strong>{{ ws4 }}</strong></p>
            <p>{{ ms4 }}</p>
        </div>
        <div class="w3-col m6" style="padding: 0px 10px">
            <p><strong>{{ ws6 }}</strong></p>
            <p>{{ ms6 }}</p>
            <p><strong>{{ ws7 }}</strong></p>
            <p>{{ ms7 }}</p>
            <p><strong>{{ ws8 }}</strong></p>
            <p>{{ ms8 }}</p>
            <p><strong>{{ ws9 }}</strong></p>
            <p>{{ ms9 }}</p>
        </div>
    </div>
    <p><a href="#" onclick="location.reload();" class="w3-button w3-center w3-light-grey"><i class="fa fa-refresh"> </i> Refresh</a>
</div>

<!-- Prime Section -->
<div class="w3-row-padding w3-center" style="margin-top:30px">
    <a href="https://amzn.to/3O2fOks" target="_blank">
        <img class="w3-image w3-large w3-hide-small" src="/static/prime.png" alt="prime">
        <img class="w3-image w3-large w3-hide-large w3-hide-medium" src="/static/prime-s.png" alt="prime-s">
    </a>
</div>

{% endblock %}