{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>

<!-- Thesaurus Section -->
<div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-row-padding" style="margin-top:15px">
        <p class="w3-large"><strong>{{ the_question }}</strong></p>
        <button class="w3-button w3-large" onclick="compare_answer('{{ word1 }}')">{{ word1 }}</button>
        <button class="w3-button w3-large" onclick="compare_answer('{{ word2 }}')">{{ word2 }}</button>
        <button class="w3-button w3-large" onclick="compare_answer('{{ word3 }}')">{{ word3 }}</button>
        <button class="w3-button w3-large" onclick="compare_answer('{{ word4 }}')">{{ word4 }}</button>
        <p style="display: none">{{ answer_letter }}</p>
        <p class="w3-xlarge" id="result-message"><strong></strong></p>
    </div>
    <p><a href="#" onclick="location.reload();" class="w3-button w3-center w3-light-grey"><i class="fa fa-refresh"> </i> Refresh</a>
</div>



<script>
function compare_answer(selected_answer) {
    // Get the correct answer from the hidden answer_letter variable
    var correct_answer = document.querySelector('p[style="display: none"]').textContent.trim();

    // Extract the first character of the selected answer
    var selected_letter = selected_answer.charAt(0);

    // Compare the selected letter with the correct answer letter
    if (selected_letter === correct_answer) {
        // Display "Correct answer!" message in the result-message element
        document.getElementById("result-message").textContent = "Bingo!";
        document.getElementById("result-message").style.color = "green";
    } else {
        // Display "Incorrect answer." message in the result-message element
        document.getElementById("result-message").textContent = "Wrong, try again.";
        document.getElementById("result-message").style.color = "red";
    }
}

</script>
{% endblock %}