<!-- templates/includes/header.html -->
<header class="bgimg-3 w3-display-container" id="book">
    <div class="w3-display-left w3-text-white" style="padding:20px 20px 20px 48px">
        <span class="w3-large"></span><br><br>
        <span class="w3-xxlarge w3-hide-small">Micro Learning: One Book A Day</span><br>
        <span class="w3-large w3-hide-large w3-hide-medium">Micro Learning: A Book A Day</span><br>
        <span class="w3-xlarge w3-hide-small">Download Wordier in app store </span>
        <span class="w3-large w3-hide-large w3-hide-medium">Download Wordier in app store </span><br>
        <a href="https://apps.apple.com/us/app/wordier/id1600186527" target="_blank"><i class="fa fa-apple w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
        <a href="https://play.google.com/store/apps/details?id=org.jesscarlett.vocabugoapp" target="_blank"><i class="fa fa-android w3-hover-opacity w3-text-white w3-xxlarge" style="padding:10px 10px"></i></a>
    </div>
</header>
